openapi: 3.2.0
info:
  title: Litellm API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Litellm
paths:
  /litellm/.well-known/litellm-ui-config:
    get:
      summary: Get Ui Config
      operationId: get_ui_config_litellm__well_known_litellm_ui_config_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UiDiscoveryEndpoints'
      tags:
      - Litellm
components:
  schemas:
    UiDiscoveryEndpoints:
      properties:
        server_root_path:
          type: string
          title: Server Root Path
        proxy_base_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Proxy Base Url
        auto_redirect_to_sso:
          type: boolean
          title: Auto Redirect To Sso
        admin_ui_disabled:
          type: boolean
          title: Admin Ui Disabled
        sso_configured:
          type: boolean
          title: Sso Configured
        hide_default_credentials_hint:
          type: boolean
          title: Hide Default Credentials Hint
          default: false
        is_control_plane:
          type: boolean
          title: Is Control Plane
          default: false
        workers:
          items:
            $ref: '#/components/schemas/WorkerRegistryEntry'
          type: array
          title: Workers
          default: []
      type: object
      required:
      - server_root_path
      - proxy_base_url
      - auto_redirect_to_sso
      - admin_ui_disabled
      - sso_configured
      title: UiDiscoveryEndpoints
    WorkerRegistryEntry:
      properties:
        worker_id:
          type: string
          title: Worker Id
        name:
          type: string
          title: Name
        url:
          type: string
          title: Url
      type: object
      required:
      - worker_id
      - name
      - url
      title: WorkerRegistryEntry
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
