openapi: 3.2.0
info:
  title: LiteLLM Langfuse Passthrough API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: langfuse_passthrough
paths:
  /langfuse/{endpoint}:
    delete:
      description: 'Call Langfuse via LiteLLM proxy. Works with Langfuse SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/langfuse)'
      operationId: langfuse_proxy_route_langfuse__endpoint__delete
      parameters:
      - in: path
        name: endpoint
        required: true
        schema:
          title: Endpoint
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Langfuse Proxy Route
      tags:
      - langfuse_passthrough
    get:
      description: 'Call Langfuse via LiteLLM proxy. Works with Langfuse SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/langfuse)'
      operationId: langfuse_proxy_route_langfuse__endpoint__get
      parameters:
      - in: path
        name: endpoint
        required: true
        schema:
          title: Endpoint
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Langfuse Proxy Route
      tags:
      - langfuse_passthrough
    patch:
      description: 'Call Langfuse via LiteLLM proxy. Works with Langfuse SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/langfuse)'
      operationId: langfuse_proxy_route_langfuse__endpoint__patch
      parameters:
      - in: path
        name: endpoint
        required: true
        schema:
          title: Endpoint
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Langfuse Proxy Route
      tags:
      - langfuse_passthrough
    post:
      description: 'Call Langfuse via LiteLLM proxy. Works with Langfuse SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/langfuse)'
      operationId: langfuse_proxy_route_langfuse__endpoint__post
      parameters:
      - in: path
        name: endpoint
        required: true
        schema:
          title: Endpoint
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Langfuse Proxy Route
      tags:
      - langfuse_passthrough
    put:
      description: 'Call Langfuse via LiteLLM proxy. Works with Langfuse SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/langfuse)'
      operationId: langfuse_proxy_route_langfuse__endpoint__put
      parameters:
      - in: path
        name: endpoint
        required: true
        schema:
          title: Endpoint
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Langfuse Proxy Route
      tags:
      - langfuse_passthrough
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
