openapi: 3.2.0
info:
  title: LiteLLM Compliance API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: compliance
paths:
  /compliance/eu-ai-act:
    post:
      description: 'Check EU AI Act compliance for a spend log entry.


        Checks:

        - Art. 9: Guardrails applied (any guardrail)

        - Art. 5: Content screened before LLM (pre-call guardrails)

        - Art. 12: Audit record complete (user_id, model, timestamp, guardrail_results)'
      operationId: check_eu_ai_act_compliance_compliance_eu_ai_act_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceCheckRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Check Eu Ai Act Compliance
      tags:
      - compliance
  /compliance/gdpr:
    post:
      description: 'Check GDPR compliance for a spend log entry.


        Checks:

        - Art. 32: Data protection applied (pre-call guardrails)

        - Art. 5(1)(c): Sensitive data protected (masked/blocked or no issues)

        - Art. 30: Audit record complete (user_id, model, timestamp, guardrail_results)'
      operationId: check_gdpr_compliance_compliance_gdpr_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceCheckRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Check Gdpr Compliance
      tags:
      - compliance
components:
  schemas:
    ComplianceCheckResult:
      description: Result of a single compliance check.
      properties:
        article:
          title: Article
          type: string
        check_name:
          title: Check Name
          type: string
        detail:
          title: Detail
          type: string
        passed:
          title: Passed
          type: boolean
      required:
      - check_name
      - article
      - passed
      - detail
      title: ComplianceCheckResult
      type: object
    ComplianceResponse:
      description: Response from a compliance check endpoint.
      properties:
        checks:
          items:
            $ref: '#/components/schemas/ComplianceCheckResult'
          title: Checks
          type: array
        compliant:
          title: Compliant
          type: boolean
        regulation:
          title: Regulation
          type: string
      required:
      - compliant
      - regulation
      - checks
      title: ComplianceResponse
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ComplianceCheckRequest:
      description: 'Request payload for compliance check endpoints.


        Mirrors the spend log fields needed for compliance evaluation.'
      properties:
        guardrail_information:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Guardrail Information
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
        request_id:
          title: Request Id
          type: string
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Timestamp
        user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: User Id
      required:
      - request_id
      title: ComplianceCheckRequest
      type: object
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
