openapi: 3.2.0
info:
  title: LiteLLM Apply Guardrail API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Apply Guardrail
paths:
  /apply_guardrail:
    post:
      summary: Apply Guardrail
      description: 'Apply a guardrail to text input and return the processed result.


        This endpoint allows testing guardrails by applying them to custom text inputs.'
      operationId: apply_guardrail_apply_guardrail_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyGuardrailRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyGuardrailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      tags:
      - Apply Guardrail
components:
  schemas:
    ApplyGuardrailRequest:
      properties:
        guardrail_name:
          type: string
          title: Guardrail Name
        text:
          type: string
          title: Text
        language:
          anyOf:
          - type: string
          - type: 'null'
          title: Language
        entities:
          anyOf:
          - items:
              $ref: '#/components/schemas/PiiEntityType'
            type: array
          - type: 'null'
          title: Entities
        input_type:
          type: string
          title: Input Type
          default: request
        messages:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Messages
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
      type: object
      required:
      - guardrail_name
      - text
      title: ApplyGuardrailRequest
    PiiEntityType:
      type: string
      enum:
      - CREDIT_CARD
      - CRYPTO
      - DATE_TIME
      - EMAIL_ADDRESS
      - IBAN_CODE
      - IP_ADDRESS
      - NRP
      - LOCATION
      - PERSON
      - PHONE_NUMBER
      - MEDICAL_LICENSE
      - URL
      - US_BANK_NUMBER
      - US_DRIVER_LICENSE
      - US_ITIN
      - US_PASSPORT
      - US_SSN
      - UK_NHS
      - UK_NINO
      - UK_PASSPORT
      - UK_POSTCODE
      - UK_VEHICLE_REGISTRATION
      - ES_NIF
      - ES_NIE
      - IT_FISCAL_CODE
      - IT_DRIVER_LICENSE
      - IT_VAT_CODE
      - IT_PASSPORT
      - IT_IDENTITY_CARD
      - PL_PESEL
      - SG_NRIC_FIN
      - SG_UEN
      - AU_ABN
      - AU_ACN
      - AU_TFN
      - AU_MEDICARE
      - IN_PAN
      - IN_AADHAAR
      - IN_VEHICLE_REGISTRATION
      - IN_VOTER
      - IN_PASSPORT
      - FI_PERSONAL_IDENTITY_CODE
      title: PiiEntityType
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ApplyGuardrailResponse:
      properties:
        response_text:
          type: string
          title: Response Text
      type: object
      required:
      - response_text
      title: ApplyGuardrailResponse
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
