openapi: 3.2.0
info:
  title: LiteLLM Interactions API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: interactions
paths:
  /interactions:
    post:
      tags:
      - interactions
      summary: Create Interaction
      description: "Create a new interaction using Google's Interactions API.\n\nPer OpenAPI spec: POST /{api_version}/interactions\n\nSupports both model interactions and agent interactions:\n- Model: Provide `model` parameter (e.g., \"gemini-2.5-flash\")\n- Agent: Provide `agent` parameter (e.g., \"deep-research-pro-preview-12-2025\")\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1beta/interactions\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"model\": \"gemini/gemini-2.5-flash\",\n        \"input\": \"Hello, how are you?\"\n    }'\n```"
      operationId: create_interaction_interactions_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1beta/interactions:
    post:
      tags:
      - interactions
      summary: Create Interaction
      description: "Create a new interaction using Google's Interactions API.\n\nPer OpenAPI spec: POST /{api_version}/interactions\n\nSupports both model interactions and agent interactions:\n- Model: Provide `model` parameter (e.g., \"gemini-2.5-flash\")\n- Agent: Provide `agent` parameter (e.g., \"deep-research-pro-preview-12-2025\")\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1beta/interactions\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"model\": \"gemini/gemini-2.5-flash\",\n        \"input\": \"Hello, how are you?\"\n    }'\n```"
      operationId: create_interaction_v1beta_interactions_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /interactions/{interaction_id}:
    get:
      tags:
      - interactions
      summary: Get Interaction
      description: 'Get an interaction by ID.


        Per OpenAPI spec: GET /{api_version}/interactions/{interaction_id}'
      operationId: get_interaction_interactions__interaction_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
          title: Interaction Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - interactions
      summary: Delete Interaction
      description: 'Delete an interaction by ID.


        Per OpenAPI spec: DELETE /{api_version}/interactions/{interaction_id}'
      operationId: delete_interaction_interactions__interaction_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
          title: Interaction Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1beta/interactions/{interaction_id}:
    get:
      tags:
      - interactions
      summary: Get Interaction
      description: 'Get an interaction by ID.


        Per OpenAPI spec: GET /{api_version}/interactions/{interaction_id}'
      operationId: get_interaction_v1beta_interactions__interaction_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
          title: Interaction Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - interactions
      summary: Delete Interaction
      description: 'Delete an interaction by ID.


        Per OpenAPI spec: DELETE /{api_version}/interactions/{interaction_id}'
      operationId: delete_interaction_v1beta_interactions__interaction_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
          title: Interaction Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /interactions/{interaction_id}/cancel:
    post:
      tags:
      - interactions
      summary: Cancel Interaction
      description: 'Cancel an interaction by ID.


        Per OpenAPI spec: POST /{api_version}/interactions/{interaction_id}:cancel'
      operationId: cancel_interaction_interactions__interaction_id__cancel_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
          title: Interaction Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1beta/interactions/{interaction_id}/cancel:
    post:
      tags:
      - interactions
      summary: Cancel Interaction
      description: 'Cancel an interaction by ID.


        Per OpenAPI spec: POST /{api_version}/interactions/{interaction_id}:cancel'
      operationId: cancel_interaction_v1beta_interactions__interaction_id__cancel_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: interaction_id
        in: path
        required: true
        schema:
          type: string
          title: Interaction Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
