openapi: 3.2.0
info:
  title: LiteLLM Responses API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: responses
paths:
  /openai/v1/responses:
    post:
      tags:
      - responses
      summary: Responses Api
      description: "Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses\n\nSupports background mode with polling_via_cache for partial response retrieval.\nWhen background=true and polling_via_cache is enabled, returns a polling_id immediately\nand streams the response in the background, updating Redis cache.\n\n```bash\n# Normal request\ncurl -X POST http://localhost:4000/v1/responses     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": \"Tell me about AI\"\n}'\n\n# Background request with polling\ncurl -X POST http://localhost:4000/v1/responses     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": \"Tell me about AI\",\n    \"background\": true\n}'\n```"
      operationId: responses_api_openai_v1_responses_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /responses:
    post:
      tags:
      - responses
      summary: Responses Api
      description: "Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses\n\nSupports background mode with polling_via_cache for partial response retrieval.\nWhen background=true and polling_via_cache is enabled, returns a polling_id immediately\nand streams the response in the background, updating Redis cache.\n\n```bash\n# Normal request\ncurl -X POST http://localhost:4000/v1/responses     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": \"Tell me about AI\"\n}'\n\n# Background request with polling\ncurl -X POST http://localhost:4000/v1/responses     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": \"Tell me about AI\",\n    \"background\": true\n}'\n```"
      operationId: responses_api_responses_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1/responses:
    post:
      tags:
      - responses
      summary: Responses Api
      description: "Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses\n\nSupports background mode with polling_via_cache for partial response retrieval.\nWhen background=true and polling_via_cache is enabled, returns a polling_id immediately\nand streams the response in the background, updating Redis cache.\n\n```bash\n# Normal request\ncurl -X POST http://localhost:4000/v1/responses     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": \"Tell me about AI\"\n}'\n\n# Background request with polling\ncurl -X POST http://localhost:4000/v1/responses     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": \"Tell me about AI\",\n    \"background\": true\n}'\n```"
      operationId: responses_api_v1_responses_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /cursor/chat/completions:
    post:
      tags:
      - responses
      summary: Cursor Chat Completions
      description: "Cursor-specific endpoint that accepts Responses API input format but returns chat completions format.\n\nThis endpoint handles requests from Cursor IDE which sends Responses API format (`input` field)\nbut expects chat completions format response (`choices`, `messages`, etc.).\n\n```bash\ncurl -X POST http://localhost:4000/cursor/chat/completions     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n}'\nResponds back in chat completions format.\n```"
      operationId: cursor_chat_completions_cursor_chat_completions_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /openai/v1/responses/{response_id}:
    get:
      tags:
      - responses
      summary: Get Response
      description: 'Get a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Returns cumulative cached content from background responses

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/get


        ```bash

        # Get polling response

        curl -X GET http://localhost:4000/v1/responses/litellm_poll_abc123     -H "Authorization: Bearer sk-1234"


        # Get provider response

        curl -X GET http://localhost:4000/v1/responses/resp_abc123     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: get_response_openai_v1_responses__response_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - responses
      summary: Delete Response
      description: 'Delete a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Deletes from Redis cache

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/delete


        ```bash

        curl -X DELETE http://localhost:4000/v1/responses/resp_abc123     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: delete_response_openai_v1_responses__response_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /responses/{response_id}:
    get:
      tags:
      - responses
      summary: Get Response
      description: 'Get a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Returns cumulative cached content from background responses

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/get


        ```bash

        # Get polling response

        curl -X GET http://localhost:4000/v1/responses/litellm_poll_abc123     -H "Authorization: Bearer sk-1234"


        # Get provider response

        curl -X GET http://localhost:4000/v1/responses/resp_abc123     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: get_response_responses__response_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - responses
      summary: Delete Response
      description: 'Delete a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Deletes from Redis cache

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/delete


        ```bash

        curl -X DELETE http://localhost:4000/v1/responses/resp_abc123     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: delete_response_responses__response_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/responses/{response_id}:
    get:
      tags:
      - responses
      summary: Get Response
      description: 'Get a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Returns cumulative cached content from background responses

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/get


        ```bash

        # Get polling response

        curl -X GET http://localhost:4000/v1/responses/litellm_poll_abc123     -H "Authorization: Bearer sk-1234"


        # Get provider response

        curl -X GET http://localhost:4000/v1/responses/resp_abc123     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: get_response_v1_responses__response_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - responses
      summary: Delete Response
      description: 'Delete a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Deletes from Redis cache

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/delete


        ```bash

        curl -X DELETE http://localhost:4000/v1/responses/resp_abc123     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: delete_response_v1_responses__response_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /openai/v1/responses/{response_id}/input_items:
    get:
      tags:
      - responses
      summary: Get Response Input Items
      description: List input items for a response.
      operationId: get_response_input_items_openai_v1_responses__response_id__input_items_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /responses/{response_id}/input_items:
    get:
      tags:
      - responses
      summary: Get Response Input Items
      description: List input items for a response.
      operationId: get_response_input_items_responses__response_id__input_items_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/responses/{response_id}/input_items:
    get:
      tags:
      - responses
      summary: Get Response Input Items
      description: List input items for a response.
      operationId: get_response_input_items_v1_responses__response_id__input_items_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /openai/v1/responses/compact:
    post:
      tags:
      - responses
      summary: Compact Response
      description: "Compact a response by running a compaction pass over a conversation.\n\nReturns encrypted, opaque items that can be used to reduce context size.\n\nFollows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/compact\n\n```bash\ncurl -X POST http://localhost:4000/v1/responses/compact     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n}'\n```"
      operationId: compact_response_openai_v1_responses_compact_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /responses/compact:
    post:
      tags:
      - responses
      summary: Compact Response
      description: "Compact a response by running a compaction pass over a conversation.\n\nReturns encrypted, opaque items that can be used to reduce context size.\n\nFollows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/compact\n\n```bash\ncurl -X POST http://localhost:4000/v1/responses/compact     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n}'\n```"
      operationId: compact_response_responses_compact_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1/responses/compact:
    post:
      tags:
      - responses
      summary: Compact Response
      description: "Compact a response by running a compaction pass over a conversation.\n\nReturns encrypted, opaque items that can be used to reduce context size.\n\nFollows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/compact\n\n```bash\ncurl -X POST http://localhost:4000/v1/responses/compact     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"     -d '{\n    \"model\": \"gpt-4o\",\n    \"input\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n}'\n```"
      operationId: compact_response_v1_responses_compact_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /openai/v1/responses/{response_id}/cancel:
    post:
      tags:
      - responses
      summary: Cancel Response
      description: 'Cancel a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Cancels background response and updates status in Redis

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/cancel


        ```bash

        # Cancel polling response

        curl -X POST http://localhost:4000/v1/responses/litellm_poll_abc123/cancel     -H "Authorization: Bearer sk-1234"


        # Cancel provider response

        curl -X POST http://localhost:4000/v1/responses/resp_abc123/cancel     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: cancel_response_openai_v1_responses__response_id__cancel_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /responses/{response_id}/cancel:
    post:
      tags:
      - responses
      summary: Cancel Response
      description: 'Cancel a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Cancels background response and updates status in Redis

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/cancel


        ```bash

        # Cancel polling response

        curl -X POST http://localhost:4000/v1/responses/litellm_poll_abc123/cancel     -H "Authorization: Bearer sk-1234"


        # Cancel provider response

        curl -X POST http://localhost:4000/v1/responses/resp_abc123/cancel     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: cancel_response_responses__response_id__cancel_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/responses/{response_id}/cancel:
    post:
      tags:
      - responses
      summary: Cancel Response
      description: 'Cancel a response by ID.


        Supports both:

        - Polling IDs (litellm_poll_*): Cancels background response and updates status in Redis

        - Provider response IDs: Passes through to provider API


        Follows the OpenAI Responses API spec: https://platform.openai.com/docs/api-reference/responses/cancel


        ```bash

        # Cancel polling response

        curl -X POST http://localhost:4000/v1/responses/litellm_poll_abc123/cancel     -H "Authorization: Bearer sk-1234"


        # Cancel provider response

        curl -X POST http://localhost:4000/v1/responses/resp_abc123/cancel     -H "Authorization: Bearer sk-1234"

        ```'
      operationId: cancel_response_v1_responses__response_id__cancel_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: response_id
        in: path
        required: true
        schema:
          type: string
          title: Response Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
