openapi: 3.2.0
info:
  title: LiteLLM [beta] MCP API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: '[beta] MCP'
paths:
  /public/mcp_hub:
    get:
      tags:
      - '[beta] MCP'
      summary: Get Mcp Servers
      operationId: get_mcp_servers_public_mcp_hub_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MCPPublicServer'
                type: array
                title: Response Get Mcp Servers Public Mcp Hub Get
components:
  schemas:
    MCPPublicServer:
      properties:
        server_id:
          type: string
          title: Server Id
        name:
          type: string
          title: Name
        alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Alias
        server_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Server Name
        transport:
          type: string
          enum:
          - sse
          - http
          - stdio
          title: Transport
        spec_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Spec Path
        auth_type:
          anyOf:
          - type: string
            enum:
            - none
            - api_key
            - bearer_token
            - basic
            - authorization
            - oauth2
            - aws_sigv4
            - token
            - oauth2_token_exchange
            - oauth2_id_jag
            - true_passthrough
            - oauth_delegate
          - type: 'null'
          title: Auth Type
        mcp_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Mcp Info
      type: object
      required:
      - server_id
      - name
      - transport
      title: MCPPublicServer
      description: Safe params for public MCP servers
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
