openapi: 3.2.0
info:
  title: LiteLLM Cache Settings API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Cache Settings
paths:
  /cache/settings:
    get:
      tags:
      - Cache Settings
      summary: Get Cache Settings
      description: 'Get cache configuration and available settings.


        Returns:

        - fields: List of all configurable cache settings with their metadata (type, description, default, options)

        - current_values: Current values of cache settings from database'
      operationId: get_cache_settings_cache_settings_get
      security:
      - APIKeyHeader: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheSettingsResponse'
    post:
      tags:
      - Cache Settings
      summary: Update Cache Settings
      description: 'Save cache settings to database and initialize cache.


        This endpoint:

        1. Encrypts sensitive fields (passwords, etc.)

        2. Saves to LiteLLM_CacheConfig table

        3. Reinitializes cache with new settings'
      operationId: update_cache_settings_cache_settings_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: litellm-changed-by
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
          title: Litellm-Changed-By
        description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheSettingsUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /cache/settings/test:
    post:
      tags:
      - Cache Settings
      summary: Test Cache Connection
      description: 'Test cache connection with provided credentials.


        Creates a temporary cache instance and uses its test_connection method

        to verify the credentials work without affecting global state.'
      operationId: test_cache_connection_cache_settings_test_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CacheTestRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CacheTestResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    CacheTestRequest:
      properties:
        cache_settings:
          additionalProperties: true
          type: object
          title: Cache Settings
          description: Cache settings to test connection with
      type: object
      required:
      - cache_settings
      title: CacheTestRequest
    CacheSettingsField:
      properties:
        field_name:
          type: string
          title: Field Name
        field_type:
          type: string
          title: Field Type
        field_value:
          title: Field Value
        field_description:
          type: string
          title: Field Description
        field_default:
          title: Field Default
        options:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Options
        ui_field_name:
          type: string
          title: Ui Field Name
        link:
          anyOf:
          - type: string
          - type: 'null'
          title: Link
        redis_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Redis Type
      type: object
      required:
      - field_name
      - field_type
      - field_value
      - field_description
      - ui_field_name
      title: CacheSettingsField
    CacheTestResponse:
      properties:
        status:
          type: string
          title: Status
          description: 'Connection status: ''success'' or ''failed'''
        message:
          type: string
          title: Message
          description: Connection result message
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
          description: Error message if connection failed
      type: object
      required:
      - status
      - message
      title: CacheTestResponse
    CacheSettingsUpdateRequest:
      properties:
        cache_settings:
          additionalProperties: true
          type: object
          title: Cache Settings
          description: Cache settings to save
      type: object
      required:
      - cache_settings
      title: CacheSettingsUpdateRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CacheSettingsResponse:
      properties:
        fields:
          items:
            $ref: '#/components/schemas/CacheSettingsField'
          type: array
          title: Fields
          description: List of all configurable cache settings with metadata
        current_values:
          additionalProperties: true
          type: object
          title: Current Values
          description: Current values of cache settings
        redis_type_descriptions:
          additionalProperties:
            type: string
          type: object
          title: Redis Type Descriptions
          description: Descriptions for each Redis type option
      type: object
      required:
      - fields
      - current_values
      - redis_type_descriptions
      title: CacheSettingsResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
