openapi: 3.2.0
info:
  title: LiteLLM Realtime API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: realtime
paths:
  /openai/v1/realtime/calls:
    post:
      operationId: proxy_realtime_calls_openai_v1_realtime_calls_post
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Proxy Realtime Calls
      tags:
      - realtime
  /openai/v1/realtime/client_secrets:
    post:
      operationId: create_realtime_client_secret_openai_v1_realtime_client_secrets_post
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeClientSecretResponse'
          description: Successful Response
      security:
      - APIKeyHeader: []
      summary: Create Realtime Client Secret
      tags:
      - realtime
  /realtime/calls:
    post:
      operationId: proxy_realtime_calls_realtime_calls_post
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Proxy Realtime Calls
      tags:
      - realtime
  /realtime/client_secrets:
    post:
      operationId: create_realtime_client_secret_realtime_client_secrets_post
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeClientSecretResponse'
          description: Successful Response
      security:
      - APIKeyHeader: []
      summary: Create Realtime Client Secret
      tags:
      - realtime
  /v1/realtime/calls:
    post:
      operationId: proxy_realtime_calls_v1_realtime_calls_post
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Proxy Realtime Calls
      tags:
      - realtime
  /v1/realtime/client_secrets:
    post:
      operationId: create_realtime_client_secret_v1_realtime_client_secrets_post
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeClientSecretResponse'
          description: Successful Response
      security:
      - APIKeyHeader: []
      summary: Create Realtime Client Secret
      tags:
      - realtime
components:
  schemas:
    RealtimeClientSecretResponse:
      description: 'Response from POST /v1/realtime/client_secrets.


        Both the top-level `value` and `session.client_secret.value`

        will contain the encrypted token instead of the raw ephemeral key.

        The `session` field is kept as a raw dict so unknown fields pass through.'
      properties:
        expires_at:
          anyOf:
          - type: integer
          - type: 'null'
          title: Expires At
        session:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Session
        value:
          title: Value
          type: string
      required:
      - value
      title: RealtimeClientSecretResponse
      type: object
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
