openapi: 3.2.0
info:
  title: LiteLLM rust control plane API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: rust control plane
paths:
  /v1/rust_control_plane/logs:
    post:
      tags:
      - rust control plane
      summary: Ingest Callback Logs
      description: 'Replay a batch of finished logging payloads through the callback fan-out.


        Admin-only: the payloads write spend logs and trigger every callback, so this

        is a trusted internal route, not a public surface.'
      operationId: ingest_callback_logs_v1_rust_control_plane_logs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackLogsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackLogsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    CallbackLogsResponse:
      properties:
        processed:
          type: integer
          title: Processed
        failed:
          type: integer
          title: Failed
        failures:
          items:
            $ref: '#/components/schemas/CallbackLogFailure'
          type: array
          title: Failures
      type: object
      required:
      - processed
      - failed
      title: CallbackLogsResponse
      description: 'Per-batch result: counts plus per-record failure detail so the caller can

        distinguish a transient callback error from a structurally bad payload.'
    CallbackLogFailure:
      properties:
        index:
          type: integer
          title: Index
        error:
          type: string
          title: Error
      type: object
      required:
      - index
      - error
      title: CallbackLogFailure
      description: A record that failed to replay, identified by its index in the batch.
    CallbackLogRecord:
      properties:
        status:
          type: string
          enum:
          - success
          - failure
          title: Status
        standard_logging_payload:
          additionalProperties: true
          type: object
          title: Standard Logging Payload
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
      type: object
      required:
      - status
      - standard_logging_payload
      title: CallbackLogRecord
      description: A single finished logging event to replay through the callbacks.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CallbackLogsRequest:
      properties:
        records:
          items:
            $ref: '#/components/schemas/CallbackLogRecord'
          type: array
          maxItems: 1000
          title: Records
      type: object
      required:
      - records
      title: CallbackLogsRequest
      description: A batch of logging events posted by an external producer.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
