openapi: 3.2.0
info:
  title: LiteLLM [beta] Agents API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: '[beta] Agents'
paths:
  /public/agent_hub:
    get:
      tags:
      - '[beta] Agents'
      summary: Get Agents
      operationId: get_agents_public_agent_hub_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentCard'
                type: array
                title: Response Get Agents Public Agent Hub Get
  /public/agents/fields:
    get:
      tags:
      - '[beta] Agents'
      summary: Get Agent Fields
      description: 'Return agent type metadata required by the dashboard create-agent flow.


        If an agent has `inherit_credentials_from_provider`, the provider''s credential

        fields are automatically appended to the agent''s credential_fields.'
      operationId: get_agent_fields_public_agents_fields_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentCreateInfo'
                type: array
                title: Response Get Agent Fields Public Agents Fields Get
components:
  schemas:
    AgentExtension:
      properties:
        uri:
          type: string
          title: Uri
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        required:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Required
        params:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Params
      type: object
      title: AgentExtension
      description: A declaration of a protocol extension supported by an Agent.
    AgentCredentialField:
      properties:
        key:
          type: string
          title: Key
        label:
          type: string
          title: Label
        placeholder:
          anyOf:
          - type: string
          - type: 'null'
          title: Placeholder
        tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Tooltip
        required:
          type: boolean
          title: Required
          default: false
        field_type:
          type: string
          enum:
          - text
          - password
          - select
          - upload
          - textarea
          title: Field Type
          default: text
        options:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Options
        default_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Value
        include_in_litellm_params:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Include In Litellm Params
      type: object
      required:
      - key
      - label
      title: AgentCredentialField
    OpenIdConnectSecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: openIdConnect
          title: Type
        openIdConnectUrl:
          type: string
          title: Openidconnecturl
      type: object
      required:
      - type
      - openIdConnectUrl
      title: OpenIdConnectSecurityScheme
      description: Defines a security scheme using OpenID Connect.
    HTTPAuthSecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: http
          title: Type
        scheme:
          type: string
          title: Scheme
        bearerFormat:
          anyOf:
          - type: string
          - type: 'null'
          title: Bearerformat
      type: object
      required:
      - type
      - scheme
      title: HTTPAuthSecurityScheme
      description: Defines a security scheme using HTTP authentication.
    AgentCardSignature:
      properties:
        protected:
          type: string
          title: Protected
        signature:
          type: string
          title: Signature
        header:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Header
      type: object
      title: AgentCardSignature
      description: Represents a JWS signature of an AgentCard.
    AgentSkill:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        tags:
          items:
            type: string
          type: array
          title: Tags
        examples:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Examples
        inputModes:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Inputmodes
        outputModes:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Outputmodes
        security:
          anyOf:
          - items:
              additionalProperties:
                items:
                  type: string
                type: array
              type: object
            type: array
          - type: 'null'
          title: Security
      type: object
      title: AgentSkill
      description: Represents a distinct capability or function that an agent can perform.
    AgentCapabilities:
      properties:
        streaming:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Streaming
        pushNotifications:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Pushnotifications
        stateTransitionHistory:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Statetransitionhistory
        extensions:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentExtension'
            type: array
          - type: 'null'
          title: Extensions
      type: object
      title: AgentCapabilities
      description: Defines optional capabilities supported by an agent.
    AgentProvider:
      properties:
        organization:
          type: string
          title: Organization
        url:
          type: string
          title: Url
      type: object
      title: AgentProvider
      description: Represents the service provider of an agent.
    APIKeySecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: apiKey
          title: Type
        in_:
          type: string
          enum:
          - query
          - header
          - cookie
          title: In
        name:
          type: string
          title: Name
      type: object
      required:
      - type
      - in_
      - name
      title: APIKeySecurityScheme
      description: Defines a security scheme using an API key.
    AgentCreateInfo:
      properties:
        agent_type:
          type: string
          title: Agent Type
        agent_type_display_name:
          type: string
          title: Agent Type Display Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        logo_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Logo Url
        credential_fields:
          items:
            $ref: '#/components/schemas/AgentCredentialField'
          type: array
          title: Credential Fields
        litellm_params_template:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Litellm Params Template
        model_template:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Template
      type: object
      required:
      - agent_type
      - agent_type_display_name
      - credential_fields
      title: AgentCreateInfo
    AgentInterface:
      properties:
        url:
          type: string
          title: Url
        transport:
          type: string
          title: Transport
      type: object
      title: AgentInterface
      description: Declares a combination of a target URL and a transport protocol.
    OAuthFlows:
      properties:
        authorizationCode:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Authorizationcode
        clientCredentials:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Clientcredentials
        implicit:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Implicit
        password:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Password
      type: object
      title: OAuthFlows
      description: Defines the configuration for the supported OAuth 2.0 flows.
    MutualTLSSecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: mutualTLS
          title: Type
      type: object
      required:
      - type
      title: MutualTLSSecurityScheme
      description: Defines a security scheme using mTLS authentication.
    AgentCard:
      properties:
        protocolVersion:
          type: string
          title: Protocolversion
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        url:
          type: string
          title: Url
        version:
          type: string
          title: Version
        capabilities:
          $ref: '#/components/schemas/AgentCapabilities'
        defaultInputModes:
          items:
            type: string
          type: array
          title: Defaultinputmodes
        defaultOutputModes:
          items:
            type: string
          type: array
          title: Defaultoutputmodes
        skills:
          items:
            $ref: '#/components/schemas/AgentSkill'
          type: array
          title: Skills
        preferredTransport:
          anyOf:
          - type: string
          - type: 'null'
          title: Preferredtransport
        additionalInterfaces:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentInterface'
            type: array
          - type: 'null'
          title: Additionalinterfaces
        iconUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Iconurl
        provider:
          anyOf:
          - $ref: '#/components/schemas/AgentProvider'
          - type: 'null'
        documentationUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Documentationurl
        securitySchemes:
          anyOf:
          - additionalProperties:
              anyOf:
              - $ref: '#/components/schemas/APIKeySecurityScheme'
              - $ref: '#/components/schemas/HTTPAuthSecurityScheme'
              - $ref: '#/components/schemas/OAuth2SecurityScheme'
              - $ref: '#/components/schemas/OpenIdConnectSecurityScheme'
              - $ref: '#/components/schemas/MutualTLSSecurityScheme'
            type: object
          - type: 'null'
          title: Securityschemes
        security:
          anyOf:
          - items:
              additionalProperties:
                items:
                  type: string
                type: array
              type: object
            type: array
          - type: 'null'
          title: Security
        supportsAuthenticatedExtendedCard:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Supportsauthenticatedextendedcard
        signatures:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentCardSignature'
            type: array
          - type: 'null'
          title: Signatures
      type: object
      title: AgentCard
      description: 'The AgentCard is a self-describing manifest for an agent.

        It provides essential metadata including the agent''s identity, capabilities,

        skills, supported communication methods, and security requirements.'
    OAuth2SecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: oauth2
          title: Type
        flows:
          $ref: '#/components/schemas/OAuthFlows'
        oauth2MetadataUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Oauth2Metadataurl
      type: object
      required:
      - type
      - flows
      title: OAuth2SecurityScheme
      description: Defines a security scheme using OAuth 2.0.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
