openapi: 3.2.0
info:
  title: LiteLLM model management API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: model management
paths:
  /models:
    get:
      tags:
      - model management
      summary: Model List
      description: "Use `/model/info` - to get detailed model information, example - pricing, mode, etc.\n\nThis is just for compatibility with openai projects like aider.\n\nQuery Parameters:\n- include_metadata: Include additional metadata in the response with fallback information\n- fallback_type: Type of fallbacks to include (\"general\", \"context_window\", \"content_policy\")\n                Defaults to \"general\" when include_metadata=true\n- scope: Optional scope parameter. Currently only accepts \"expand\".\n         When scope=expand is passed, proxy admins, team admins, and org admins\n         will receive all proxy models as if they are a proxy admin.\n- healthy_only: When true, hide models whose backing deployments are all marked\n                unhealthy by background health checks. Requires\n                `background_health_checks: true` in general_settings; without\n                health state the listing is returned unfiltered (fail open).\n                Models expanded from wildcard routes (e.g. `openai/*`) are not\n                filtered, and nothing is hidden when `allowed_fails_policy` is\n                configured (cooldown remains the sole exclusion mechanism).\n                Hiding is presentation-only: a hidden model can still be\n                called directly."
      operationId: model_list_models_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: return_wildcard_routes
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Return Wildcard Routes
      - name: team_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
      - name: include_model_access_groups
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Model Access Groups
      - name: only_model_access_groups
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Only Model Access Groups
      - name: include_metadata
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Metadata
      - name: fallback_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Fallback Type
      - name: scope
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Scope
      - name: healthy_only
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Healthy Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/models:
    get:
      tags:
      - model management
      summary: Model List
      description: "Use `/model/info` - to get detailed model information, example - pricing, mode, etc.\n\nThis is just for compatibility with openai projects like aider.\n\nQuery Parameters:\n- include_metadata: Include additional metadata in the response with fallback information\n- fallback_type: Type of fallbacks to include (\"general\", \"context_window\", \"content_policy\")\n                Defaults to \"general\" when include_metadata=true\n- scope: Optional scope parameter. Currently only accepts \"expand\".\n         When scope=expand is passed, proxy admins, team admins, and org admins\n         will receive all proxy models as if they are a proxy admin.\n- healthy_only: When true, hide models whose backing deployments are all marked\n                unhealthy by background health checks. Requires\n                `background_health_checks: true` in general_settings; without\n                health state the listing is returned unfiltered (fail open).\n                Models expanded from wildcard routes (e.g. `openai/*`) are not\n                filtered, and nothing is hidden when `allowed_fails_policy` is\n                configured (cooldown remains the sole exclusion mechanism).\n                Hiding is presentation-only: a hidden model can still be\n                called directly."
      operationId: model_list_v1_models_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: return_wildcard_routes
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Return Wildcard Routes
      - name: team_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
      - name: include_model_access_groups
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Model Access Groups
      - name: only_model_access_groups
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Only Model Access Groups
      - name: include_metadata
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Include Metadata
      - name: fallback_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Fallback Type
      - name: scope
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Scope
      - name: healthy_only
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Healthy Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /models/{model_id}:
    get:
      tags:
      - model management
      summary: Model Info
      description: 'Retrieve information about a specific model accessible to your API key.


        Returns model details only if the model is available to your API key/team.

        Returns 404 if the model doesn''t exist or is not accessible.


        Follows OpenAI API specification for individual model retrieval.

        https://platform.openai.com/docs/api-reference/models/retrieve


        Query parameters mirror `/v1/models` so the same caller context (team

        scoping, health filtering, paused deployments) drives both endpoints; the

        listing''s public id must resolve to the same internal deployment here.'
      operationId: model_info_models__model_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          title: Model Id
      - name: team_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
      - name: healthy_only
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Healthy Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/models/{model_id}:
    get:
      tags:
      - model management
      summary: Model Info
      description: 'Retrieve information about a specific model accessible to your API key.


        Returns model details only if the model is available to your API key/team.

        Returns 404 if the model doesn''t exist or is not accessible.


        Follows OpenAI API specification for individual model retrieval.

        https://platform.openai.com/docs/api-reference/models/retrieve


        Query parameters mirror `/v1/models` so the same caller context (team

        scoping, health filtering, paused deployments) drives both endpoints; the

        listing''s public id must resolve to the same internal deployment here.'
      operationId: model_info_v1_models__model_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          title: Model Id
      - name: team_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
      - name: healthy_only
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Healthy Only
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/model/info:
    get:
      tags:
      - model management
      summary: Model Info V2
      description: "Paginated model metadata for proxy deployments (pricing, provider, team access).\n\nReturns configured router deployments with enriched `model_info` (costs, provider,\ncontext window, etc.). Sensitive fields such as API keys and api_base are omitted.\n\nQuery parameters:\n    model: Filter to a single public `model_name`.\n    user_models_only: When true, only return models created by the calling user.\n    include_team_models: When true, populate `access_via_team_ids` and `direct_access`\n        on each model and filter to deployments the caller can use.\n    page / size: Pagination controls (defaults: page=1, size=50).\n    search: Case-insensitive partial match on model name or team public name.\n    modelId: Return a single deployment by LiteLLM model id.\n    teamId: Filter to models with direct access or team membership for this team id.\n    sortBy / sortOrder: Sort by model_name, created_at, updated_at, costs, or status.\n\nExample request:\n```\ncurl -X GET 'http://localhost:4000/v2/model/info?include_team_models=true&page=1&size=50' \\\n--header 'Authorization: Bearer sk-1234'\n```\n\nExample response:\n```json\n{\n    \"data\": [\n        {\n            \"model_name\": \"gpt-4\",\n            \"litellm_params\": {\"model\": \"openai/gpt-4.1\"},\n            \"model_info\": {\n                \"id\": \"abc123\",\n                \"litellm_provider\": \"openai\",\n                \"access_via_team_ids\": [\"team-1\"],\n                \"direct_access\": true\n            }\n        }\n    ],\n    \"total_count\": 1,\n    \"current_page\": 1,\n    \"total_pages\": 1,\n    \"size\": 50\n}\n```"
      operationId: model_info_v2_v2_model_info_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Specify the model name (optional)
          title: Model
        description: Specify the model name (optional)
      - name: user_models_only
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Only return models added by this user
          default: false
          title: User Models Only
        description: Only return models added by this user
      - name: include_team_models
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Return all models across all teams user is in.
          default: false
          title: Include Team Models
        description: Return all models across all teams user is in.
      - name: debug
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          default: false
          title: Debug
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page number
          default: 1
          title: Page
        description: Page number
      - name: size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Page size
          default: 50
          title: Size
        description: Page size
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search model names (case-insensitive partial match)
          title: Search
        description: Search model names (case-insensitive partial match)
      - name: modelId
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search for a specific model by its unique ID
          title: Modelid
        description: Search for a specific model by its unique ID
      - name: teamId
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter models by team ID. Returns models with direct_access=True or teamId in access_via_team_ids
          title: Teamid
        description: Filter models by team ID. Returns models with direct_access=True or teamId in access_via_team_ids
      - name: sortBy
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Field to sort by. Options: model_name, created_at, updated_at, costs, status'
          title: Sortby
        description: 'Field to sort by. Options: model_name, created_at, updated_at, costs, status'
      - name: sortOrder
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Sort order. Options: asc, desc'
          default: asc
          title: Sortorder
        description: 'Sort order. Options: asc, desc'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/model/info:
    get:
      tags:
      - model management
      summary: Model Info V1
      description: "Provides more info about each model in /models, including config.yaml descriptions (except api key and api base)\n\nParameters:\n    litellm_model_id: Optional[str] = None (this is the value of `x-litellm-model-id` returned in response headers)\n\n    - When litellm_model_id is passed, it will return the info for that specific model\n    - When litellm_model_id is not passed, it will return the info for all models\n    - include_team_models: When true, filter to deployments the caller can use (same as /v2/model/info).\n    - teamId: Filter to models accessible by the given team.\n\nEach model in the list response includes `model_info.access_via_team_ids` and\n`model_info.direct_access` when the proxy database is connected.\n\nReturns:\n    Returns a dictionary containing information about each model.\n\nExample Response:\n```json\n{\n    \"data\": [\n                {\n                    \"model_name\": \"fake-openai-endpoint\",\n                    \"litellm_params\": {\n                        \"api_base\": \"https://exampleopenaiendpoint-production.up.railway.app/\",\n                        \"model\": \"openai/fake\"\n                    },\n                    \"model_info\": {\n                        \"id\": \"112f74fab24a7a5245d2ced3536dd8f5f9192c57ee6e332af0f0512e08bed5af\",\n                        \"db_model\": false\n                    }\n                }\n            ]\n}\n\n```"
      operationId: model_info_v1_v1_model_info_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: litellm_model_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Model Id
      - name: include_team_models
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: When true, filter to deployments the caller can use via direct access or team membership.
          default: false
          title: Include Team Models
        description: When true, filter to deployments the caller can use via direct access or team membership.
      - name: teamId
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter models by team ID. Returns models with direct_access=True or teamId in access_via_team_ids
          title: Teamid
        description: Filter models by team ID. Returns models with direct_access=True or teamId in access_via_team_ids
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /model/info:
    get:
      tags:
      - model management
      summary: Model Info V1
      description: "Provides more info about each model in /models, including config.yaml descriptions (except api key and api base)\n\nParameters:\n    litellm_model_id: Optional[str] = None (this is the value of `x-litellm-model-id` returned in response headers)\n\n    - When litellm_model_id is passed, it will return the info for that specific model\n    - When litellm_model_id is not passed, it will return the info for all models\n    - include_team_models: When true, filter to deployments the caller can use (same as /v2/model/info).\n    - teamId: Filter to models accessible by the given team.\n\nEach model in the list response includes `model_info.access_via_team_ids` and\n`model_info.direct_access` when the proxy database is connected.\n\nReturns:\n    Returns a dictionary containing information about each model.\n\nExample Response:\n```json\n{\n    \"data\": [\n                {\n                    \"model_name\": \"fake-openai-endpoint\",\n                    \"litellm_params\": {\n                        \"api_base\": \"https://exampleopenaiendpoint-production.up.railway.app/\",\n                        \"model\": \"openai/fake\"\n                    },\n                    \"model_info\": {\n                        \"id\": \"112f74fab24a7a5245d2ced3536dd8f5f9192c57ee6e332af0f0512e08bed5af\",\n                        \"db_model\": false\n                    }\n                }\n            ]\n}\n\n```"
      operationId: model_info_v1_model_info_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: litellm_model_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Model Id
      - name: include_team_models
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: When true, filter to deployments the caller can use via direct access or team membership.
          default: false
          title: Include Team Models
        description: When true, filter to deployments the caller can use via direct access or team membership.
      - name: teamId
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter models by team ID. Returns models with direct_access=True or teamId in access_via_team_ids
          title: Teamid
        description: Filter models by team ID. Returns models with direct_access=True or teamId in access_via_team_ids
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /model_group/info:
    get:
      tags:
      - model management
      summary: Model Group Info
      description: "Get information about all the deployments on litellm proxy, including config.yaml descriptions (except api key and api base)\n\n- /model_group/info returns all model groups. End users of proxy should use /model_group/info since those models will be used for /chat/completions, /embeddings, etc.\n- /model_group/info?model_group=rerank-english-v3.0 returns all model groups for a specific model group (`model_name` in config.yaml)\n\n\n\nExample Request (All Models):\n```shell\ncurl -X 'GET'     'http://localhost:4000/model_group/info'     -H 'accept: application/json'     -H 'x-api-key: sk-1234'\n```\n\nExample Request (Specific Model Group):\n```shell\ncurl -X 'GET'     'http://localhost:4000/model_group/info?model_group=rerank-english-v3.0'     -H 'accept: application/json'     -H 'Authorization: Bearer sk-1234'\n```\n\nExample Request (Specific Wildcard Model Group): (e.g. `model_name: openai/*` on config.yaml)\n```shell\ncurl -X 'GET'     'http://localhost:4000/model_group/info?model_group=openai/tts-1'\n-H 'accept: application/json'     -H 'Authorization: Bearersk-1234'\n```\n\nLearn how to use and set wildcard models [here](https://docs.litellm.ai/docs/wildcard_routing)\n\nExample Response:\n```json\n    {\n        \"data\": [\n            {\n            \"model_group\": \"rerank-english-v3.0\",\n            \"providers\": [\n                \"cohere\"\n            ],\n            \"max_input_tokens\": null,\n            \"max_output_tokens\": null,\n            \"input_cost_per_token\": 0.0,\n            \"output_cost_per_token\": 0.0,\n            \"mode\": null,\n            \"tpm\": null,\n            \"rpm\": null,\n            \"supports_parallel_function_calling\": false,\n            \"supports_vision\": false,\n            \"supports_function_calling\": false,\n            \"supported_openai_params\": [\n                \"stream\",\n                \"temperature\",\n                \"max_tokens\",\n                \"logit_bias\",\n                \"top_p\",\n                \"frequency_penalty\",\n                \"presence_penalty\",\n                \"stop\",\n                \"n\",\n                \"extra_headers\"\n            ]\n            },\n            {\n            \"model_group\": \"gpt-3.5-turbo\",\n            \"providers\": [\n                \"openai\"\n            ],\n            \"max_input_tokens\": 16385.0,\n            \"max_output_tokens\": 4096.0,\n            \"input_cost_per_token\": 1.5e-06,\n            \"output_cost_per_token\": 2e-06,\n            \"mode\": \"chat\",\n            \"tpm\": null,\n            \"rpm\": null,\n            \"supports_parallel_function_calling\": false,\n            \"supports_vision\": false,\n            \"supports_function_calling\": true,\n            \"supported_openai_params\": [\n                \"frequency_penalty\",\n                \"logit_bias\",\n                \"logprobs\",\n                \"top_logprobs\",\n                \"max_tokens\",\n                \"max_completion_tokens\",\n                \"n\",\n                \"presence_penalty\",\n                \"seed\",\n                \"stop\",\n                \"stream\",\n                \"stream_options\",\n                \"temperature\",\n                \"top_p\",\n                \"tools\",\n                \"tool_choice\",\n                \"function_call\",\n                \"functions\",\n                \"max_retries\",\n                \"extra_headers\",\n                \"parallel_tool_calls\",\n                \"response_format\"\n            ]\n            },\n            {\n            \"model_group\": \"llava-hf\",\n            \"providers\": [\n                \"openai\"\n            ],\n            \"max_input_tokens\": null,\n            \"max_output_tokens\": null,\n            \"input_cost_per_token\": 0.0,\n            \"output_cost_per_token\": 0.0,\n            \"mode\": null,\n            \"tpm\": null,\n            \"rpm\": null,\n            \"supports_parallel_function_calling\": false,\n            \"supports_vision\": true,\n            \"supports_function_calling\": false,\n            \"supported_openai_params\": [\n                \"frequency_penalty\",\n                \"logit_bias\",\n                \"logprobs\",\n                \"top_logprobs\",\n                \"max_tokens\",\n                \"max_completion_tokens\",\n                \"n\",\n                \"presence_penalty\",\n                \"seed\",\n                \"stop\",\n                \"stream\",\n                \"stream_options\",\n                \"temperature\",\n                \"top_p\",\n                \"tools\",\n                \"tool_choice\",\n                \"function_call\",\n                \"functions\",\n                \"max_retries\",\n                \"extra_headers\",\n                \"parallel_tool_calls\",\n                \"response_format\"\n            ]\n            }\n        ]\n        }\n```"
      operationId: model_group_info_model_group_info_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: model_group
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Group
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /public/model_hub:
    get:
      tags:
      - model management
      summary: Public Model Hub
      operationId: public_model_hub_public_model_hub_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelGroupInfoProxy'
                type: array
                title: Response Public Model Hub Public Model Hub Get
  /public/model_hub/info:
    get:
      tags:
      - model management
      summary: Public Model Hub Info
      operationId: public_model_hub_info_public_model_hub_info_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicModelHubInfo'
  /public/litellm_model_cost_map:
    get:
      tags:
      - model management
      summary: Get Litellm Model Cost Map
      description: 'Public endpoint to get the LiteLLM model cost map.

        Returns pricing information for all supported models.'
      operationId: get_litellm_model_cost_map_public_litellm_model_cost_map_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /model/{model_id}/update:
    patch:
      tags:
      - model management
      summary: Patch Model
      description: "PATCH Endpoint for partial model updates.\n\nOnly updates the fields specified in the request while preserving other existing values.\nFollows proper PATCH semantics by only modifying provided fields.\n\nArgs:\n    model_id: The ID of the model to update\n    patch_data: The fields to update and their new values\n    user_api_key_dict: User authentication information\n\nReturns:\n    Updated model information\n\nRaises:\n    ProxyException: For various error conditions including authentication and database errors"
      operationId: patch_model_model__model_id__update_patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          type: string
          title: Model Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeployment'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /model/block:
    post:
      tags:
      - model management
      summary: Block Model
      description: 'Block a DB-stored model deployment from serving requests.


        Parameters:

        - model_id: str - The model deployment id to block.'
      operationId: block_model_model_block_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: litellm-changed-by
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
          title: Litellm-Changed-By
        description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockModelRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/LiteLLM_ProxyModelTable'
                - type: 'null'
                title: Response Block Model Model Block Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /model/unblock:
    post:
      tags:
      - model management
      summary: Unblock Model
      description: 'Unblock a DB-stored model deployment so it can serve requests again.


        Parameters:

        - model_id: str - The model deployment id to unblock.'
      operationId: unblock_model_model_unblock_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: litellm-changed-by
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
          title: Litellm-Changed-By
        description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockModelRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/LiteLLM_ProxyModelTable'
                - type: 'null'
                title: Response Unblock Model Model Unblock Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /model/delete:
    post:
      tags:
      - model management
      summary: Delete Model
      description: Allows deleting models in the model list in the config.yaml
      operationId: delete_model_model_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelInfoDelete'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /model/new:
    post:
      tags:
      - model management
      summary: Add New Model
      description: Allows adding new models to the model list in the config.yaml
      operationId: add_new_model_model_new_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deployment'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /model/update:
    post:
      tags:
      - model management
      summary: Update Model
      description: Edit existing model params
      operationId: update_model_model_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeployment'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /model_group/make_public:
    post:
      tags:
      - model management
      summary: Update Public Model Groups
      description: Update which model groups are public
      operationId: update_public_model_groups_model_group_make_public_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublicModelGroupsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /model_hub/update_useful_links:
    post:
      tags:
      - model management
      summary: Update Useful Links
      description: Update useful links
      operationId: update_useful_links_model_hub_update_useful_links_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUsefulLinksRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /access_group/new:
    post:
      tags:
      - model management
      summary: Create Model Group
      description: "Create a new access group containing multiple model names.\n\nAn access group is a named collection of model groups that can be referenced\nby teams/keys for simplified access control.\n\nExample:\n```bash\ncurl -X POST 'http://localhost:4000/access_group/new' \\\n  -H 'Authorization: Bearer sk-1234' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"access_group\": \"production-models\",\n    \"model_names\": [\"gpt-4\", \"claude-3-opus\", \"gemini-pro\"]\n  }'\n```\n\nParameters:\n- access_group: str - The access group name (e.g., \"production-models\")\n- model_names: List[str] - List of existing model groups to include\n\nReturns:\n- NewModelGroupResponse with the created access group details\n\nRaises:\n- HTTPException 400: If any model names don't exist\n- HTTPException 500: If database operations fail"
      operationId: create_model_group_access_group_new_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewModelGroupRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewModelGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /access_group/list:
    get:
      tags:
      - model management
      summary: List Access Groups
      description: "List all access groups.\n\nReturns a list of all access groups with their model names and deployment counts.\n\nExample:\n```bash\ncurl -X GET 'http://localhost:4000/access_group/list' \\\n  -H 'Authorization: Bearer sk-1234'\n```\n\nReturns:\n- ListAccessGroupsResponse with all access groups"
      operationId: list_access_groups_access_group_list_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccessGroupsResponse'
      security:
      - APIKeyHeader: []
  /access_group/{access_group}/info:
    get:
      tags:
      - model management
      summary: Get Access Group Info
      description: "Get information about a specific access group.\n\nExample:\n```bash\ncurl -X GET 'http://localhost:4000/access_group/production-models/info' \\\n  -H 'Authorization: Bearer sk-1234'\n```\n\nParameters:\n- access_group: str - The access group name (URL path parameter)\n\nReturns:\n- AccessGroupInfo with the access group details\n\nRaises:\n- HTTPException 404: If access group not found"
      operationId: get_access_group_info_access_group__access_group__info_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group
        in: path
        required: true
        schema:
          type: string
          title: Access Group
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupInfo'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /access_group/{access_group}/update:
    put:
      tags:
      - model management
      summary: Update Access Group
      description: "Update an access group's model names.\n\nThis will:\n1. Remove the access group from all current deployments\n2. Add the access group to all deployments for the new model_names list\n\nExample:\n```bash\ncurl -X PUT 'http://localhost:4000/access_group/production-models/update' \\\n  -H 'Authorization: Bearer sk-1234' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"model_names\": [\"gpt-4\", \"claude-3-sonnet\"]\n  }'\n```\n\nParameters:\n- access_group: str - The access group name (URL path parameter)\n- model_names: List[str] - New list of model groups to include\n\nReturns:\n- NewModelGroupResponse with the updated access group details\n\nRaises:\n- HTTPException 400: If any model names don't exist\n- HTTPException 404: If access group not found"
      operationId: update_access_group_access_group__access_group__update_put
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group
        in: path
        required: true
        schema:
          type: string
          title: Access Group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateModelGroupRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewModelGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /access_group/{access_group}/delete:
    delete:
      tags:
      - model management
      summary: Delete Access Group
      description: "Delete an access group.\n\nRemoves the access group from all deployments that have it.\n\nExample:\n```bash\ncurl -X DELETE 'http://localhost:4000/access_group/production-models/delete' \\\n  -H 'Authorization: Bearer sk-1234'\n```\n\nParameters:\n- access_group: str - The access group name (URL path parameter)\n\nReturns:\n- DeleteModelGroupResponse with deletion details\n\nRaises:\n- HTTPException 404: If access group not found"
      operationId: delete_access_group_access_group__access_group__delete_delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group
        in: path
        required: true
        schema:
          type: string
          title: Access Group
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModelGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ModelInfoDelete:
      properties:
        id:
          type: string
          title: Id
      type: object
      required:
      - id
      title: ModelInfoDelete
    ListAccessGroupsResponse:
      properties:
        access_groups:
          items:
            $ref: '#/components/schemas/AccessGroupInfo'
          type: array
          title: Access Groups
      type: object
      required:
      - access_groups
      title: ListAccessGroupsResponse
    ConfigurableClientsideParamsCustomAuth-Output:
      properties:
        api_base:
          type: string
          title: Api Base
      type: object
      required:
      - api_base
      title: ConfigurableClientsideParamsCustomAuth
    TopLogprob:
      properties:
        token:
          type: string
          title: Token
        bytes:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Bytes
        logprob:
          type: number
          title: Logprob
      additionalProperties: true
      type: object
      required:
      - token
      - logprob
      title: TopLogprob
    ConfigurableClientsideParamsCustomAuth-Input:
      properties:
        api_base:
          type: string
          title: Api Base
      additionalProperties: true
      type: object
      required:
      - api_base
      title: ConfigurableClientsideParamsCustomAuth
    updateDeployment:
      properties:
        model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Name
        litellm_params:
          anyOf:
          - $ref: '#/components/schemas/updateLiteLLMParams'
          - type: 'null'
        model_info:
          anyOf:
          - $ref: '#/components/schemas/ModelInfo'
          - type: 'null'
        blocked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Blocked
      type: object
      title: updateDeployment
    ChatCompletionAnnotationURLCitation:
      properties:
        end_index:
          type: integer
          title: End Index
        start_index:
          type: integer
          title: Start Index
        title:
          type: string
          title: Title
        url:
          type: string
          title: Url
      additionalProperties: true
      type: object
      title: ChatCompletionAnnotationURLCitation
    ModelGroupInfoProxy:
      properties:
        model_group:
          type: string
          title: Model Group
        providers:
          items:
            type: string
          type: array
          title: Providers
        max_input_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Input Tokens
        max_output_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Output Tokens
        input_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token
        output_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token
        input_cost_per_pixel:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Pixel
        mode:
          anyOf:
          - type: string
          - type: string
            enum:
            - chat
            - embedding
            - completion
            - image_generation
            - audio_transcription
            - rerank
            - moderations
          - type: 'null'
          title: Mode
          default: chat
        tpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tpm
        rpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rpm
        itpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Itpm
        otpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Otpm
        supports_parallel_function_calling:
          type: boolean
          title: Supports Parallel Function Calling
          default: false
        supports_vision:
          type: boolean
          title: Supports Vision
          default: false
        supports_web_search:
          type: boolean
          title: Supports Web Search
          default: false
        supports_url_context:
          type: boolean
          title: Supports Url Context
          default: false
        supports_reasoning:
          type: boolean
          title: Supports Reasoning
          default: false
        supports_function_calling:
          type: boolean
          title: Supports Function Calling
          default: false
        supported_openai_params:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Supported Openai Params
          default: []
        configurable_clientside_auth_params:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/ConfigurableClientsideParamsCustomAuth-Output'
            type: array
          - type: 'null'
          title: Configurable Clientside Auth Params
        is_public_model_group:
          type: boolean
          title: Is Public Model Group
          default: false
        health_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Health Status
        health_response_time:
          anyOf:
          - type: number
          - type: 'null'
          title: Health Response Time
        health_checked_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Health Checked At
      type: object
      required:
      - model_group
      - providers
      title: ModelGroupInfoProxy
    AccessGroupInfo:
      properties:
        access_group:
          type: string
          title: Access Group
        model_names:
          items:
            type: string
          type: array
          title: Model Names
        deployment_count:
          type: integer
          title: Deployment Count
      type: object
      required:
      - access_group
      - model_names
      - deployment_count
      title: AccessGroupInfo
    ModelInfo:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
        db_model:
          type: boolean
          title: Db Model
          default: false
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
        updated_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated By
        created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created At
        created_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By
        base_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Base Model
        tier:
          anyOf:
          - type: string
            enum:
            - free
            - paid
          - type: 'null'
          title: Tier
        team_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
        team_public_model_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Public Model Name
        blocked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Blocked
      additionalProperties: true
      type: object
      required:
      - id
      title: ModelInfo
    ModelResponse:
      properties:
        id:
          type: string
          title: Id
        created:
          type: integer
          title: Created
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
        object:
          type: string
          title: Object
        system_fingerprint:
          anyOf:
          - type: string
          - type: 'null'
          title: System Fingerprint
        choices:
          items:
            $ref: '#/components/schemas/Choices'
          type: array
          title: Choices
      additionalProperties: true
      type: object
      required:
      - id
      - created
      - object
      - choices
      title: ModelResponse
    ChoiceLogprobs:
      properties:
        content:
          anyOf:
          - items:
              $ref: '#/components/schemas/ChatCompletionTokenLogprob'
            type: array
          - type: 'null'
          title: Content
      additionalProperties: true
      type: object
      title: ChoiceLogprobs
    UpdateUsefulLinksRequest:
      properties:
        useful_links:
          additionalProperties:
            anyOf:
            - type: string
            - additionalProperties: true
              type: object
          type: object
          title: Useful Links
      type: object
      required:
      - useful_links
      title: UpdateUsefulLinksRequest
    PublicModelHubInfo:
      properties:
        docs_title:
          type: string
          title: Docs Title
        custom_docs_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Docs Description
        litellm_version:
          type: string
          title: Litellm Version
        useful_links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - additionalProperties: true
                type: object
            type: object
          - type: 'null'
          title: Useful Links
      type: object
      required:
      - docs_title
      - custom_docs_description
      - litellm_version
      - useful_links
      title: PublicModelHubInfo
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    BlockModelRequest:
      properties:
        model_id:
          type: string
          title: Model Id
      type: object
      required:
      - model_id
      title: BlockModelRequest
    ChatCompletionRedactedThinkingBlock:
      properties:
        type:
          const: redacted_thinking
          title: Type
          type: string
        data:
          title: Data
          type: string
        cache_control:
          anyOf:
          - additionalProperties: true
            type: object
          - $ref: '#/components/schemas/ChatCompletionCachedContent'
          - type: 'null'
          title: Cache Control
      required:
      - type
      title: ChatCompletionRedactedThinkingBlock
      type: object
    NewModelGroupRequest:
      properties:
        access_group:
          type: string
          title: Access Group
        model_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Model Names
        model_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Model Ids
      type: object
      required:
      - access_group
      title: NewModelGroupRequest
    ChatCompletionTokenLogprob:
      properties:
        token:
          type: string
          title: Token
        bytes:
          anyOf:
          - items:
              type: integer
            type: array
          - type: 'null'
          title: Bytes
        logprob:
          type: number
          title: Logprob
        top_logprobs:
          items:
            $ref: '#/components/schemas/TopLogprob'
          type: array
          title: Top Logprobs
      additionalProperties: true
      type: object
      required:
      - token
      - logprob
      - top_logprobs
      title: ChatCompletionTokenLogprob
    ChatCompletionAudioResponse:
      properties:
        id:
          type: string
          title: Id
        data:
          type: string
          title: Data
        expires_at:
          type: integer
          title: Expires At
        transcript:
          type: string
          title: Transcript
      additionalProperties: true
      type: object
      required:
      - id
      - data
      - expires_at
      - transcript
      title: ChatCompletionAudioResponse
    LiteLLM_Params:
      properties:
        input_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token
        output_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token
        input_cost_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Second
        output_cost_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Second
        output_cost_per_second_1080p:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Second 1080P
        input_cost_per_pixel:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Pixel
        output_cost_per_pixel:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Pixel
        input_cost_per_token_flex:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Flex
        input_cost_per_token_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Priority
        cache_creation_input_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Token Cost
        cache_creation_input_token_cost_above_1hr:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Token Cost Above 1Hr
        cache_creation_input_token_cost_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Token Cost Above 200K Tokens
        cache_creation_input_audio_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Audio Token Cost
        cache_read_input_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost
        cache_read_input_token_cost_flex:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Flex
        cache_read_input_token_cost_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Priority
        cache_read_input_token_cost_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 200K Tokens
        cache_read_input_token_cost_above_200k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 200K Tokens Priority
        cache_read_input_token_cost_above_272k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 272K Tokens Priority
        cache_read_input_audio_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Audio Token Cost
        input_cost_per_character:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Character
        input_cost_per_character_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Character Above 128K Tokens
        input_cost_per_audio_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Audio Token
        input_cost_per_token_cache_hit:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Cache Hit
        input_cost_per_token_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 128K Tokens
        input_cost_per_token_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 200K Tokens
        input_cost_per_token_above_200k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 200K Tokens Priority
        input_cost_per_token_above_272k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 272K Tokens Priority
        input_cost_per_query:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Query
        input_cost_per_image:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Image
        input_cost_per_image_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Image Above 128K Tokens
        input_cost_per_audio_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Audio Per Second
        input_cost_per_audio_per_second_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Audio Per Second Above 128K Tokens
        input_cost_per_video_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second
        input_cost_per_video_per_second_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second Above 128K Tokens
        input_cost_per_video_per_second_above_15s_interval:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second Above 15S Interval
        input_cost_per_video_per_second_above_8s_interval:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second Above 8S Interval
        input_cost_per_token_batches:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Batches
        output_cost_per_token_batches:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Batches
        output_cost_per_token_flex:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Flex
        output_cost_per_token_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Priority
        output_cost_per_character:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Character
        output_cost_per_audio_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Audio Token
        output_cost_per_token_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 128K Tokens
        output_cost_per_token_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 200K Tokens
        output_cost_per_token_above_200k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 200K Tokens Priority
        output_cost_per_token_above_272k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 272K Tokens Priority
        output_cost_per_character_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Character Above 128K Tokens
        output_cost_per_image:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Image
        output_cost_per_image_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Image Token
        output_cost_per_video_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Video Token
        output_cost_per_reasoning_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Reasoning Token
        output_cost_per_video_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Video Per Second
        output_cost_per_audio_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Audio Per Second
        search_context_cost_per_query:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Search Context Cost Per Query
        citation_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Citation Cost Per Token
        tiered_pricing:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Tiered Pricing
        cache_read_input_token_cost_above_272k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 272K Tokens
        cache_read_input_token_cost_above_512k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 512K Tokens
        input_cost_per_image_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Image Token
        input_cost_per_video_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Token
        input_cost_per_token_above_272k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 272K Tokens
        input_cost_per_token_above_512k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 512K Tokens
        output_cost_per_token_above_272k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 272K Tokens
        output_cost_per_token_above_512k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 512K Tokens
        output_vector_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: Output Vector Size
        ocr_cost_per_page:
          anyOf:
          - type: number
          - type: 'null'
          title: Ocr Cost Per Page
        ocr_cost_per_credit:
          anyOf:
          - type: number
          - type: 'null'
          title: Ocr Cost Per Credit
        annotation_cost_per_page:
          anyOf:
          - type: number
          - type: 'null'
          title: Annotation Cost Per Page
        regional_processing_uplift_multiplier_eu:
          anyOf:
          - type: number
          - type: 'null'
          title: Regional Processing Uplift Multiplier Eu
        regional_processing_uplift_multiplier_us:
          anyOf:
          - type: number
          - type: 'null'
          title: Regional Processing Uplift Multiplier Us
        api_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Key
        api_base:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Base
        api_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Version
        azure_ad_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Azure Ad Token
        vertex_project:
          anyOf:
          - type: string
          - type: 'null'
          title: Vertex Project
        vertex_location:
          anyOf:
          - type: string
          - type: 'null'
          title: Vertex Location
        vertex_credentials:
          anyOf:
          - type: string
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Vertex Credentials
        region_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Region Name
        gcs_bucket_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Gcs Bucket Name
        aws_access_key_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Access Key Id
        aws_secret_access_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Secret Access Key
        aws_region_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Region Name
        aws_bedrock_runtime_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Bedrock Runtime Endpoint
        aws_bedrock_project_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Bedrock Project Id
        s3_bucket_name:
          anyOf:
          - type: string
          - type: 'null'
          title: S3 Bucket Name
        watsonx_region_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Watsonx Region Name
        custom_llm_provider:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Llm Provider
        tpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tpm
        rpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rpm
        itpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Itpm
        otpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Otpm
        timeout:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Timeout
        stream_timeout:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Stream Timeout
        max_retries:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Retries
        organization:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization
        configurable_clientside_auth_params:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/ConfigurableClientsideParamsCustomAuth-Input'
            type: array
          - type: 'null'
          title: Configurable Clientside Auth Params
        litellm_credential_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Credential Name
        litellm_trace_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Trace Id
        max_file_size_mb:
          anyOf:
          - type: number
          - type: 'null'
          title: Max File Size Mb
        default_api_key_tpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Default Api Key Tpm Limit
        default_api_key_rpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Default Api Key Rpm Limit
        max_budget:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Budget
        budget_duration:
          anyOf:
          - type: string
          - type: 'null'
          title: Budget Duration
        use_in_pass_through:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use In Pass Through
          default: false
        use_litellm_proxy:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Litellm Proxy
          default: false
        use_chat_completions_api:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Chat Completions Api
        use_xai_oauth:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Xai Oauth
          description: Use stored xAI OAuth credentials when no xAI API key is configured.
          default: false
        merge_reasoning_content_in_choices:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Merge Reasoning Content In Choices
          default: false
        model_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Model Info
        mock_response:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/ModelResponse'
          - {}
          - type: 'null'
          title: Mock Response
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
        tag_regex:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tag Regex
        auto_router_config_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Config Path
        auto_router_config:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Config
        auto_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Default Model
        auto_router_embedding_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Embedding Model
        complexity_router_config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Complexity Router Config
        complexity_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Complexity Router Default Model
        adaptive_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Adaptive Router Default Model
        adaptive_router_config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Adaptive Router Config
        quality_router_config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Quality Router Config
        quality_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Quality Router Default Model
        s3_encryption_key_id:
          anyOf:
          - type: string
          - type: 'null'
          title: S3 Encryption Key Id
        vector_store_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Id
        milvus_text_field:
          anyOf:
          - type: string
          - type: 'null'
          title: Milvus Text Field
        milvus_db_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Milvus Db Name
        milvus_partition_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Milvus Partition Names
        model:
          type: string
          title: Model
      additionalProperties: true
      type: object
      required:
      - model
      title: LiteLLM_Params
      description: LiteLLM Params with 'model' requirement - used for completions
    ChatCompletionMessageToolCall:
      properties: {}
      additionalProperties: true
      type: object
      title: ChatCompletionMessageToolCall
    ChatCompletionAnnotation:
      properties:
        type:
          type: string
          const: url_citation
          title: Type
        url_citation:
          $ref: '#/components/schemas/ChatCompletionAnnotationURLCitation'
      additionalProperties: true
      type: object
      title: ChatCompletionAnnotation
    updateLiteLLMParams:
      properties:
        input_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token
        output_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token
        input_cost_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Second
        output_cost_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Second
        output_cost_per_second_1080p:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Second 1080P
        input_cost_per_pixel:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Pixel
        output_cost_per_pixel:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Pixel
        input_cost_per_token_flex:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Flex
        input_cost_per_token_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Priority
        cache_creation_input_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Token Cost
        cache_creation_input_token_cost_above_1hr:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Token Cost Above 1Hr
        cache_creation_input_token_cost_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Token Cost Above 200K Tokens
        cache_creation_input_audio_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Creation Input Audio Token Cost
        cache_read_input_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost
        cache_read_input_token_cost_flex:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Flex
        cache_read_input_token_cost_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Priority
        cache_read_input_token_cost_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 200K Tokens
        cache_read_input_token_cost_above_200k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 200K Tokens Priority
        cache_read_input_token_cost_above_272k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 272K Tokens Priority
        cache_read_input_audio_token_cost:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Audio Token Cost
        input_cost_per_character:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Character
        input_cost_per_character_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Character Above 128K Tokens
        input_cost_per_audio_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Audio Token
        input_cost_per_token_cache_hit:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Cache Hit
        input_cost_per_token_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 128K Tokens
        input_cost_per_token_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 200K Tokens
        input_cost_per_token_above_200k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 200K Tokens Priority
        input_cost_per_token_above_272k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 272K Tokens Priority
        input_cost_per_query:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Query
        input_cost_per_image:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Image
        input_cost_per_image_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Image Above 128K Tokens
        input_cost_per_audio_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Audio Per Second
        input_cost_per_audio_per_second_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Audio Per Second Above 128K Tokens
        input_cost_per_video_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second
        input_cost_per_video_per_second_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second Above 128K Tokens
        input_cost_per_video_per_second_above_15s_interval:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second Above 15S Interval
        input_cost_per_video_per_second_above_8s_interval:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Per Second Above 8S Interval
        input_cost_per_token_batches:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Batches
        output_cost_per_token_batches:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Batches
        output_cost_per_token_flex:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Flex
        output_cost_per_token_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Priority
        output_cost_per_character:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Character
        output_cost_per_audio_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Audio Token
        output_cost_per_token_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 128K Tokens
        output_cost_per_token_above_200k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 200K Tokens
        output_cost_per_token_above_200k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 200K Tokens Priority
        output_cost_per_token_above_272k_tokens_priority:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 272K Tokens Priority
        output_cost_per_character_above_128k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Character Above 128K Tokens
        output_cost_per_image:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Image
        output_cost_per_image_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Image Token
        output_cost_per_video_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Video Token
        output_cost_per_reasoning_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Reasoning Token
        output_cost_per_video_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Video Per Second
        output_cost_per_audio_per_second:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Audio Per Second
        search_context_cost_per_query:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Search Context Cost Per Query
        citation_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Citation Cost Per Token
        tiered_pricing:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Tiered Pricing
        cache_read_input_token_cost_above_272k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 272K Tokens
        cache_read_input_token_cost_above_512k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Cache Read Input Token Cost Above 512K Tokens
        input_cost_per_image_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Image Token
        input_cost_per_video_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Video Token
        input_cost_per_token_above_272k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 272K Tokens
        input_cost_per_token_above_512k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token Above 512K Tokens
        output_cost_per_token_above_272k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 272K Tokens
        output_cost_per_token_above_512k_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token Above 512K Tokens
        output_vector_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: Output Vector Size
        ocr_cost_per_page:
          anyOf:
          - type: number
          - type: 'null'
          title: Ocr Cost Per Page
        ocr_cost_per_credit:
          anyOf:
          - type: number
          - type: 'null'
          title: Ocr Cost Per Credit
        annotation_cost_per_page:
          anyOf:
          - type: number
          - type: 'null'
          title: Annotation Cost Per Page
        regional_processing_uplift_multiplier_eu:
          anyOf:
          - type: number
          - type: 'null'
          title: Regional Processing Uplift Multiplier Eu
        regional_processing_uplift_multiplier_us:
          anyOf:
          - type: number
          - type: 'null'
          title: Regional Processing Uplift Multiplier Us
        api_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Key
        api_base:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Base
        api_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Version
        azure_ad_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Azure Ad Token
        vertex_project:
          anyOf:
          - type: string
          - type: 'null'
          title: Vertex Project
        vertex_location:
          anyOf:
          - type: string
          - type: 'null'
          title: Vertex Location
        vertex_credentials:
          anyOf:
          - type: string
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Vertex Credentials
        region_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Region Name
        gcs_bucket_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Gcs Bucket Name
        aws_access_key_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Access Key Id
        aws_secret_access_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Secret Access Key
        aws_region_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Region Name
        aws_bedrock_runtime_endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Bedrock Runtime Endpoint
        aws_bedrock_project_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Aws Bedrock Project Id
        s3_bucket_name:
          anyOf:
          - type: string
          - type: 'null'
          title: S3 Bucket Name
        watsonx_region_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Watsonx Region Name
        custom_llm_provider:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Llm Provider
        tpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tpm
        rpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rpm
        itpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Itpm
        otpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Otpm
        timeout:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Timeout
        stream_timeout:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Stream Timeout
        max_retries:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Retries
        organization:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization
        configurable_clientside_auth_params:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/ConfigurableClientsideParamsCustomAuth-Input'
            type: array
          - type: 'null'
          title: Configurable Clientside Auth Params
        litellm_credential_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Credential Name
        litellm_trace_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Trace Id
        max_file_size_mb:
          anyOf:
          - type: number
          - type: 'null'
          title: Max File Size Mb
        default_api_key_tpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Default Api Key Tpm Limit
        default_api_key_rpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Default Api Key Rpm Limit
        max_budget:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Budget
        budget_duration:
          anyOf:
          - type: string
          - type: 'null'
          title: Budget Duration
        use_in_pass_through:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use In Pass Through
          default: false
        use_litellm_proxy:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Litellm Proxy
          default: false
        use_chat_completions_api:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Chat Completions Api
        use_xai_oauth:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Xai Oauth
          description: Use stored xAI OAuth credentials when no xAI API key is configured.
          default: false
        merge_reasoning_content_in_choices:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Merge Reasoning Content In Choices
          default: false
        model_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Model Info
        mock_response:
          anyOf:
          - type: string
          - $ref: '#/components/schemas/ModelResponse'
          - {}
          - type: 'null'
          title: Mock Response
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
        tag_regex:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tag Regex
        auto_router_config_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Config Path
        auto_router_config:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Config
        auto_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Default Model
        auto_router_embedding_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Auto Router Embedding Model
        complexity_router_config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Complexity Router Config
        complexity_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Complexity Router Default Model
        adaptive_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Adaptive Router Default Model
        adaptive_router_config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Adaptive Router Config
        quality_router_config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Quality Router Config
        quality_router_default_model:
          anyOf:
          - type: string
          - type: 'null'
          title: Quality Router Default Model
        s3_encryption_key_id:
          anyOf:
          - type: string
          - type: 'null'
          title: S3 Encryption Key Id
        vector_store_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Id
        milvus_text_field:
          anyOf:
          - type: string
          - type: 'null'
          title: Milvus Text Field
        milvus_db_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Milvus Db Name
        milvus_partition_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Milvus Partition Names
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
      additionalProperties: true
      type: object
      title: updateLiteLLMParams
    UpdatePublicModelGroupsRequest:
      properties:
        model_groups:
          items:
            type: string
          type: array
          title: Model Groups
          description: List of model group names to make public
      additionalProperties: false
      type: object
      required:
      - model_groups
      title: UpdatePublicModelGroupsRequest
      description: Request model for updating public model groups
    ImageURLListItem:
      properties:
        image_url:
          $ref: '#/components/schemas/ImageURLObject'
        index:
          type: integer
          title: Index
        type:
          type: string
          const: image_url
          title: Type
      additionalProperties: true
      type: object
      required:
      - image_url
      - index
      - type
      title: ImageURLListItem
    Message:
      properties:
        content:
          anyOf:
          - type: string
          - type: 'null'
          title: Content
        role:
          type: string
          enum:
          - assistant
          - user
          - system
          - tool
          - function
          title: Role
        tool_calls:
[...]
