openapi: 3.2.0
info:
  title: LiteLLM Fine Tuning API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: fine-tuning
paths:
  /fine_tuning/jobs:
    post:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) Create Fine-Tuning Job
      description: "Creates a fine-tuning job which begins the process of creating a new model from a given dataset.\nThis is the equivalent of POST https://api.openai.com/v1/fine_tuning/jobs\n\nSupports Identical Params as: https://platform.openai.com/docs/api-reference/fine-tuning/create\n\nExample Curl:\n```\ncurl http://localhost:4000/v1/fine_tuning/jobs       -H \"Content-Type: application/json\"       -H \"Authorization: Bearer sk-1234\"       -d '{\n    \"model\": \"gpt-3.5-turbo\",\n    \"training_file\": \"file-abc123\",\n    \"hyperparameters\": {\n      \"n_epochs\": 4\n    }\n  }'\n```"
      operationId: create_fine_tuning_job_fine_tuning_jobs_post
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiteLLMFineTuningJobCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) List Fine-Tuning Jobs
      description: 'Lists fine-tuning jobs for the organization.

        This is the equivalent of GET https://api.openai.com/v1/fine_tuning/jobs


        Supported Query Params:

        - `custom_llm_provider`: Name of the LiteLLM provider

        - `after`: Identifier for the last job from the previous pagination request.

        - `limit`: Number of fine-tuning jobs to retrieve (default is 20).'
      operationId: list_fine_tuning_jobs_fine_tuning_jobs_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: custom_llm_provider
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - openai
            - azure
            type: string
          - type: 'null'
          title: Custom Llm Provider
      - name: target_model_names
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma separated list of model names to filter by. Example: ''gpt-4o,gpt-4o-mini'''
          title: Target Model Names
        description: 'Comma separated list of model names to filter by. Example: ''gpt-4o,gpt-4o-mini'''
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fine_tuning/jobs:
    post:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) Create Fine-Tuning Job
      description: "Creates a fine-tuning job which begins the process of creating a new model from a given dataset.\nThis is the equivalent of POST https://api.openai.com/v1/fine_tuning/jobs\n\nSupports Identical Params as: https://platform.openai.com/docs/api-reference/fine-tuning/create\n\nExample Curl:\n```\ncurl http://localhost:4000/v1/fine_tuning/jobs       -H \"Content-Type: application/json\"       -H \"Authorization: Bearer sk-1234\"       -d '{\n    \"model\": \"gpt-3.5-turbo\",\n    \"training_file\": \"file-abc123\",\n    \"hyperparameters\": {\n      \"n_epochs\": 4\n    }\n  }'\n```"
      operationId: create_fine_tuning_job_v1_fine_tuning_jobs_post
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiteLLMFineTuningJobCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) List Fine-Tuning Jobs
      description: 'Lists fine-tuning jobs for the organization.

        This is the equivalent of GET https://api.openai.com/v1/fine_tuning/jobs


        Supported Query Params:

        - `custom_llm_provider`: Name of the LiteLLM provider

        - `after`: Identifier for the last job from the previous pagination request.

        - `limit`: Number of fine-tuning jobs to retrieve (default is 20).'
      operationId: list_fine_tuning_jobs_v1_fine_tuning_jobs_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: custom_llm_provider
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - openai
            - azure
            type: string
          - type: 'null'
          title: Custom Llm Provider
      - name: target_model_names
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma separated list of model names to filter by. Example: ''gpt-4o,gpt-4o-mini'''
          title: Target Model Names
        description: 'Comma separated list of model names to filter by. Example: ''gpt-4o,gpt-4o-mini'''
      - name: after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /fine_tuning/jobs/{fine_tuning_job_id}:
    get:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) Retrieve Fine-Tuning Job
      description: 'Retrieves a fine-tuning job.

        This is the equivalent of GET https://api.openai.com/v1/fine_tuning/jobs/{fine_tuning_job_id}


        Supported Query Params:

        - `custom_llm_provider`: Name of the LiteLLM provider

        - `fine_tuning_job_id`: The ID of the fine-tuning job to retrieve.'
      operationId: retrieve_fine_tuning_job_fine_tuning_jobs__fine_tuning_job_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: fine_tuning_job_id
        in: path
        required: true
        schema:
          type: string
          title: Fine Tuning Job Id
      - name: custom_llm_provider
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - openai
            - azure
            type: string
          - type: 'null'
          title: Custom Llm Provider
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fine_tuning/jobs/{fine_tuning_job_id}:
    get:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) Retrieve Fine-Tuning Job
      description: 'Retrieves a fine-tuning job.

        This is the equivalent of GET https://api.openai.com/v1/fine_tuning/jobs/{fine_tuning_job_id}


        Supported Query Params:

        - `custom_llm_provider`: Name of the LiteLLM provider

        - `fine_tuning_job_id`: The ID of the fine-tuning job to retrieve.'
      operationId: retrieve_fine_tuning_job_v1_fine_tuning_jobs__fine_tuning_job_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: fine_tuning_job_id
        in: path
        required: true
        schema:
          type: string
          title: Fine Tuning Job Id
      - name: custom_llm_provider
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - openai
            - azure
            type: string
          - type: 'null'
          title: Custom Llm Provider
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /fine_tuning/jobs/{fine_tuning_job_id}/cancel:
    post:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) Cancel Fine-Tuning Jobs
      description: 'Cancel a fine-tuning job.


        This is the equivalent of POST https://api.openai.com/v1/fine_tuning/jobs/{fine_tuning_job_id}/cancel


        Supported Query Params:

        - `custom_llm_provider`: Name of the LiteLLM provider

        - `fine_tuning_job_id`: The ID of the fine-tuning job to cancel.'
      operationId: cancel_fine_tuning_job_fine_tuning_jobs__fine_tuning_job_id__cancel_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: fine_tuning_job_id
        in: path
        required: true
        schema:
          type: string
          title: Fine Tuning Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/fine_tuning/jobs/{fine_tuning_job_id}/cancel:
    post:
      tags:
      - fine-tuning
      summary: ✨ (Enterprise) Cancel Fine-Tuning Jobs
      description: 'Cancel a fine-tuning job.


        This is the equivalent of POST https://api.openai.com/v1/fine_tuning/jobs/{fine_tuning_job_id}/cancel


        Supported Query Params:

        - `custom_llm_provider`: Name of the LiteLLM provider

        - `fine_tuning_job_id`: The ID of the fine-tuning job to cancel.'
      operationId: cancel_fine_tuning_job_v1_fine_tuning_jobs__fine_tuning_job_id__cancel_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: fine_tuning_job_id
        in: path
        required: true
        schema:
          type: string
          title: Fine Tuning Job Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Hyperparameters:
      properties:
        batch_size:
          anyOf:
          - type: string
          - type: integer
          - type: 'null'
          title: Batch Size
        learning_rate_multiplier:
          anyOf:
          - type: string
          - type: number
          - type: 'null'
          title: Learning Rate Multiplier
        n_epochs:
          anyOf:
          - type: string
          - type: integer
          - type: 'null'
          title: N Epochs
      additionalProperties: true
      type: object
      title: Hyperparameters
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    LiteLLMFineTuningJobCreate:
      properties:
        model:
          type: string
          title: Model
        training_file:
          type: string
          title: Training File
        hyperparameters:
          anyOf:
          - $ref: '#/components/schemas/Hyperparameters'
          - type: 'null'
        suffix:
          anyOf:
          - type: string
          - type: 'null'
          title: Suffix
        validation_file:
          anyOf:
          - type: string
          - type: 'null'
          title: Validation File
        integrations:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Integrations
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
        custom_llm_provider:
          anyOf:
          - type: string
            enum:
            - openai
            - azure
            - vertex_ai
          - type: 'null'
          title: Custom Llm Provider
      additionalProperties: true
      type: object
      required:
      - model
      - training_file
      title: LiteLLMFineTuningJobCreate
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
