openapi: 3.0.3
info:
  title: TriplyDB Accounts Prefixes API
  version: 26.5.104
  description: "REST API for TriplyDB — a linked data database platform.\n\n## Authentication\n\nRead operations on publicly published datasets can be performed without\nauthentication. Write operations and read operations on private or internal\ndatasets require a valid API token.\n\n### Creating an API token\n\n1. Log into your TriplyDB instance.\n2. Click on the user menu in the top-right corner and click on \"User settings\".\n3. Go to the \"API tokens\" tab.\n4. Click \"Create token\", enter a description (e.g., \"my-script\") and select\n   the appropriate access rights.\n5. Click \"Create\" and copy the token. It is only shown once upon creation.\n\n### Using the API token\n\nInclude the token in the `Authorization` header of your HTTP requests:\n\n```\nAuthorization: Bearer YOUR_TOKEN\n```\n\n### Security considerations\n\n- **Do not commit tokens to git repositories.**\n- **Do not share tokens** with anyone who should not have access to your\n  TriplyDB resources.\n- **Rotate tokens regularly**, especially if you suspect a compromise.\n\n## Pagination\n\nList endpoints are paginated. The response includes a `Link` header\n([RFC 8288](https://www.rfc-editor.org/rfc/rfc8288)) with URLs for\nnavigating the result set. To paginate, follow the URLs in the `Link`\nheader rather than constructing URLs manually.\n\nThe `Link` header contains up to three relations:\n\n| Relation | Meaning |\n|----------|---------|\n| `first`  | URL to the first page of results |\n| `next`   | URL to the next page (absent when on the last page) |\n| `prev`   | URL to the previous page (absent when on the first page) |\n\nExample response header:\n\n```\nLink: <https://api.example.com/datasets/user/ds?limit=30>; rel=\"first\",\n      <https://api.example.com/datasets/user/ds?since=6435a&limit=30>; rel=\"next\"\n```\n\nTo iterate through all results, keep following the `rel=\"next\"` URL until\nit is no longer present. You can control the page size with the `limit`\nquery parameter (default: 30).\n\n## Content negotiation\n\nLinked data endpoints support format negotiation in two ways:\n\n1. **Accept header** — set the `Accept` request header to the desired media type.\n2. **URL extension** — append a format extension to the URL path (e.g., `/run.csv`).\n   When present, the extension takes precedence over the `Accept` header.\n"
  contact:
    name: Triply
    url: https://triply.cc
servers:
- url: https://api.lod.uba.uva.nl
  description: This instance
security:
- bearerAuth: []
- {}
tags:
- name: Prefixes
  description: Global RDF prefix management
paths:
  /prefixes:
    get:
      tags:
      - Prefixes
      summary: List global prefixes
      operationId: getGlobalPrefixes
      security:
      - {}
      parameters:
      - name: scope
        in: query
        schema:
          type: string
          enum:
          - local
          - global
      responses:
        '200':
          description: Prefix mappings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prefixes'
  /prefixes/{prefix}:
    parameters:
    - $ref: '#/components/parameters/prefix'
    get:
      tags:
      - Prefixes
      summary: Get a single prefix
      operationId: getGlobalPrefix
      security:
      - {}
      responses:
        '200':
          description: Prefix IRI
          content:
            application/json:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'
  /datasets/{account}/{dataset}/prefixes:
    parameters:
    - $ref: '#/components/parameters/account'
    - $ref: '#/components/parameters/dataset'
    get:
      tags:
      - Prefixes
      summary: List dataset prefixes
      operationId: getDatasetPrefixes
      security:
      - {}
      parameters:
      - name: scope
        in: query
        schema:
          type: string
          enum:
          - local
          - global
      responses:
        '200':
          description: Prefix mappings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prefixes'
    patch:
      tags:
      - Prefixes
      summary: Merge-update dataset prefixes
      operationId: patchDatasetPrefixes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prefixes'
      responses:
        '200':
          description: Updated prefixes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prefixes'
    put:
      tags:
      - Prefixes
      summary: Replace dataset prefixes
      operationId: putDatasetPrefixes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prefixes'
      responses:
        '200':
          description: Replaced prefixes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prefixes'
    post:
      tags:
      - Prefixes
      summary: Add a dataset prefix
      operationId: addDatasetPrefix
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prefixes'
      responses:
        '200':
          description: Created prefix
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prefixes'
  /datasets/{account}/{dataset}/prefixes/{prefix}:
    parameters:
    - $ref: '#/components/parameters/account'
    - $ref: '#/components/parameters/dataset'
    - $ref: '#/components/parameters/prefix'
    get:
      tags:
      - Prefixes
      summary: Get a dataset prefix
      operationId: getDatasetPrefix
      security:
      - {}
      responses:
        '200':
          description: Prefix IRI
          content:
            application/json:
              schema:
                type: string
    put:
      tags:
      - Prefixes
      summary: Create or update a dataset prefix
      operationId: putDatasetPrefix
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - iri
              properties:
                iri:
                  type: string
      responses:
        '200':
          description: Updated prefix
          content:
            application/json:
              schema:
                type: string
    delete:
      tags:
      - Prefixes
      summary: Delete a dataset prefix
      operationId: deleteDatasetPrefix
      responses:
        '204':
          description: Prefix deleted
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    account:
      name: account
      in: path
      required: true
      description: Account name (user or group)
      schema:
        type: string
    prefix:
      name: prefix
      in: path
      required: true
      description: Prefix label
      schema:
        type: string
    dataset:
      name: dataset
      in: path
      required: true
      description: Dataset name
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          example: Resource not found.
        code:
          type: integer
          example: 404
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
    Prefixes:
      type: object
      additionalProperties:
        type: string
        format: uri
      example:
        rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
        rdfs: http://www.w3.org/2000/01/rdf-schema#
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
