openapi: 3.2.0
info:
  title: LiteLLM vector store management API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: vector store management
paths:
  /vector_store/new:
    post:
      tags:
      - vector store management
      summary: New Vector Store
      description: 'Create a new vector store.


        Parameters:

        - vector_store_id: str - Unique identifier for the vector store

        - custom_llm_provider: str - Provider of the vector store

        - vector_store_name: Optional[str] - Name of the vector store

        - vector_store_description: Optional[str] - Description of the vector store

        - vector_store_metadata: Optional[Dict] - Additional metadata for the vector store'
      operationId: new_vector_store_vector_store_new_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiteLLM_ManagedVectorStore'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /v1/vector_store/list:
    get:
      tags:
      - vector store management
      summary: List Vector Stores
      description: 'List all available vector stores with optional filtering and pagination.

        Combines both in-memory vector stores and those stored in the database.

        Database is the source of truth - deleted stores are removed from memory, updated stores sync to memory.


        Parameters:

        - page: int - Page number for pagination (default: 1)

        - page_size: int - Number of items per page (default: 100)'
      operationId: list_vector_stores_v1_vector_store_list_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          title: Page
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Page Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiteLLM_ManagedVectorStoreListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /vector_store/list:
    get:
      tags:
      - vector store management
      summary: List Vector Stores
      description: 'List all available vector stores with optional filtering and pagination.

        Combines both in-memory vector stores and those stored in the database.

        Database is the source of truth - deleted stores are removed from memory, updated stores sync to memory.


        Parameters:

        - page: int - Page number for pagination (default: 1)

        - page_size: int - Number of items per page (default: 100)'
      operationId: list_vector_stores_vector_store_list_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          title: Page
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 100
          title: Page Size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiteLLM_ManagedVectorStoreListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /vector_store/delete:
    post:
      tags:
      - vector store management
      summary: Delete Vector Store
      description: 'Delete a vector store from both database and in-memory registry.


        Parameters:

        - vector_store_id: str - ID of the vector store to delete'
      operationId: delete_vector_store_vector_store_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VectorStoreDeleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /vector_store/info:
    post:
      tags:
      - vector store management
      summary: Get Vector Store Info
      description: Return a single vector store's details
      operationId: get_vector_store_info_vector_store_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VectorStoreInfoRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLiteLLM_ManagedVectorStore'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /vector_store/update:
    post:
      tags:
      - vector store management
      summary: Update Vector Store
      description: 'Update vector store details in both database and in-memory registry.

        The updated data is immediately synchronized to the in-memory registry.'
      operationId: update_vector_store_vector_store_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VectorStoreUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    VectorStoreDeleteRequest:
      properties:
        vector_store_id:
          type: string
          title: Vector Store Id
      type: object
      required:
      - vector_store_id
      title: VectorStoreDeleteRequest
    VectorStoreUpdateRequest:
      properties:
        vector_store_id:
          type: string
          title: Vector Store Id
        custom_llm_provider:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Llm Provider
        vector_store_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Name
        vector_store_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Description
        vector_store_metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Vector Store Metadata
      type: object
      required:
      - vector_store_id
      title: VectorStoreUpdateRequest
    ResponseLiteLLM_ManagedVectorStore:
      properties:
        vector_store:
          $ref: '#/components/schemas/LiteLLM_ManagedVectorStoresTable'
      type: object
      title: ResponseLiteLLM_ManagedVectorStore
    LiteLLM_ManagedVectorStoresTable:
      properties:
        vector_store_id:
          type: string
          title: Vector Store Id
        custom_llm_provider:
          type: string
          title: Custom Llm Provider
        vector_store_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Name
        vector_store_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Description
        vector_store_metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Vector Store Metadata
        created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created At
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
        litellm_credential_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Credential Name
        litellm_params:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Litellm Params
        team_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
        user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: User Id
      type: object
      required:
      - vector_store_id
      - custom_llm_provider
      title: LiteLLM_ManagedVectorStoresTable
    VectorStoreInfoRequest:
      properties:
        vector_store_id:
          type: string
          title: Vector Store Id
      type: object
      required:
      - vector_store_id
      title: VectorStoreInfoRequest
    LiteLLM_ManagedVectorStoreListResponse:
      properties:
        object:
          type: string
          const: list
          title: Object
        data:
          items:
            $ref: '#/components/schemas/LiteLLM_ManagedVectorStore'
          type: array
          title: Data
        total_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Count
        current_page:
          anyOf:
          - type: integer
          - type: 'null'
          title: Current Page
        total_pages:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Pages
      type: object
      title: LiteLLM_ManagedVectorStoreListResponse
      description: Response format for listing vector stores
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    LiteLLM_ManagedVectorStore:
      properties:
        vector_store_id:
          type: string
          title: Vector Store Id
        custom_llm_provider:
          type: string
          title: Custom Llm Provider
        vector_store_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Name
        vector_store_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Vector Store Description
        vector_store_metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: string
          - type: 'null'
          title: Vector Store Metadata
        created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created At
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
        litellm_credential_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Credential Name
        litellm_params:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Litellm Params
        team_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
        user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: User Id
      type: object
      title: LiteLLM_ManagedVectorStore
      description: LiteLLM managed vector store object - this is is the object stored in the database
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
