openapi: 3.2.0
info:
  title: LiteLLM Web Socket API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: WebSocket
paths:
  /responses:
    get:
      summary: 'WebSocket: responses_websocket_endpoint'
      description: WebSocket connection endpoint
      operationId: websocket_responses_websocket_endpoint_get
      parameters: []
      responses:
        '101':
          description: WebSocket Protocol Switched
      tags:
      - WebSocket
  /v1/responses:
    get:
      summary: 'WebSocket: responses_websocket_endpoint'
      description: WebSocket connection endpoint
      operationId: websocket_responses_websocket_endpoint_get_2
      parameters: []
      responses:
        '101':
          description: WebSocket Protocol Switched
      tags:
      - WebSocket
  /vertex_ai/live:
    get:
      summary: 'WebSocket: vertex_ai_live_passthrough_endpoint'
      description: WebSocket connection endpoint
      operationId: websocket_vertex_ai_live_passthrough_endpoint
      parameters: []
      responses:
        '101':
          description: WebSocket Protocol Switched
      tags:
      - WebSocket
  /realtime:
    get:
      summary: 'WebSocket: realtime_websocket_endpoint'
      description: WebSocket connection endpoint
      operationId: websocket_realtime_websocket_endpoint_get
      parameters: []
      responses:
        '101':
          description: WebSocket Protocol Switched
      tags:
      - WebSocket
  /v1/realtime:
    get:
      summary: 'WebSocket: realtime_websocket_endpoint'
      description: WebSocket connection endpoint
      operationId: websocket_realtime_websocket_endpoint_get_2
      parameters: []
      responses:
        '101':
          description: WebSocket Protocol Switched
      tags:
      - WebSocket
  /openai/v1/realtime:
    get:
      summary: 'WebSocket: realtime_websocket_endpoint'
      description: WebSocket connection endpoint
      operationId: websocket_realtime_websocket_endpoint_get_3
      parameters: []
      responses:
        '101':
          description: WebSocket Protocol Switched
      tags:
      - WebSocket
components:
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
