openapi: 3.2.0
info:
  title: LiteLLM Public API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: public
paths:
  /public/model_hub:
    get:
      tags:
      - public
      summary: Public Model Hub
      operationId: public_model_hub_public_model_hub_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelGroupInfoProxy'
                type: array
                title: Response Public Model Hub Public Model Hub Get
  /public/agent_hub:
    get:
      tags:
      - public
      summary: Get Agents
      operationId: get_agents_public_agent_hub_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentCard'
                type: array
                title: Response Get Agents Public Agent Hub Get
  /public/mcp_hub:
    get:
      tags:
      - public
      summary: Get Mcp Servers
      operationId: get_mcp_servers_public_mcp_hub_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MCPPublicServer'
                type: array
                title: Response Get Mcp Servers Public Mcp Hub Get
  /public/skill_hub:
    get:
      tags:
      - public
      summary: Public Skill Hub
      description: Return enabled (public) Claude Code skills — no auth required.
      operationId: public_skill_hub_public_skill_hub_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /public/model_hub/info:
    get:
      tags:
      - public
      summary: Public Model Hub Info
      operationId: public_model_hub_info_public_model_hub_info_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicModelHubInfo'
  /public/providers:
    get:
      tags:
      - public
      summary: Get Supported Providers
      description: Return a sorted list of all providers supported by LiteLLM.
      operationId: get_supported_providers_public_providers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response Get Supported Providers Public Providers Get
  /public/providers/fields:
    get:
      tags:
      - public
      summary: Get Provider Fields
      description: Return provider metadata required by the dashboard create-model flow.
      operationId: get_provider_fields_public_providers_fields_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProviderCreateInfo'
                type: array
                title: Response Get Provider Fields Public Providers Fields Get
  /public/litellm_model_cost_map:
    get:
      tags:
      - public
      summary: Get Litellm Model Cost Map
      description: 'Public endpoint to get the LiteLLM model cost map.

        Returns pricing information for all supported models.'
      operationId: get_litellm_model_cost_map_public_litellm_model_cost_map_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /public/litellm_blog_posts:
    get:
      tags:
      - public
      summary: Get Litellm Blog Posts
      description: 'Public endpoint to get the latest LiteLLM blog posts.


        Fetches from GitHub with a 1-hour in-process cache.

        Falls back to the bundled local backup on any failure.'
      operationId: get_litellm_blog_posts_public_litellm_blog_posts_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPostsResponse'
  /public/endpoints:
    get:
      tags:
      - public
      summary: Get Supported Endpoints
      description: 'Return the list of LiteLLM proxy endpoints and which providers support each one.


        Reads from the bundled local backup file. Result is cached in-process for

        the lifetime of the server process.'
      operationId: get_supported_endpoints_public_endpoints_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedEndpointsResponse'
  /public/agents/fields:
    get:
      tags:
      - public
      summary: Get Agent Fields
      description: 'Return agent type metadata required by the dashboard create-agent flow.


        If an agent has `inherit_credentials_from_provider`, the provider''s credential

        fields are automatically appended to the agent''s credential_fields.'
      operationId: get_agent_fields_public_agents_fields_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentCreateInfo'
                type: array
                title: Response Get Agent Fields Public Agents Fields Get
components:
  schemas:
    AgentExtension:
      properties:
        uri:
          type: string
          title: Uri
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        required:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Required
        params:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Params
      type: object
      title: AgentExtension
      description: A declaration of a protocol extension supported by an Agent.
    EndpointProvider:
      properties:
        slug:
          type: string
          title: Slug
        display_name:
          type: string
          title: Display Name
      type: object
      required:
      - slug
      - display_name
      title: EndpointProvider
    APIKeySecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: apiKey
          title: Type
        in_:
          type: string
          enum:
          - query
          - header
          - cookie
          title: In
        name:
          type: string
          title: Name
      type: object
      required:
      - type
      - in_
      - name
      title: APIKeySecurityScheme
      description: Defines a security scheme using an API key.
    ConfigurableClientsideParamsCustomAuth-Output:
      properties:
        api_base:
          type: string
          title: Api Base
      type: object
      required:
      - api_base
      title: ConfigurableClientsideParamsCustomAuth
    AgentInterface:
      properties:
        url:
          type: string
          title: Url
        transport:
          type: string
          title: Transport
      type: object
      title: AgentInterface
      description: Declares a combination of a target URL and a transport protocol.
    OAuthFlows:
      properties:
        authorizationCode:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Authorizationcode
        clientCredentials:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Clientcredentials
        implicit:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Implicit
        password:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Password
      type: object
      title: OAuthFlows
      description: Defines the configuration for the supported OAuth 2.0 flows.
    MutualTLSSecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: mutualTLS
          title: Type
      type: object
      required:
      - type
      title: MutualTLSSecurityScheme
      description: Defines a security scheme using mTLS authentication.
    AgentCard:
      properties:
        protocolVersion:
          type: string
          title: Protocolversion
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        url:
          type: string
          title: Url
        version:
          type: string
          title: Version
        capabilities:
          $ref: '#/components/schemas/AgentCapabilities'
        defaultInputModes:
          items:
            type: string
          type: array
          title: Defaultinputmodes
        defaultOutputModes:
          items:
            type: string
          type: array
          title: Defaultoutputmodes
        skills:
          items:
            $ref: '#/components/schemas/AgentSkill'
          type: array
          title: Skills
        preferredTransport:
          anyOf:
          - type: string
          - type: 'null'
          title: Preferredtransport
        additionalInterfaces:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentInterface'
            type: array
          - type: 'null'
          title: Additionalinterfaces
        iconUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Iconurl
        provider:
          anyOf:
          - $ref: '#/components/schemas/AgentProvider'
          - type: 'null'
        documentationUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Documentationurl
        securitySchemes:
          anyOf:
          - additionalProperties:
              anyOf:
              - $ref: '#/components/schemas/APIKeySecurityScheme'
              - $ref: '#/components/schemas/HTTPAuthSecurityScheme'
              - $ref: '#/components/schemas/OAuth2SecurityScheme'
              - $ref: '#/components/schemas/OpenIdConnectSecurityScheme'
              - $ref: '#/components/schemas/MutualTLSSecurityScheme'
            type: object
          - type: 'null'
          title: Securityschemes
        security:
          anyOf:
          - items:
              additionalProperties:
                items:
                  type: string
                type: array
              type: object
            type: array
          - type: 'null'
          title: Security
        supportsAuthenticatedExtendedCard:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Supportsauthenticatedextendedcard
        signatures:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentCardSignature'
            type: array
          - type: 'null'
          title: Signatures
      type: object
      title: AgentCard
      description: 'The AgentCard is a self-describing manifest for an agent.

        It provides essential metadata including the agent''s identity, capabilities,

        skills, supported communication methods, and security requirements.'
    BlogPostsResponse:
      properties:
        posts:
          items:
            $ref: '#/components/schemas/BlogPost'
          type: array
          title: Posts
      type: object
      required:
      - posts
      title: BlogPostsResponse
    ModelGroupInfoProxy:
      properties:
        model_group:
          type: string
          title: Model Group
        providers:
          items:
            type: string
          type: array
          title: Providers
        max_input_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Input Tokens
        max_output_tokens:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Output Tokens
        input_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Token
        output_cost_per_token:
          anyOf:
          - type: number
          - type: 'null'
          title: Output Cost Per Token
        input_cost_per_pixel:
          anyOf:
          - type: number
          - type: 'null'
          title: Input Cost Per Pixel
        mode:
          anyOf:
          - type: string
          - type: string
            enum:
            - chat
            - embedding
            - completion
            - image_generation
            - audio_transcription
            - rerank
            - moderations
          - type: 'null'
          title: Mode
          default: chat
        tpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tpm
        rpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rpm
        itpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Itpm
        otpm:
          anyOf:
          - type: integer
          - type: 'null'
          title: Otpm
        supports_parallel_function_calling:
          type: boolean
          title: Supports Parallel Function Calling
          default: false
        supports_vision:
          type: boolean
          title: Supports Vision
          default: false
        supports_web_search:
          type: boolean
          title: Supports Web Search
          default: false
        supports_url_context:
          type: boolean
          title: Supports Url Context
          default: false
        supports_reasoning:
          type: boolean
          title: Supports Reasoning
          default: false
        supports_function_calling:
          type: boolean
          title: Supports Function Calling
          default: false
        supported_openai_params:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Supported Openai Params
          default: []
        configurable_clientside_auth_params:
          anyOf:
          - items:
              anyOf:
              - type: string
              - $ref: '#/components/schemas/ConfigurableClientsideParamsCustomAuth-Output'
            type: array
          - type: 'null'
          title: Configurable Clientside Auth Params
        is_public_model_group:
          type: boolean
          title: Is Public Model Group
          default: false
        health_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Health Status
        health_response_time:
          anyOf:
          - type: number
          - type: 'null'
          title: Health Response Time
        health_checked_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Health Checked At
      type: object
      required:
      - model_group
      - providers
      title: ModelGroupInfoProxy
    OpenIdConnectSecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: openIdConnect
          title: Type
        openIdConnectUrl:
          type: string
          title: Openidconnecturl
      type: object
      required:
      - type
      - openIdConnectUrl
      title: OpenIdConnectSecurityScheme
      description: Defines a security scheme using OpenID Connect.
    AgentProvider:
      properties:
        organization:
          type: string
          title: Organization
        url:
          type: string
          title: Url
      type: object
      title: AgentProvider
      description: Represents the service provider of an agent.
    AgentCardSignature:
      properties:
        protected:
          type: string
          title: Protected
        signature:
          type: string
          title: Signature
        header:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Header
      type: object
      title: AgentCardSignature
      description: Represents a JWS signature of an AgentCard.
    MCPPublicServer:
      properties:
        server_id:
          type: string
          title: Server Id
        name:
          type: string
          title: Name
        alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Alias
        server_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Server Name
        transport:
          type: string
          enum:
          - sse
          - http
          - stdio
          title: Transport
        spec_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Spec Path
        auth_type:
          anyOf:
          - type: string
            enum:
            - none
            - api_key
            - bearer_token
            - basic
            - authorization
            - oauth2
            - aws_sigv4
            - token
            - oauth2_token_exchange
            - oauth2_id_jag
            - true_passthrough
            - oauth_delegate
          - type: 'null'
          title: Auth Type
        mcp_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Mcp Info
      type: object
      required:
      - server_id
      - name
      - transport
      title: MCPPublicServer
      description: Safe params for public MCP servers
    PublicModelHubInfo:
      properties:
        docs_title:
          type: string
          title: Docs Title
        custom_docs_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Docs Description
        litellm_version:
          type: string
          title: Litellm Version
        useful_links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - additionalProperties: true
                type: object
            type: object
          - type: 'null'
          title: Useful Links
      type: object
      required:
      - docs_title
      - custom_docs_description
      - litellm_version
      - useful_links
      title: PublicModelHubInfo
    SupportedEndpointsResponse:
      properties:
        endpoints:
          items:
            $ref: '#/components/schemas/SupportedEndpoint'
          type: array
          title: Endpoints
      type: object
      required:
      - endpoints
      title: SupportedEndpointsResponse
    AgentSkill:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        tags:
          items:
            type: string
          type: array
          title: Tags
        examples:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Examples
        inputModes:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Inputmodes
        outputModes:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Outputmodes
        security:
          anyOf:
          - items:
              additionalProperties:
                items:
                  type: string
                type: array
              type: object
            type: array
          - type: 'null'
          title: Security
      type: object
      title: AgentSkill
      description: Represents a distinct capability or function that an agent can perform.
    AgentCredentialField:
      properties:
        key:
          type: string
          title: Key
        label:
          type: string
          title: Label
        placeholder:
          anyOf:
          - type: string
          - type: 'null'
          title: Placeholder
        tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Tooltip
        required:
          type: boolean
          title: Required
          default: false
        field_type:
          type: string
          enum:
          - text
          - password
          - select
          - upload
          - textarea
          title: Field Type
          default: text
        options:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Options
        default_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Value
        include_in_litellm_params:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Include In Litellm Params
      type: object
      required:
      - key
      - label
      title: AgentCredentialField
    OAuth2SecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: oauth2
          title: Type
        flows:
          $ref: '#/components/schemas/OAuthFlows'
        oauth2MetadataUrl:
          anyOf:
          - type: string
          - type: 'null'
          title: Oauth2Metadataurl
      type: object
      required:
      - type
      - flows
      title: OAuth2SecurityScheme
      description: Defines a security scheme using OAuth 2.0.
    BlogPost:
      properties:
        title:
          type: string
          title: Title
        description:
          type: string
          title: Description
        date:
          type: string
          title: Date
        url:
          type: string
          title: Url
      type: object
      required:
      - title
      - description
      - date
      - url
      title: BlogPost
    HTTPAuthSecurityScheme:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        type:
          type: string
          const: http
          title: Type
        scheme:
          type: string
          title: Scheme
        bearerFormat:
          anyOf:
          - type: string
          - type: 'null'
          title: Bearerformat
      type: object
      required:
      - type
      - scheme
      title: HTTPAuthSecurityScheme
      description: Defines a security scheme using HTTP authentication.
    AgentCapabilities:
      properties:
        streaming:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Streaming
        pushNotifications:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Pushnotifications
        stateTransitionHistory:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Statetransitionhistory
        extensions:
          anyOf:
          - items:
              $ref: '#/components/schemas/AgentExtension'
            type: array
          - type: 'null'
          title: Extensions
      type: object
      title: AgentCapabilities
      description: Defines optional capabilities supported by an agent.
    ProviderCreateInfo:
      properties:
        provider:
          type: string
          title: Provider
        provider_display_name:
          type: string
          title: Provider Display Name
        litellm_provider:
          type: string
          title: Litellm Provider
        credential_fields:
          items:
            $ref: '#/components/schemas/ProviderCredentialField'
          type: array
          title: Credential Fields
        default_model_placeholder:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Model Placeholder
      type: object
      required:
      - provider
      - provider_display_name
      - litellm_provider
      - credential_fields
      title: ProviderCreateInfo
    ProviderCredentialField:
      properties:
        key:
          type: string
          title: Key
        label:
          type: string
          title: Label
        placeholder:
          anyOf:
          - type: string
          - type: 'null'
          title: Placeholder
        tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Tooltip
        required:
          type: boolean
          title: Required
          default: false
        field_type:
          type: string
          enum:
          - text
          - password
          - select
          - upload
          - textarea
          title: Field Type
          default: text
        options:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Options
        default_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Value
      type: object
      required:
      - key
      - label
      title: ProviderCredentialField
    AgentCreateInfo:
      properties:
        agent_type:
          type: string
          title: Agent Type
        agent_type_display_name:
          type: string
          title: Agent Type Display Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        logo_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Logo Url
        credential_fields:
          items:
            $ref: '#/components/schemas/AgentCredentialField'
          type: array
          title: Credential Fields
        litellm_params_template:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Litellm Params Template
        model_template:
          anyOf:
          - type: string
          - type: 'null'
          title: Model Template
      type: object
      required:
      - agent_type
      - agent_type_display_name
      - credential_fields
      title: AgentCreateInfo
    SupportedEndpoint:
      properties:
        key:
          type: string
          title: Key
        label:
          type: string
          title: Label
        endpoint:
          type: string
          title: Endpoint
        providers:
          items:
            $ref: '#/components/schemas/EndpointProvider'
          type: array
          title: Providers
      type: object
      required:
      - key
      - label
      - endpoint
      - providers
      title: SupportedEndpoint
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
