openapi: 3.2.0
info:
  title: LiteLLM Cursor Pass-through API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Cursor Pass-through
paths:
  /cursor/{endpoint}:
    put:
      tags:
      - Cursor Pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Cursor Pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Cursor Pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Cursor Pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Cursor Pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
