openapi: 3.2.0
info:
  title: LiteLLM Videos API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: videos
paths:
  /videos:
    get:
      tags:
      - videos
      summary: Video List
      description: 'Video list endpoint for retrieving a list of videos.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: video_list_videos_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
    post:
      tags:
      - videos
      summary: Video Generation
      description: "Video generation endpoint for creating videos from text prompts.\n\nFollows the OpenAI Videos API spec:\nhttps://platform.openai.com/docs/api-reference/videos\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1/videos\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"model\": \"sora-2\",\n        \"prompt\": \"A beautiful sunset over the ocean\"\n    }'\n```"
      operationId: video_generation_videos_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_video_generation_videos_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /v1/videos:
    get:
      tags:
      - videos
      summary: Video List
      description: 'Video list endpoint for retrieving a list of videos.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: video_list_v1_videos_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
    post:
      tags:
      - videos
      summary: Video Generation
      description: "Video generation endpoint for creating videos from text prompts.\n\nFollows the OpenAI Videos API spec:\nhttps://platform.openai.com/docs/api-reference/videos\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1/videos\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"model\": \"sora-2\",\n        \"prompt\": \"A beautiful sunset over the ocean\"\n    }'\n```"
      operationId: video_generation_v1_videos_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_video_generation_v1_videos_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /videos/{video_id}:
    get:
      tags:
      - videos
      summary: Video Status
      description: 'Video status endpoint for retrieving video status and metadata.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos/video_123"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: video_status_videos__video_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          type: string
          title: Video Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/videos/{video_id}:
    get:
      tags:
      - videos
      summary: Video Status
      description: 'Video status endpoint for retrieving video status and metadata.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos/video_123"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: video_status_v1_videos__video_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          type: string
          title: Video Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /videos/{video_id}/content:
    get:
      tags:
      - videos
      summary: Video Content
      description: 'Video content endpoint for downloading video content.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos/{video_id}/content"         -H "Authorization: Bearer sk-1234"         --output video.mp4

        ```'
      operationId: video_content_videos__video_id__content_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          type: string
          title: Video Id
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/videos/{video_id}/content:
    get:
      tags:
      - videos
      summary: Video Content
      description: 'Video content endpoint for downloading video content.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos/{video_id}/content"         -H "Authorization: Bearer sk-1234"         --output video.mp4

        ```'
      operationId: video_content_v1_videos__video_id__content_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          type: string
          title: Video Id
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /videos/{video_id}/remix:
    post:
      tags:
      - videos
      summary: Video Remix
      description: "Video remix endpoint for remixing existing videos with new prompts.\n\nFollows the OpenAI Videos API spec:\nhttps://platform.openai.com/docs/api-reference/videos\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1/videos/video_123/remix\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"prompt\": \"A new version with different colors\"\n    }'\n```"
      operationId: video_remix_videos__video_id__remix_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          type: string
          title: Video Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/videos/{video_id}/remix:
    post:
      tags:
      - videos
      summary: Video Remix
      description: "Video remix endpoint for remixing existing videos with new prompts.\n\nFollows the OpenAI Videos API spec:\nhttps://platform.openai.com/docs/api-reference/videos\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1/videos/video_123/remix\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"prompt\": \"A new version with different colors\"\n    }'\n```"
      operationId: video_remix_v1_videos__video_id__remix_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          type: string
          title: Video Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /videos/characters:
    post:
      tags:
      - videos
      summary: Video Create Character
      description: 'Create a character from an uploaded video file.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/create-character


        Example:

        ```bash

        curl -X POST "http://localhost:4000/v1/videos/characters"         -H "Authorization: Bearer sk-1234"         -F "video=@character_video.mp4"         -F "name=my_character"

        ```'
      operationId: video_create_character_videos_characters_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_video_create_character_videos_characters_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /v1/videos/characters:
    post:
      tags:
      - videos
      summary: Video Create Character
      description: 'Create a character from an uploaded video file.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/create-character


        Example:

        ```bash

        curl -X POST "http://localhost:4000/v1/videos/characters"         -H "Authorization: Bearer sk-1234"         -F "video=@character_video.mp4"         -F "name=my_character"

        ```'
      operationId: video_create_character_v1_videos_characters_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_video_create_character_v1_videos_characters_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /videos/characters/{character_id}:
    get:
      tags:
      - videos
      summary: Video Get Character
      description: 'Retrieve a character by ID.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/get-character


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos/characters/char_123"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: video_get_character_videos_characters__character_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: character_id
        in: path
        required: true
        schema:
          type: string
          title: Character Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/videos/characters/{character_id}:
    get:
      tags:
      - videos
      summary: Video Get Character
      description: 'Retrieve a character by ID.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/get-character


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/videos/characters/char_123"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: video_get_character_v1_videos_characters__character_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: character_id
        in: path
        required: true
        schema:
          type: string
          title: Character Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /videos/edits:
    post:
      tags:
      - videos
      summary: Video Edit
      description: 'Create a video edit job.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/create-edit


        Example:

        ```bash

        curl -X POST "http://localhost:4000/v1/videos/edits"         -H "Authorization: Bearer sk-1234"         -H "Content-Type: application/json"         -d ''{"prompt": "Make it brighter", "video": {"id": "video_123"}}''

        ```'
      operationId: video_edit_videos_edits_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1/videos/edits:
    post:
      tags:
      - videos
      summary: Video Edit
      description: 'Create a video edit job.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/create-edit


        Example:

        ```bash

        curl -X POST "http://localhost:4000/v1/videos/edits"         -H "Authorization: Bearer sk-1234"         -H "Content-Type: application/json"         -d ''{"prompt": "Make it brighter", "video": {"id": "video_123"}}''

        ```'
      operationId: video_edit_v1_videos_edits_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /videos/extensions:
    post:
      tags:
      - videos
      summary: Video Extension
      description: 'Create a video extension.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/create-extension


        Example:

        ```bash

        curl -X POST "http://localhost:4000/v1/videos/extensions"         -H "Authorization: Bearer sk-1234"         -H "Content-Type: application/json"         -d ''{"prompt": "Continue the scene", "seconds": "5", "video": {"id": "video_123"}}''

        ```'
      operationId: video_extension_videos_extensions_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1/videos/extensions:
    post:
      tags:
      - videos
      summary: Video Extension
      description: 'Create a video extension.


        Follows the OpenAI Videos API spec:

        https://platform.openai.com/docs/api-reference/videos/create-extension


        Example:

        ```bash

        curl -X POST "http://localhost:4000/v1/videos/extensions"         -H "Authorization: Bearer sk-1234"         -H "Content-Type: application/json"         -d ''{"prompt": "Continue the scene", "seconds": "5", "video": {"id": "video_123"}}''

        ```'
      operationId: video_extension_v1_videos_extensions_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
components:
  schemas:
    Body_video_generation_v1_videos_post:
      properties:
        input_reference:
          anyOf:
          - type: string
            contentMediaType: application/octet-stream
          - type: 'null'
          title: Input Reference
      type: object
      title: Body_video_generation_v1_videos_post
    Body_video_create_character_v1_videos_characters_post:
      properties:
        video:
          type: string
          contentMediaType: application/octet-stream
          title: Video
        name:
          type: string
          title: Name
      type: object
      required:
      - video
      - name
      title: Body_video_create_character_v1_videos_characters_post
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Body_video_create_character_videos_characters_post:
      properties:
        video:
          type: string
          contentMediaType: application/octet-stream
          title: Video
        name:
          type: string
          title: Name
      type: object
      required:
      - video
      - name
      title: Body_video_create_character_videos_characters_post
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Body_video_generation_videos_post:
      properties:
        input_reference:
          anyOf:
          - type: string
            contentMediaType: application/octet-stream
          - type: 'null'
          title: Input Reference
      type: object
      title: Body_video_generation_videos_post
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
