openapi: 3.2.0
info:
  title: LiteLLM UI Theme Settings API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: UI Theme Settings
paths:
  /get/ui_theme_settings:
    get:
      tags:
      - UI Theme Settings
      summary: Get Ui Theme Settings
      description: 'Get UI theme configuration from the litellm_settings.

        Returns current logo settings for UI customization.


        Note: This endpoint is public (no authentication required) so all users can see custom branding.

        Only the /update/ui_theme_settings endpoint requires authentication for admins to change settings.'
      operationId: get_ui_theme_settings_get_ui_theme_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UIThemeSettingsResponse'
  /update/ui_theme_settings:
    patch:
      tags:
      - UI Theme Settings
      summary: Update Ui Theme Settings
      description: 'Update UI theme configuration.

        Updates logo settings for the admin UI.'
      operationId: update_ui_theme_settings_update_ui_theme_settings_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UIThemeConfig'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /upload/logo:
    post:
      tags:
      - UI Theme Settings
      summary: Upload Logo
      description: 'Upload a custom logo for the admin UI.

        Accepts image files (PNG, JPG, JPEG, SVG) and stores them for use in the UI.'
      operationId: upload_logo_upload_logo_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_logo_upload_logo_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    UIThemeSettingsResponse:
      properties:
        values:
          additionalProperties: true
          type: object
          title: Values
        field_schema:
          additionalProperties: true
          type: object
          title: Field Schema
      type: object
      required:
      - values
      - field_schema
      title: UIThemeSettingsResponse
      description: Response model for UI theme settings
    Body_upload_logo_upload_logo_post:
      properties:
        file:
          type: string
          contentMediaType: application/octet-stream
          title: File
      type: object
      required:
      - file
      title: Body_upload_logo_upload_logo_post
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    UIThemeConfig:
      properties:
        logo_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Logo Url
          description: URL or path to custom logo image. Can be a local file path or HTTP/HTTPS URL
        favicon_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Favicon Url
          description: URL to custom favicon image. Must be an HTTP/HTTPS URL to a .ico, .png, or .svg file
      type: object
      title: UIThemeConfig
      description: Configuration for UI theme customization
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
