openapi: 3.2.0
info:
  title: LiteLLM access group management API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: access group management
paths:
  /v1/access_group:
    get:
      tags:
      - access group management
      summary: List Access Groups
      operationId: list_access_groups_v1_access_group_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccessGroupResponse'
                type: array
                title: Response List Access Groups V1 Access Group Get
      security:
      - APIKeyHeader: []
    post:
      tags:
      - access group management
      summary: Create Access Group
      operationId: create_access_group_v1_access_group_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessGroupCreateRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /v1/access_group/{access_group_id}:
    get:
      tags:
      - access group management
      summary: Get Access Group
      operationId: get_access_group_v1_access_group__access_group_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group_id
        in: path
        required: true
        schema:
          type: string
          title: Access Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - access group management
      summary: Update Access Group
      operationId: update_access_group_v1_access_group__access_group_id__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group_id
        in: path
        required: true
        schema:
          type: string
          title: Access Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessGroupUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - access group management
      summary: Delete Access Group
      operationId: delete_access_group_v1_access_group__access_group_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group_id
        in: path
        required: true
        schema:
          type: string
          title: Access Group Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/unified_access_group:
    get:
      tags:
      - access group management
      summary: List Access Groups
      operationId: list_access_groups_v1_unified_access_group_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccessGroupResponse'
                type: array
                title: Response List Access Groups V1 Unified Access Group Get
      security:
      - APIKeyHeader: []
    post:
      tags:
      - access group management
      summary: Create Access Group
      operationId: create_access_group_v1_unified_access_group_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessGroupCreateRequest'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /v1/unified_access_group/{access_group_id}:
    get:
      tags:
      - access group management
      summary: Get Access Group
      operationId: get_access_group_v1_unified_access_group__access_group_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group_id
        in: path
        required: true
        schema:
          type: string
          title: Access Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - access group management
      summary: Update Access Group
      operationId: update_access_group_v1_unified_access_group__access_group_id__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group_id
        in: path
        required: true
        schema:
          type: string
          title: Access Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessGroupUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - access group management
      summary: Delete Access Group
      operationId: delete_access_group_v1_unified_access_group__access_group_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: access_group_id
        in: path
        required: true
        schema:
          type: string
          title: Access Group Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    AccessGroupUpdateRequest:
      properties:
        access_group_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Access Group Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        access_model_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Access Model Names
        access_mcp_server_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Access Mcp Server Ids
        access_agent_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Access Agent Ids
        assigned_team_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Assigned Team Ids
        assigned_key_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Assigned Key Ids
      type: object
      title: AccessGroupUpdateRequest
    AccessGroupResponse:
      properties:
        access_group_id:
          type: string
          title: Access Group Id
        access_group_name:
          type: string
          title: Access Group Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        access_model_names:
          items:
            type: string
          type: array
          title: Access Model Names
        access_mcp_server_ids:
          items:
            type: string
          type: array
          title: Access Mcp Server Ids
        access_agent_ids:
          items:
            type: string
          type: array
          title: Access Agent Ids
        assigned_team_ids:
          items:
            type: string
          type: array
          title: Assigned Team Ids
        assigned_key_ids:
          items:
            type: string
          type: array
          title: Assigned Key Ids
        created_at:
          type: string
          format: date-time
          title: Created At
        created_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By
        updated_at:
          type: string
          format: date-time
          title: Updated At
        updated_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated By
      type: object
      required:
      - access_group_id
      - access_group_name
      - access_model_names
      - access_mcp_server_ids
      - access_agent_ids
      - assigned_team_ids
      - assigned_key_ids
      - created_at
      - updated_at
      title: AccessGroupResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AccessGroupCreateRequest:
      properties:
        access_group_name:
          type: string
          title: Access Group Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        access_model_names:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Access Model Names
        access_mcp_server_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Access Mcp Server Ids
        access_agent_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Access Agent Ids
        assigned_team_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Assigned Team Ids
        assigned_key_ids:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Assigned Key Ids
      type: object
      required:
      - access_group_name
      title: AccessGroupCreateRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
