openapi: 3.2.0
info:
  title: LiteLLM Usage AI API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: usage_ai
paths:
  /usage/ai/chat:
    post:
      description: 'AI chat about usage data. Streams SSE events with the AI response.

        The AI agent has access to tools that query aggregated daily activity data.'
      operationId: usage_ai_chat_usage_ai_chat_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageAIChatRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Usage Ai Chat
      tags:
      - usage_ai
components:
  schemas:
    UsageAIChatRequest:
      properties:
        messages:
          description: Chat messages (user/assistant history)
          items:
            $ref: '#/components/schemas/ChatMessage'
          title: Messages
          type: array
        model:
          anyOf:
          - type: string
          - type: 'null'
          description: Model to use for AI chat
          title: Model
      required:
      - messages
      title: UsageAIChatRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ChatMessage:
      properties:
        content:
          title: Content
          type: string
        role:
          enum:
          - user
          - assistant
          title: Role
          type: string
      required:
      - role
      - content
      title: ChatMessage
      type: object
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
