openapi: 3.2.0
info:
  title: LiteLLM Config API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Config
paths:
  /config/pass_through_endpoint/team/{team_id}:
    get:
      summary: Get Pass Through Endpoints
      description: 'GET configured pass through endpoint.


        If no endpoint_id given, return all configured endpoints.'
      operationId: get_pass_through_endpoints_config_pass_through_endpoint_team__team_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: team_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
      - name: endpoint_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Endpoint Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassThroughEndpointResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Config
  /config/pass_through_endpoint:
    get:
      summary: Get Pass Through Endpoints
      description: 'GET configured pass through endpoint.


        If no endpoint_id given, return all configured endpoints.'
      operationId: get_pass_through_endpoints_config_pass_through_endpoint_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Endpoint Id
      - name: team_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassThroughEndpointResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Config
    post:
      summary: Create Pass Through Endpoints
      description: Create new pass-through endpoint
      operationId: create_pass_through_endpoints_config_pass_through_endpoint_post
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassThroughGenericEndpoint'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Config
    delete:
      summary: Delete Pass Through Endpoints
      description: 'Delete a pass-through endpoint by ID.


        Returns - the deleted endpoint'
      operationId: delete_pass_through_endpoints_config_pass_through_endpoint_delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint_id
        in: query
        required: true
        schema:
          type: string
          title: Endpoint Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassThroughEndpointResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Config
  /config/pass_through_endpoint/{endpoint_id}:
    post:
      summary: Update Pass Through Endpoints
      description: Update a pass-through endpoint by ID.
      operationId: update_pass_through_endpoints_config_pass_through_endpoint__endpoint_id__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint_id
        in: path
        required: true
        schema:
          type: string
          title: Endpoint Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassThroughGenericEndpoint'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Config
components:
  schemas:
    PassThroughEndpointResponse:
      properties:
        endpoints:
          items:
            $ref: '#/components/schemas/PassThroughGenericEndpoint'
          type: array
          title: Endpoints
      type: object
      required:
      - endpoints
      title: PassThroughEndpointResponse
    PassThroughGuardrailSettings:
      properties:
        request_fields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Request Fields
          description: 'JSONPath expressions for input field targeting (pre_call). Examples: ''query'', ''documents[*].text'', ''messages[*].content''. If not specified, guardrail runs on entire request payload.'
        response_fields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Response Fields
          description: 'JSONPath expressions for output field targeting (post_call). Examples: ''results[*].text'', ''output''. If not specified, guardrail runs on entire response payload.'
      type: object
      title: PassThroughGuardrailSettings
      description: 'Settings for a specific guardrail on a passthrough endpoint.


        Allows field-level targeting for guardrail execution.'
    PassThroughGenericEndpoint:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
          description: Optional unique identifier for the pass-through endpoint. If not provided, endpoints will be identified by path for backwards compatibility.
        path:
          type: string
          title: Path
          description: The route to be added to the LiteLLM Proxy Server.
        target:
          type: string
          title: Target
          description: The URL to which requests for this path should be forwarded.
        headers:
          additionalProperties: true
          type: object
          title: Headers
          description: Key-value pairs of headers to be forwarded with the request. You can set any key value pair here and it will be forwarded to your target endpoint
          default: {}
        default_query_params:
          additionalProperties: true
          type: object
          title: Default Query Params
          description: 'Key-value pairs of default query parameters to be sent with every request to this endpoint. These can be overridden by client-provided query parameters. For example: {''key'': ''default_value'', ''api_version'': ''2023-01''}'
          default: {}
        include_subpath:
          type: boolean
          title: Include Subpath
          description: If True, requests to subpaths of the path will be forwarded to the target endpoint. For example, if the path is /bria and include_subpath is True, requests to /bria/v1/text-to-image/base/2.3 will be forwarded to the target endpoint.
          default: false
        cost_per_request:
          type: number
          title: Cost Per Request
          description: The USD cost per request to the target endpoint. This is used to calculate the cost of the request to the target endpoint.
          default: 0.0
        timeout:
          anyOf:
          - type: number
          - type: 'null'
          title: Timeout
          description: Upstream request timeout in seconds for this pass-through endpoint. If unset, uses general_settings.pass_through_request_timeout (default 600).
        auth:
          type: boolean
          title: Auth
          description: Whether authentication is required for the pass-through endpoint. Defaults to True so a pass-through silently created without an explicit value still requires a valid LiteLLM API key — set to False only if the endpoint is meant to be a public forwarder (e.g. an unauthenticated webhook target).
          default: true
        guardrails:
          anyOf:
          - additionalProperties:
              anyOf:
              - $ref: '#/components/schemas/PassThroughGuardrailSettings'
              - type: 'null'
            type: object
          - type: 'null'
          title: Guardrails
          description: Guardrails configuration for this passthrough endpoint. Dict keys are guardrail names, values are optional settings for field targeting. When set, all org/team/key level guardrails will also execute. Defaults to None (no guardrails execute).
        is_from_config:
          type: boolean
          title: Is From Config
          description: True if this endpoint is defined in the config file, False if from DB. Config-defined endpoints cannot be edited via the UI.
          default: false
        methods:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Methods
          description: List of HTTP methods this endpoint handles (e.g., ['GET', 'POST']). If None or empty, all methods (GET, POST, PUT, DELETE, PATCH) are supported for backward compatibility. This allows the same path to have different targets for different HTTP methods.
      type: object
      required:
      - path
      - target
      title: PassThroughGenericEndpoint
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
