openapi: 3.2.0
info:
  title: LiteLLM Assistants API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: assistants
paths:
  /assistants:
    get:
      tags:
      - assistants
      summary: Get Assistants
      description: 'Returns a list of assistants.


        API Reference docs - https://platform.openai.com/docs/api-reference/assistants/listAssistants'
      operationId: get_assistants_assistants_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
    post:
      tags:
      - assistants
      summary: Create Assistant
      description: 'Create assistant


        API Reference docs - https://platform.openai.com/docs/api-reference/assistants/createAssistant'
      operationId: create_assistant_assistants_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1/assistants:
    get:
      tags:
      - assistants
      summary: Get Assistants
      description: 'Returns a list of assistants.


        API Reference docs - https://platform.openai.com/docs/api-reference/assistants/listAssistants'
      operationId: get_assistants_v1_assistants_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
    post:
      tags:
      - assistants
      summary: Create Assistant
      description: 'Create assistant


        API Reference docs - https://platform.openai.com/docs/api-reference/assistants/createAssistant'
      operationId: create_assistant_v1_assistants_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /assistants/{assistant_id}:
    delete:
      tags:
      - assistants
      summary: Delete Assistant
      description: 'Delete assistant


        API Reference docs - https://platform.openai.com/docs/api-reference/assistants/createAssistant'
      operationId: delete_assistant_assistants__assistant_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: assistant_id
        in: path
        required: true
        schema:
          type: string
          title: Assistant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/assistants/{assistant_id}:
    delete:
      tags:
      - assistants
      summary: Delete Assistant
      description: 'Delete assistant


        API Reference docs - https://platform.openai.com/docs/api-reference/assistants/createAssistant'
      operationId: delete_assistant_v1_assistants__assistant_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: assistant_id
        in: path
        required: true
        schema:
          type: string
          title: Assistant Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /threads:
    post:
      tags:
      - assistants
      summary: Create Threads
      description: 'Create a thread.


        API Reference - https://platform.openai.com/docs/api-reference/threads/createThread'
      operationId: create_threads_threads_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1/threads:
    post:
      tags:
      - assistants
      summary: Create Threads
      description: 'Create a thread.


        API Reference - https://platform.openai.com/docs/api-reference/threads/createThread'
      operationId: create_threads_v1_threads_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /threads/{thread_id}:
    get:
      tags:
      - assistants
      summary: Get Thread
      description: 'Retrieves a thread.


        API Reference - https://platform.openai.com/docs/api-reference/threads/getThread'
      operationId: get_thread_threads__thread_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/threads/{thread_id}:
    get:
      tags:
      - assistants
      summary: Get Thread
      description: 'Retrieves a thread.


        API Reference - https://platform.openai.com/docs/api-reference/threads/getThread'
      operationId: get_thread_v1_threads__thread_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /threads/{thread_id}/messages:
    post:
      tags:
      - assistants
      summary: Add Messages
      description: 'Create a message.


        API Reference - https://platform.openai.com/docs/api-reference/messages/createMessage'
      operationId: add_messages_threads__thread_id__messages_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - assistants
      summary: Get Messages
      description: 'Returns a list of messages for a given thread.


        API Reference - https://platform.openai.com/docs/api-reference/messages/listMessages'
      operationId: get_messages_threads__thread_id__messages_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/threads/{thread_id}/messages:
    post:
      tags:
      - assistants
      summary: Add Messages
      description: 'Create a message.


        API Reference - https://platform.openai.com/docs/api-reference/messages/createMessage'
      operationId: add_messages_v1_threads__thread_id__messages_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - assistants
      summary: Get Messages
      description: 'Returns a list of messages for a given thread.


        API Reference - https://platform.openai.com/docs/api-reference/messages/listMessages'
      operationId: get_messages_v1_threads__thread_id__messages_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /threads/{thread_id}/runs:
    post:
      tags:
      - assistants
      summary: Run Thread
      description: 'Create a run.


        API Reference: https://platform.openai.com/docs/api-reference/runs/createRun'
      operationId: run_thread_threads__thread_id__runs_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/threads/{thread_id}/runs:
    post:
      tags:
      - assistants
      summary: Run Thread
      description: 'Create a run.


        API Reference: https://platform.openai.com/docs/api-reference/runs/createRun'
      operationId: run_thread_v1_threads__thread_id__runs_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
          title: Thread Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
