openapi: 3.2.0
info:
  title: LiteLLM email management API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: email management
paths:
  /email/event_settings:
    get:
      tags:
      - email management
      summary: Get Email Event Settings
      description: Get all email event settings
      operationId: get_email_event_settings_email_event_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailEventSettingsResponse'
      security:
      - APIKeyHeader: []
    patch:
      tags:
      - email management
      summary: Update Event Settings
      description: Update the settings for email events
      operationId: update_event_settings_email_event_settings_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailEventSettingsUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /email/event_settings/reset:
    post:
      tags:
      - email management
      summary: Reset Event Settings
      description: Reset all email event settings to default (new user invitations on, virtual key creation off)
      operationId: reset_event_settings_email_event_settings_reset_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
components:
  schemas:
    EmailEventSettingsUpdateRequest:
      properties:
        settings:
          items:
            $ref: '#/components/schemas/EmailEventSettings'
          type: array
          title: Settings
      type: object
      required:
      - settings
      title: EmailEventSettingsUpdateRequest
    EmailEventSettingsResponse:
      properties:
        settings:
          items:
            $ref: '#/components/schemas/EmailEventSettings'
          type: array
          title: Settings
      type: object
      required:
      - settings
      title: EmailEventSettingsResponse
    EmailEvent:
      type: string
      enum:
      - Virtual Key Created
      - New User Invitation
      - Virtual Key Rotated
      - Soft Budget Crossed
      - Max Budget Alert
      title: EmailEvent
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    EmailEventSettings:
      properties:
        event:
          $ref: '#/components/schemas/EmailEvent'
        enabled:
          type: boolean
          title: Enabled
      type: object
      required:
      - event
      - enabled
      title: EmailEventSettings
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
