openapi: 3.2.0
info:
  title: LiteLLM Azure AI Pass-through API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Azure AI Pass-through
paths:
  /azure_ai/{endpoint}:
    put:
      tags:
      - Azure AI Pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Azure AI Pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Azure AI Pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Azure AI Pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Azure AI Pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
