openapi: 3.0.3
info:
  title: TriplyDB Accounts Hooks API
  version: 26.5.104
  description: "REST API for TriplyDB — a linked data database platform.\n\n## Authentication\n\nRead operations on publicly published datasets can be performed without\nauthentication. Write operations and read operations on private or internal\ndatasets require a valid API token.\n\n### Creating an API token\n\n1. Log into your TriplyDB instance.\n2. Click on the user menu in the top-right corner and click on \"User settings\".\n3. Go to the \"API tokens\" tab.\n4. Click \"Create token\", enter a description (e.g., \"my-script\") and select\n   the appropriate access rights.\n5. Click \"Create\" and copy the token. It is only shown once upon creation.\n\n### Using the API token\n\nInclude the token in the `Authorization` header of your HTTP requests:\n\n```\nAuthorization: Bearer YOUR_TOKEN\n```\n\n### Security considerations\n\n- **Do not commit tokens to git repositories.**\n- **Do not share tokens** with anyone who should not have access to your\n  TriplyDB resources.\n- **Rotate tokens regularly**, especially if you suspect a compromise.\n\n## Pagination\n\nList endpoints are paginated. The response includes a `Link` header\n([RFC 8288](https://www.rfc-editor.org/rfc/rfc8288)) with URLs for\nnavigating the result set. To paginate, follow the URLs in the `Link`\nheader rather than constructing URLs manually.\n\nThe `Link` header contains up to three relations:\n\n| Relation | Meaning |\n|----------|---------|\n| `first`  | URL to the first page of results |\n| `next`   | URL to the next page (absent when on the last page) |\n| `prev`   | URL to the previous page (absent when on the first page) |\n\nExample response header:\n\n```\nLink: <https://api.example.com/datasets/user/ds?limit=30>; rel=\"first\",\n      <https://api.example.com/datasets/user/ds?since=6435a&limit=30>; rel=\"next\"\n```\n\nTo iterate through all results, keep following the `rel=\"next\"` URL until\nit is no longer present. You can control the page size with the `limit`\nquery parameter (default: 30).\n\n## Content negotiation\n\nLinked data endpoints support format negotiation in two ways:\n\n1. **Accept header** — set the `Accept` request header to the desired media type.\n2. **URL extension** — append a format extension to the URL path (e.g., `/run.csv`).\n   When present, the extension takes precedence over the `Accept` header.\n"
  contact:
    name: Triply
    url: https://triply.cc
servers:
- url: https://api.lod.uba.uva.nl
  description: This instance
security:
- bearerAuth: []
- {}
tags:
- name: Hooks
  description: Webhooks
paths:
  /datasets/{account}/{dataset}/hooks:
    parameters:
    - $ref: '#/components/parameters/account'
    - $ref: '#/components/parameters/dataset'
    get:
      tags:
      - Hooks
      summary: List webhooks
      operationId: listHooks
      responses:
        '200':
          description: Webhook list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hook'
    post:
      tags:
      - Hooks
      summary: Create a webhook
      operationId: createHook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HookCreate'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /datasets/{account}/{dataset}/hooks/{hookId}:
    parameters:
    - $ref: '#/components/parameters/account'
    - $ref: '#/components/parameters/dataset'
    - $ref: '#/components/parameters/hookId'
    get:
      tags:
      - Hooks
      summary: Get webhook details
      operationId: getHook
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
    patch:
      tags:
      - Hooks
      summary: Update a webhook
      operationId: updateHook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HookCreate'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
    delete:
      tags:
      - Hooks
      summary: Delete a webhook
      operationId: deleteHook
      responses:
        '204':
          description: Webhook deleted
  /datasets/{account}/{dataset}/hookrecords/{hookId}:
    parameters:
    - $ref: '#/components/parameters/account'
    - $ref: '#/components/parameters/dataset'
    - $ref: '#/components/parameters/hookId'
    get:
      tags:
      - Hooks
      summary: Get webhook trigger records
      operationId: getHookRecords
      parameters:
      - $ref: '#/components/parameters/limit'
      - name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Webhook trigger records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebHookTriggerRecord'
components:
  schemas:
    HookCreate:
      type: object
      required:
      - url
      - active
      - payloadFormat
      - onEvents
      properties:
        url:
          type: string
          format: uri
          example: https://example.com/webhook
        active:
          type: boolean
          example: true
        payloadFormat:
          type: string
          enum:
          - JSON
          - formEncoded
          example: JSON
        onEvents:
          type: object
          properties:
            graphImport:
              type: boolean
            linkedDataUpload:
              type: boolean
            fileUpload:
              type: boolean
    WebHookTriggerRecord:
      type: object
      readOnly: true
      properties:
        id:
          type: string
        url:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        statusCode:
          type: integer
          example: 200
        responseText:
          type: string
        errorCode:
          type: string
        errorMessage:
          type: string
        eventName:
          type: string
          example: graphImport
        payloadFormat:
          type: string
        payload:
          type: object
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          example: Resource not found.
        code:
          type: integer
          example: 404
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
    Hook:
      allOf:
      - $ref: '#/components/schemas/HookCreate'
      - type: object
        required:
        - id
        properties:
          id:
            type: string
            readOnly: true
            example: 64a1b2c3d4e5f6001234567d
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results
      schema:
        type: integer
        minimum: 1
    account:
      name: account
      in: path
      required: true
      description: Account name (user or group)
      schema:
        type: string
    dataset:
      name: dataset
      in: path
      required: true
      description: Dataset name
      schema:
        type: string
    hookId:
      name: hookId
      in: path
      required: true
      description: Hook identifier
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
