openapi: 3.2.0
info:
  title: LiteLLM JWT Mappings API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: jwt_mappings
paths:
  /jwt/key/mapping/delete:
    post:
      operationId: delete_jwt_key_mapping_jwt_key_mapping_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteJWTKeyMappingRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Delete Jwt Key Mapping
      tags:
      - jwt_mappings
  /jwt/key/mapping/info:
    get:
      operationId: info_jwt_key_mapping_jwt_key_mapping_info_get
      parameters:
      - in: query
        name: id
        required: true
        schema:
          title: Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTKeyMappingResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Info Jwt Key Mapping
      tags:
      - jwt_mappings
  /jwt/key/mapping/list:
    get:
      operationId: list_jwt_key_mappings_jwt_key_mapping_list_get
      parameters:
      - description: Page number
        in: query
        name: page
        required: false
        schema:
          default: 1
          description: Page number
          minimum: 1
          title: Page
          type: integer
      - description: Page size
        in: query
        name: size
        required: false
        schema:
          default: 50
          description: Page size
          maximum: 100
          minimum: 1
          title: Size
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: List Jwt Key Mappings
      tags:
      - jwt_mappings
  /jwt/key/mapping/new:
    post:
      operationId: create_jwt_key_mapping_jwt_key_mapping_new_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJWTKeyMappingRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTKeyMappingResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Create Jwt Key Mapping
      tags:
      - jwt_mappings
  /jwt/key/mapping/update:
    post:
      operationId: update_jwt_key_mapping_jwt_key_mapping_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJWTKeyMappingRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTKeyMappingResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Update Jwt Key Mapping
      tags:
      - jwt_mappings
components:
  schemas:
    JWTKeyMappingResponse:
      properties:
        created_at:
          format: date-time
          title: Created At
          type: string
        created_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        id:
          title: Id
          type: string
        is_active:
          title: Is Active
          type: boolean
        jwt_claim_name:
          title: Jwt Claim Name
          type: string
        jwt_claim_value:
          title: Jwt Claim Value
          type: string
        updated_at:
          format: date-time
          title: Updated At
          type: string
        updated_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated By
      required:
      - id
      - jwt_claim_name
      - jwt_claim_value
      - is_active
      - created_at
      - updated_at
      title: JWTKeyMappingResponse
      type: object
    DeleteJWTKeyMappingRequest:
      properties:
        id:
          title: Id
          type: string
      required:
      - id
      title: DeleteJWTKeyMappingRequest
      type: object
    UpdateJWTKeyMappingRequest:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        id:
          title: Id
          type: string
        is_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Active
        key:
          anyOf:
          - type: string
          - type: 'null'
          title: Key
      required:
      - id
      title: UpdateJWTKeyMappingRequest
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CreateJWTKeyMappingRequest:
      properties:
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        jwt_claim_name:
          title: Jwt Claim Name
          type: string
        jwt_claim_value:
          title: Jwt Claim Value
          type: string
        key:
          title: Key
          type: string
      required:
      - jwt_claim_name
      - jwt_claim_value
      - key
      title: CreateJWTKeyMappingRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
