openapi: 3.2.0
info:
  title: LiteLLM Pass Through API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: pass-through
paths:
  /gemini/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Gemini Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/google_ai_studio)'
      operationId: gemini_proxy_route_gemini__endpoint__put
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Gemini Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/google_ai_studio)'
      operationId: gemini_proxy_route_gemini__endpoint__post
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Gemini Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/google_ai_studio)'
      operationId: gemini_proxy_route_gemini__endpoint__patch
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Gemini Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/google_ai_studio)'
      operationId: gemini_proxy_route_gemini__endpoint__delete
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Gemini Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/google_ai_studio)'
      operationId: gemini_proxy_route_gemini__endpoint__get
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /cohere/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Cohere Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/cohere)'
      operationId: cohere_proxy_route_cohere__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Cohere Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/cohere)'
      operationId: cohere_proxy_route_cohere__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Cohere Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/cohere)'
      operationId: cohere_proxy_route_cohere__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Cohere Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/cohere)'
      operationId: cohere_proxy_route_cohere__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Cohere Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/cohere)'
      operationId: cohere_proxy_route_cohere__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /vllm/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Vllm Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/vllm)'
      operationId: vllm_proxy_route_vllm__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Vllm Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/vllm)'
      operationId: vllm_proxy_route_vllm__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Vllm Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/vllm)'
      operationId: vllm_proxy_route_vllm__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Vllm Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/vllm)'
      operationId: vllm_proxy_route_vllm__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Vllm Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/vllm)'
      operationId: vllm_proxy_route_vllm__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /mistral/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Mistral Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/mistral)'
      operationId: mistral_proxy_route_mistral__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Mistral Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/mistral)'
      operationId: mistral_proxy_route_mistral__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Mistral Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/mistral)'
      operationId: mistral_proxy_route_mistral__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Mistral Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/mistral)'
      operationId: mistral_proxy_route_mistral__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Mistral Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/mistral)'
      operationId: mistral_proxy_route_mistral__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /milvus/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Milvus Proxy Route
      description: Enable using Milvus `/vectors` endpoint as a pass-through endpoint.
      operationId: milvus_proxy_route_milvus__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Milvus Proxy Route
      description: Enable using Milvus `/vectors` endpoint as a pass-through endpoint.
      operationId: milvus_proxy_route_milvus__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Milvus Proxy Route
      description: Enable using Milvus `/vectors` endpoint as a pass-through endpoint.
      operationId: milvus_proxy_route_milvus__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Milvus Proxy Route
      description: Enable using Milvus `/vectors` endpoint as a pass-through endpoint.
      operationId: milvus_proxy_route_milvus__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Milvus Proxy Route
      description: Enable using Milvus `/vectors` endpoint as a pass-through endpoint.
      operationId: milvus_proxy_route_milvus__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /anthropic/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Anthropic Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/anthropic_completion)'
      operationId: anthropic_proxy_route_anthropic__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Anthropic Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/anthropic_completion)'
      operationId: anthropic_proxy_route_anthropic__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Anthropic Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/anthropic_completion)'
      operationId: anthropic_proxy_route_anthropic__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Anthropic Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/anthropic_completion)'
      operationId: anthropic_proxy_route_anthropic__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Anthropic Proxy Route
      description: '[Docs](https://docs.litellm.ai/docs/pass_through/anthropic_completion)'
      operationId: anthropic_proxy_route_anthropic__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /bedrock/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Bedrock Proxy Route
      description: 'This is the v1 passthrough for Bedrock.

        V2 is handled by the `/bedrock/v2` endpoint.

        [Docs](https://docs.litellm.ai/docs/pass_through/bedrock)'
      operationId: bedrock_proxy_route_bedrock__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Bedrock Proxy Route
      description: 'This is the v1 passthrough for Bedrock.

        V2 is handled by the `/bedrock/v2` endpoint.

        [Docs](https://docs.litellm.ai/docs/pass_through/bedrock)'
      operationId: bedrock_proxy_route_bedrock__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Bedrock Proxy Route
      description: 'This is the v1 passthrough for Bedrock.

        V2 is handled by the `/bedrock/v2` endpoint.

        [Docs](https://docs.litellm.ai/docs/pass_through/bedrock)'
      operationId: bedrock_proxy_route_bedrock__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Bedrock Proxy Route
      description: 'This is the v1 passthrough for Bedrock.

        V2 is handled by the `/bedrock/v2` endpoint.

        [Docs](https://docs.litellm.ai/docs/pass_through/bedrock)'
      operationId: bedrock_proxy_route_bedrock__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Bedrock Proxy Route
      description: 'This is the v1 passthrough for Bedrock.

        V2 is handled by the `/bedrock/v2` endpoint.

        [Docs](https://docs.litellm.ai/docs/pass_through/bedrock)'
      operationId: bedrock_proxy_route_bedrock__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /eu.assemblyai/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_eu_assemblyai__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_eu_assemblyai__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_eu_assemblyai__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_eu_assemblyai__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_eu_assemblyai__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /assemblyai/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_assemblyai__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_assemblyai__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_assemblyai__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_assemblyai__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Assemblyai Proxy Route
      operationId: assemblyai_proxy_route_assemblyai__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /azure/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /azure_ai/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Azure Proxy Route
      description: 'Call any azure endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/azure/{endpoint:path}`


        Checks if the deployment id in the url is a litellm model name. If so, it will route using the llm_router.allm_passthrough_route.'
      operationId: azure_proxy_route_azure_ai__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /vertex_ai/discovery/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Vertex Discovery Proxy Route
      description: 'Call any vertex discovery endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/vertex_ai/discovery/{endpoint:path}`


        Target url: `https://discoveryengine.googleapis.com`'
      operationId: vertex_discovery_proxy_route_vertex_ai_discovery__endpoint__put
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Vertex Discovery Proxy Route
      description: 'Call any vertex discovery endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/vertex_ai/discovery/{endpoint:path}`


        Target url: `https://discoveryengine.googleapis.com`'
      operationId: vertex_discovery_proxy_route_vertex_ai_discovery__endpoint__post
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Vertex Discovery Proxy Route
      description: 'Call any vertex discovery endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/vertex_ai/discovery/{endpoint:path}`


        Target url: `https://discoveryengine.googleapis.com`'
      operationId: vertex_discovery_proxy_route_vertex_ai_discovery__endpoint__patch
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Vertex Discovery Proxy Route
      description: 'Call any vertex discovery endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/vertex_ai/discovery/{endpoint:path}`


        Target url: `https://discoveryengine.googleapis.com`'
      operationId: vertex_discovery_proxy_route_vertex_ai_discovery__endpoint__delete
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Vertex Discovery Proxy Route
      description: 'Call any vertex discovery endpoint using the proxy.


        Just use `{PROXY_BASE_URL}/vertex_ai/discovery/{endpoint:path}`


        Target url: `https://discoveryengine.googleapis.com`'
      operationId: vertex_discovery_proxy_route_vertex_ai_discovery__endpoint__get
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /vertex_ai/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Vertex Proxy Route
      description: 'Call LiteLLM proxy via Vertex AI SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/vertex_ai)'
      operationId: vertex_proxy_route_vertex_ai__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Vertex Proxy Route
      description: 'Call LiteLLM proxy via Vertex AI SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/vertex_ai)'
      operationId: vertex_proxy_route_vertex_ai__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Vertex Proxy Route
      description: 'Call LiteLLM proxy via Vertex AI SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/vertex_ai)'
      operationId: vertex_proxy_route_vertex_ai__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Vertex Proxy Route
      description: 'Call LiteLLM proxy via Vertex AI SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/vertex_ai)'
      operationId: vertex_proxy_route_vertex_ai__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Vertex Proxy Route
      description: 'Call LiteLLM proxy via Vertex AI SDK.


        [Docs](https://docs.litellm.ai/docs/pass_through/vertex_ai)'
      operationId: vertex_proxy_route_vertex_ai__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /openai/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /openai_passthrough/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai_passthrough__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai_passthrough__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai_passthrough__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai_passthrough__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Openai Proxy Route
      description: "Pass-through endpoint for OpenAI API calls.\n\nAvailable on both routes:\n- /openai/{endpoint:path} - Standard OpenAI passthrough route\n- /openai_passthrough/{endpoint:path} - Dedicated passthrough route (recommended for Responses API)\n\nUse /openai_passthrough/* when you need guaranteed passthrough to OpenAI without conflicts\nwith LiteLLM's native implementations (e.g., for the Responses API at /v1/responses).\n\nExamples:\n    Standard route:\n    - /openai/v1/chat/completions\n    - /openai/v1/assistants\n    - /openai/v1/threads\n\n    Dedicated passthrough (for Responses API):\n    - /openai_passthrough/v1/responses\n    - /openai_passthrough/v1/responses/{response_id}\n    - /openai_passthrough/v1/responses/{response_id}/input_items\n\n[Docs](https://docs.litellm.ai/docs/pass_through/openai_passthrough)"
      operationId: openai_proxy_route_openai_passthrough__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /cursor/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Cursor Proxy Route
      description: 'Pass-through endpoint for the Cursor Cloud Agents API.


        Supports all Cursor Cloud Agents endpoints:

        - GET    /v0/agents         — List agents

        - POST   /v0/agents         — Launch an agent

        - GET    /v0/agents/{id}    — Agent status

        - GET    /v0/agents/{id}/conversation — Agent conversation

        - POST   /v0/agents/{id}/followup    — Add follow-up

        - POST   /v0/agents/{id}/stop        — Stop an agent

        - DELETE /v0/agents/{id}    — Delete an agent

        - GET    /v0/me             — API key info

        - GET    /v0/models         — List models

        - GET    /v0/repositories   — List GitHub repositories


        Uses Basic Authentication (base64-encoded `API_KEY:`).


        Credential lookup order:

        1. passthrough_endpoint_router (config.yaml deployments with use_in_pass_through)

        2. litellm.credential_list (credentials added via UI)

        3. CURSOR_API_KEY environment variable'
      operationId: cursor_proxy_route_cursor__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /watsonx/{endpoint}:
    put:
      tags:
      - pass-through
      summary: Watsonx Proxy Route
      description: "Watsonx pass-through endpoint.\nAllows using Watsonx APIs with automatic IAM token management and version parameter injection.\n\nExample:\n    POST /watsonx/ml/v1/text/tokenization\n    POST /watsonx/ml/v1/text/generation"
      operationId: watsonx_proxy_route_watsonx__endpoint__put
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - pass-through
      summary: Watsonx Proxy Route
      description: "Watsonx pass-through endpoint.\nAllows using Watsonx APIs with automatic IAM token management and version parameter injection.\n\nExample:\n    POST /watsonx/ml/v1/text/tokenization\n    POST /watsonx/ml/v1/text/generation"
      operationId: watsonx_proxy_route_watsonx__endpoint__post
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - pass-through
      summary: Watsonx Proxy Route
      description: "Watsonx pass-through endpoint.\nAllows using Watsonx APIs with automatic IAM token management and version parameter injection.\n\nExample:\n    POST /watsonx/ml/v1/text/tokenization\n    POST /watsonx/ml/v1/text/generation"
      operationId: watsonx_proxy_route_watsonx__endpoint__patch
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - pass-through
      summary: Watsonx Proxy Route
      description: "Watsonx pass-through endpoint.\nAllows using Watsonx APIs with automatic IAM token management and version parameter injection.\n\nExample:\n    POST /watsonx/ml/v1/text/tokenization\n    POST /watsonx/ml/v1/text/generation"
      operationId: watsonx_proxy_route_watsonx__endpoint__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - pass-through
      summary: Watsonx Proxy Route
      description: "Watsonx pass-through endpoint.\nAllows using Watsonx APIs with automatic IAM token management and version parameter injection.\n\nExample:\n    POST /watsonx/ml/v1/text/tokenization\n    POST /watsonx/ml/v1/text/generation"
      operationId: watsonx_proxy_route_watsonx__endpoint__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: endpoint
        in: path
        required: true
        schema:
          type: string
          title: Endpoint
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
