openapi: 3.2.0
info:
  title: LiteLLM Vector Stores API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: vector_stores
paths:
  /v1/indexes:
    post:
      description: "Create an index. Just writes the index to the database.\n\n```bash\ncurl -L -X POST 'http://0.0.0.0:4000/indexes/create'         -H 'Content-Type: application/json'         -H 'Authorization: Bearer sk-1234'         -H 'LiteLLM-Beta: indexes_beta=v1'         -d '{ \n        \"index_name\": \"dall-e-3\",\n        \"vector_store_index\": \"real-index-name\",\n        \"vector_store_name\": \"azure-ai-search\"\n    }'\n```"
      operationId: index_create_v1_indexes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexCreateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Index Create
      tags:
      - vector_stores
  /v1/vector_stores:
    get:
      description: 'List vector stores.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/list'
      operationId: vector_store_list_v1_vector_stores_get
      parameters:
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Before
      - in: query
        name: limit
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 20
          title: Limit
      - in: query
        name: order
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: desc
          title: Order
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store List
      tags:
      - vector_stores
    post:
      description: "Create a vector store.\n\nAPI Reference:\nhttps://platform.openai.com/docs/api-reference/vector-stores/create\n\nSupports target_model_names parameter for creating vector stores across multiple models:\n```json\n{\n    \"name\": \"my-vector-store\",\n    \"target_model_names\": \"gpt-4,gemini-2.0\"\n}\n```"
      operationId: vector_store_create_v1_vector_stores_post
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - APIKeyHeader: []
      summary: Vector Store Create
      tags:
      - vector_stores
  /v1/vector_stores/{vector_store_id}:
    delete:
      description: 'Delete a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/delete'
      operationId: vector_store_delete_v1_vector_stores__vector_store_id__delete
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Delete
      tags:
      - vector_stores
    get:
      description: 'Retrieve a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/retrieve'
      operationId: vector_store_retrieve_v1_vector_stores__vector_store_id__get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Retrieve
      tags:
      - vector_stores
    post:
      description: 'Update a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/modify'
      operationId: vector_store_update_v1_vector_stores__vector_store_id__post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Update
      tags:
      - vector_stores
  /v1/vector_stores/{vector_store_id}/files:
    get:
      operationId: vector_store_file_list_v1_vector_stores__vector_store_id__files_get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File List
      tags:
      - vector_stores
    post:
      operationId: vector_store_file_create_v1_vector_stores__vector_store_id__files_post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Create
      tags:
      - vector_stores
  /v1/vector_stores/{vector_store_id}/files/{file_id}:
    delete:
      operationId: vector_store_file_delete_v1_vector_stores__vector_store_id__files__file_id__delete
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Delete
      tags:
      - vector_stores
    get:
      operationId: vector_store_file_retrieve_v1_vector_stores__vector_store_id__files__file_id__get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Retrieve
      tags:
      - vector_stores
    post:
      operationId: vector_store_file_update_v1_vector_stores__vector_store_id__files__file_id__post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Update
      tags:
      - vector_stores
  /v1/vector_stores/{vector_store_id}/files/{file_id}/content:
    get:
      operationId: vector_store_file_content_v1_vector_stores__vector_store_id__files__file_id__content_get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Content
      tags:
      - vector_stores
  /v1/vector_stores/{vector_store_id}/search:
    post:
      description: 'Search a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/search'
      operationId: vector_store_search_v1_vector_stores__vector_store_id__search_post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Search
      tags:
      - vector_stores
  /vector_stores:
    get:
      description: 'List vector stores.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/list'
      operationId: vector_store_list_vector_stores_get
      parameters:
      - in: query
        name: after
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: After
      - in: query
        name: before
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Before
      - in: query
        name: limit
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          default: 20
          title: Limit
      - in: query
        name: order
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: desc
          title: Order
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store List
      tags:
      - vector_stores
    post:
      description: "Create a vector store.\n\nAPI Reference:\nhttps://platform.openai.com/docs/api-reference/vector-stores/create\n\nSupports target_model_names parameter for creating vector stores across multiple models:\n```json\n{\n    \"name\": \"my-vector-store\",\n    \"target_model_names\": \"gpt-4,gemini-2.0\"\n}\n```"
      operationId: vector_store_create_vector_stores_post
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - APIKeyHeader: []
      summary: Vector Store Create
      tags:
      - vector_stores
  /vector_stores/{vector_store_id}:
    delete:
      description: 'Delete a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/delete'
      operationId: vector_store_delete_vector_stores__vector_store_id__delete
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Delete
      tags:
      - vector_stores
    get:
      description: 'Retrieve a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/retrieve'
      operationId: vector_store_retrieve_vector_stores__vector_store_id__get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Retrieve
      tags:
      - vector_stores
    post:
      description: 'Update a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/modify'
      operationId: vector_store_update_vector_stores__vector_store_id__post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Update
      tags:
      - vector_stores
  /vector_stores/{vector_store_id}/files:
    get:
      operationId: vector_store_file_list_vector_stores__vector_store_id__files_get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File List
      tags:
      - vector_stores
    post:
      operationId: vector_store_file_create_vector_stores__vector_store_id__files_post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Create
      tags:
      - vector_stores
  /vector_stores/{vector_store_id}/files/{file_id}:
    delete:
      operationId: vector_store_file_delete_vector_stores__vector_store_id__files__file_id__delete
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Delete
      tags:
      - vector_stores
    get:
      operationId: vector_store_file_retrieve_vector_stores__vector_store_id__files__file_id__get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Retrieve
      tags:
      - vector_stores
    post:
      operationId: vector_store_file_update_vector_stores__vector_store_id__files__file_id__post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Update
      tags:
      - vector_stores
  /vector_stores/{vector_store_id}/files/{file_id}/content:
    get:
      operationId: vector_store_file_content_vector_stores__vector_store_id__files__file_id__content_get
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          title: File Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store File Content
      tags:
      - vector_stores
  /vector_stores/{vector_store_id}/search:
    post:
      description: 'Search a vector store.


        API Reference:

        https://platform.openai.com/docs/api-reference/vector-stores/search'
      operationId: vector_store_search_vector_stores__vector_store_id__search_post
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          title: Vector Store Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Vector Store Search
      tags:
      - vector_stores
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    IndexCreateRequest:
      properties:
        index_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Index Info
        index_name:
          title: Index Name
          type: string
        litellm_params:
          $ref: '#/components/schemas/IndexCreateLiteLLMParams'
      required:
      - index_name
      - litellm_params
      title: IndexCreateRequest
      type: object
    IndexCreateLiteLLMParams:
      properties:
        vector_store_index:
          title: Vector Store Index
          type: string
        vector_store_name:
          title: Vector Store Name
          type: string
      required:
      - vector_store_index
      - vector_store_name
      title: IndexCreateLiteLLMParams
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
