openapi: 3.2.0
info:
  title: LiteLLM A2a API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: a2a
paths:
  /a2a/{agent_id}:
    post:
      description: 'Invoke an agent using the A2A protocol (JSON-RPC 2.0).


        Supported methods:

        - message/send: Send a message and get a response

        - message/stream: Send a message and stream the response'
      operationId: invoke_agent_a2a_a2a__agent_id__post
      parameters:
      - in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Invoke Agent A2A
      tags:
      - a2a
  /a2a/{agent_id}/.well-known/agent-card.json:
    get:
      description: 'Get the agent card for an agent (A2A discovery endpoint).


        Supports both standard paths:

        - /.well-known/agent-card.json

        - /.well-known/agent.json


        The URL in the agent card is rewritten to point to the LiteLLM proxy,

        so all subsequent A2A calls go through LiteLLM for logging and cost tracking.'
      operationId: get_agent_card_a2a__agent_id___well_known_agent_card_json_get
      parameters:
      - in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Get Agent Card
      tags:
      - a2a
  /a2a/{agent_id}/.well-known/agent.json:
    get:
      description: 'Get the agent card for an agent (A2A discovery endpoint).


        Supports both standard paths:

        - /.well-known/agent-card.json

        - /.well-known/agent.json


        The URL in the agent card is rewritten to point to the LiteLLM proxy,

        so all subsequent A2A calls go through LiteLLM for logging and cost tracking.'
      operationId: get_agent_card_a2a__agent_id___well_known_agent_json_get
      parameters:
      - in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Get Agent Card
      tags:
      - a2a
  /a2a/{agent_id}/message/send:
    post:
      description: 'Invoke an agent using the A2A protocol (JSON-RPC 2.0).


        Supported methods:

        - message/send: Send a message and get a response

        - message/stream: Send a message and stream the response'
      operationId: invoke_agent_a2a_a2a__agent_id__message_send_post
      parameters:
      - in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Invoke Agent A2A
      tags:
      - a2a
  /v1/a2a/{agent_id}/message/send:
    post:
      description: 'Invoke an agent using the A2A protocol (JSON-RPC 2.0).


        Supported methods:

        - message/send: Send a message and get a response

        - message/stream: Send a message and stream the response'
      operationId: invoke_agent_a2a_v1_a2a__agent_id__message_send_post
      parameters:
      - in: path
        name: agent_id
        required: true
        schema:
          title: Agent Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - APIKeyHeader: []
      summary: Invoke Agent A2A
      tags:
      - a2a
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
