openapi: 3.2.0
info:
  title: LiteLLM Agent Management API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Agent Management
paths:
  /agent/daily/activity:
    get:
      tags:
      - Agent Management
      summary: Get Agent Daily Activity
      description: Get daily activity for specific agents or all accessible agents.
      operationId: get_agent_daily_activity_agent_daily_activity_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: agent_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Agent Ids
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Start Date
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: End Date
      - name: model
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
      - name: api_key
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Key
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          title: Page
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 10
          title: Page Size
      - name: exclude_agent_ids
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Exclude Agent Ids
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendAnalyticsPaginatedResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    SpendAnalyticsPaginatedResponse:
      properties:
        results:
          items:
            $ref: '#/components/schemas/DailySpendData'
          type: array
          title: Results
        metadata:
          $ref: '#/components/schemas/DailySpendMetadata'
      type: object
      required:
      - results
      title: SpendAnalyticsPaginatedResponse
    DailySpendMetadata:
      properties:
        total_spend:
          type: number
          title: Total Spend
          default: 0.0
        total_prompt_tokens:
          type: integer
          title: Total Prompt Tokens
          default: 0
        total_completion_tokens:
          type: integer
          title: Total Completion Tokens
          default: 0
        total_tokens:
          type: integer
          title: Total Tokens
          default: 0
        total_api_requests:
          type: integer
          title: Total Api Requests
          default: 0
        total_successful_requests:
          type: integer
          title: Total Successful Requests
          default: 0
        total_failed_requests:
          type: integer
          title: Total Failed Requests
          default: 0
        total_cache_read_input_tokens:
          type: integer
          title: Total Cache Read Input Tokens
          default: 0
        total_cache_creation_input_tokens:
          type: integer
          title: Total Cache Creation Input Tokens
          default: 0
        total_compression_saved_tokens:
          type: integer
          title: Total Compression Saved Tokens
          default: 0
        total_compression_savings_spend:
          type: number
          title: Total Compression Savings Spend
          default: 0.0
        total_prompt_caching_savings_spend:
          type: number
          title: Total Prompt Caching Savings Spend
          default: 0.0
        page:
          type: integer
          title: Page
          default: 1
        total_pages:
          type: integer
          title: Total Pages
          default: 1
        has_more:
          type: boolean
          title: Has More
          default: false
      type: object
      title: DailySpendMetadata
    KeyMetadata:
      properties:
        key_alias:
          anyOf:
          - type: string
          - type: 'null'
          title: Key Alias
        team_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Team Id
      type: object
      title: KeyMetadata
      description: Metadata for a key
    SpendMetrics:
      properties:
        spend:
          type: number
          title: Spend
          default: 0.0
        prompt_tokens:
          type: integer
          title: Prompt Tokens
          default: 0
        completion_tokens:
          type: integer
          title: Completion Tokens
          default: 0
        cache_read_input_tokens:
          type: integer
          title: Cache Read Input Tokens
          default: 0
        cache_creation_input_tokens:
          type: integer
          title: Cache Creation Input Tokens
          default: 0
        compression_saved_tokens:
          type: integer
          title: Compression Saved Tokens
          default: 0
        compression_savings_spend:
          type: number
          title: Compression Savings Spend
          default: 0.0
        prompt_caching_savings_spend:
          type: number
          title: Prompt Caching Savings Spend
          default: 0.0
        total_tokens:
          type: integer
          title: Total Tokens
          default: 0
        successful_requests:
          type: integer
          title: Successful Requests
          default: 0
        failed_requests:
          type: integer
          title: Failed Requests
          default: 0
        api_requests:
          type: integer
          title: Api Requests
          default: 0
      type: object
      title: SpendMetrics
    DailySpendData:
      properties:
        date:
          type: string
          format: date
          title: Date
        metrics:
          $ref: '#/components/schemas/SpendMetrics'
        breakdown:
          $ref: '#/components/schemas/BreakdownMetrics'
      type: object
      required:
      - date
      - metrics
      title: DailySpendData
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    KeyMetricWithMetadata:
      properties:
        metrics:
          $ref: '#/components/schemas/SpendMetrics'
        metadata:
          $ref: '#/components/schemas/KeyMetadata'
      type: object
      required:
      - metrics
      title: KeyMetricWithMetadata
      description: Base class for metrics with additional metadata
    MetricWithMetadata:
      properties:
        metrics:
          $ref: '#/components/schemas/SpendMetrics'
        metadata:
          additionalProperties: true
          type: object
          title: Metadata
        api_key_breakdown:
          additionalProperties:
            $ref: '#/components/schemas/KeyMetricWithMetadata'
          type: object
          title: Api Key Breakdown
      type: object
      required:
      - metrics
      title: MetricWithMetadata
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    BreakdownMetrics:
      properties:
        mcp_servers:
          additionalProperties:
            $ref: '#/components/schemas/MetricWithMetadata'
          type: object
          title: Mcp Servers
        models:
          additionalProperties:
            $ref: '#/components/schemas/MetricWithMetadata'
          type: object
          title: Models
        model_groups:
          additionalProperties:
            $ref: '#/components/schemas/MetricWithMetadata'
          type: object
          title: Model Groups
        providers:
          additionalProperties:
            $ref: '#/components/schemas/MetricWithMetadata'
          type: object
          title: Providers
        endpoints:
          additionalProperties:
            $ref: '#/components/schemas/MetricWithMetadata'
          type: object
          title: Endpoints
        api_keys:
          additionalProperties:
            $ref: '#/components/schemas/KeyMetricWithMetadata'
          type: object
          title: Api Keys
        entities:
          additionalProperties:
            $ref: '#/components/schemas/MetricWithMetadata'
          type: object
          title: Entities
      type: object
      title: BreakdownMetrics
      description: Breakdown of spend by different dimensions
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
