openapi: 3.2.0
info:
  title: LiteLLM Containers API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: containers
paths:
  /containers:
    get:
      tags:
      - containers
      summary: List Containers
      description: 'Container list endpoint for retrieving a list of containers.


        Follows the OpenAI Containers API spec:

        https://platform.openai.com/docs/api-reference/containers


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers?limit=20&order=desc"         -H "Authorization: Bearer sk-1234"

        ```


        Or specify provider via header or query param:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers?custom_llm_provider=azure"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: list_containers_containers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
    post:
      tags:
      - containers
      summary: Create Container
      description: "Container creation endpoint for creating new containers.\n\nFollows the OpenAI Containers API spec:\nhttps://platform.openai.com/docs/api-reference/containers\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1/containers\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"name\": \"My Container\",\n        \"expires_after\": {\n            \"anchor\": \"last_active_at\",\n            \"minutes\": 20\n        }\n    }'\n```\n\nOr specify provider via header:\n```bash\ncurl -X POST \"http://localhost:4000/v1/containers\"         -H \"Authorization: Bearer sk-1234\"         -H \"custom-llm-provider: azure\"         -H \"Content-Type: application/json\"         -d '{\n        \"name\": \"My Container\"\n    }'\n```"
      operationId: create_container_containers_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /v1/containers:
    get:
      tags:
      - containers
      summary: List Containers
      description: 'Container list endpoint for retrieving a list of containers.


        Follows the OpenAI Containers API spec:

        https://platform.openai.com/docs/api-reference/containers


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers?limit=20&order=desc"         -H "Authorization: Bearer sk-1234"

        ```


        Or specify provider via header or query param:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers?custom_llm_provider=azure"         -H "Authorization: Bearer sk-1234"

        ```'
      operationId: list_containers_v1_containers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
    post:
      tags:
      - containers
      summary: Create Container
      description: "Container creation endpoint for creating new containers.\n\nFollows the OpenAI Containers API spec:\nhttps://platform.openai.com/docs/api-reference/containers\n\nExample:\n```bash\ncurl -X POST \"http://localhost:4000/v1/containers\"         -H \"Authorization: Bearer sk-1234\"         -H \"Content-Type: application/json\"         -d '{\n        \"name\": \"My Container\",\n        \"expires_after\": {\n            \"anchor\": \"last_active_at\",\n            \"minutes\": 20\n        }\n    }'\n```\n\nOr specify provider via header:\n```bash\ncurl -X POST \"http://localhost:4000/v1/containers\"         -H \"Authorization: Bearer sk-1234\"         -H \"custom-llm-provider: azure\"         -H \"Content-Type: application/json\"         -d '{\n        \"name\": \"My Container\"\n    }'\n```"
      operationId: create_container_v1_containers_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /containers/{container_id}:
    get:
      tags:
      - containers
      summary: Retrieve Container
      description: 'Container retrieve endpoint for getting details of a specific container.


        Follows the OpenAI Containers API spec:

        https://platform.openai.com/docs/api-reference/containers


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"

        ```


        Or specify provider via header:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"         -H "custom-llm-provider: azure"

        ```'
      operationId: retrieve_container_containers__container_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - containers
      summary: Delete Container
      description: 'Container delete endpoint for deleting a specific container.


        Follows the OpenAI Containers API spec:

        https://platform.openai.com/docs/api-reference/containers


        Example:

        ```bash

        curl -X DELETE "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"

        ```


        Or specify provider via header:

        ```bash

        curl -X DELETE "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"         -H "custom-llm-provider: azure"

        ```'
      operationId: delete_container_containers__container_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/containers/{container_id}:
    get:
      tags:
      - containers
      summary: Retrieve Container
      description: 'Container retrieve endpoint for getting details of a specific container.


        Follows the OpenAI Containers API spec:

        https://platform.openai.com/docs/api-reference/containers


        Example:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"

        ```


        Or specify provider via header:

        ```bash

        curl -X GET "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"         -H "custom-llm-provider: azure"

        ```'
      operationId: retrieve_container_v1_containers__container_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - containers
      summary: Delete Container
      description: 'Container delete endpoint for deleting a specific container.


        Follows the OpenAI Containers API spec:

        https://platform.openai.com/docs/api-reference/containers


        Example:

        ```bash

        curl -X DELETE "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"

        ```


        Or specify provider via header:

        ```bash

        curl -X DELETE "http://localhost:4000/v1/containers/cntr_123"         -H "Authorization: Bearer sk-1234"         -H "custom-llm-provider: azure"

        ```'
      operationId: delete_container_v1_containers__container_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/containers/{container_id}/files:
    get:
      tags:
      - containers
      summary: Handler Container Id
      operationId: handler_container_id_v1_containers__container_id__files_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - containers
      summary: Handler Multipart Upload
      operationId: handler_multipart_upload_v1_containers__container_id__files_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /containers/{container_id}/files:
    get:
      tags:
      - containers
      summary: Handler Container Id
      operationId: handler_container_id_containers__container_id__files_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - containers
      summary: Handler Multipart Upload
      operationId: handler_multipart_upload_containers__container_id__files_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/containers/{container_id}/files/{file_id}:
    get:
      tags:
      - containers
      summary: Handler Container File
      operationId: handler_container_file_v1_containers__container_id__files__file_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - containers
      summary: Handler Container File
      operationId: handler_container_file_v1_containers__container_id__files__file_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /containers/{container_id}/files/{file_id}:
    get:
      tags:
      - containers
      summary: Handler Container File
      operationId: handler_container_file_containers__container_id__files__file_id__get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - containers
      summary: Handler Container File
      operationId: handler_container_file_containers__container_id__files__file_id__delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/containers/{container_id}/files/{file_id}/content:
    get:
      tags:
      - containers
      summary: Handler Binary Content
      operationId: handler_binary_content_v1_containers__container_id__files__file_id__content_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /containers/{container_id}/files/{file_id}/content:
    get:
      tags:
      - containers
      summary: Handler Binary Content
      operationId: handler_binary_content_containers__container_id__files__file_id__content_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: container_id
        in: path
        required: true
        schema:
          type: string
          title: Container Id
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
