openapi: 3.2.0
info:
  title: LiteLLM Caching API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: caching
paths:
  /cache/ping:
    get:
      tags:
      - caching
      summary: Cache Ping
      description: Endpoint for checking if cache can be pinged
      operationId: cache_ping_cache_ping_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CachePingResponse'
      security:
      - APIKeyHeader: []
  /cache/delete:
    post:
      tags:
      - caching
      summary: Cache Delete
      description: 'Endpoint for deleting a key from the cache. All responses from litellm proxy have `x-litellm-cache-key` in the headers


        Parameters:

        - **keys**: *Optional[List[str]]* - A list of keys to delete from the cache. Example {"keys": ["key1", "key2"]}


        ```shell

        curl -X POST "http://0.0.0.0:4000/cache/delete"     -H "Authorization: Bearer sk-1234"     -d ''{"keys": ["key1", "key2"]}''

        ```'
      operationId: cache_delete_cache_delete_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /cache/redis/info:
    get:
      tags:
      - caching
      summary: Cache Redis Info
      description: Endpoint for getting /redis/info
      operationId: cache_redis_info_cache_redis_info_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /cache/flushall:
    post:
      tags:
      - caching
      summary: Cache Flushall
      description: 'A function to flush all items from the cache. (All items will be deleted from the cache with this)

        Raises HTTPException if the cache is not initialized or if the cache type does not support flushing.

        Returns a dictionary with the status of the operation.


        Usage:

        ```

        curl -X POST http://0.0.0.0:4000/cache/flushall -H "Authorization: Bearer sk-1234"

        ```'
      operationId: cache_flushall_cache_flushall_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
components:
  schemas:
    CachePingResponse:
      properties:
        status:
          type: string
          title: Status
        cache_type:
          type: string
          title: Cache Type
        ping_response:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Ping Response
        set_cache_response:
          anyOf:
          - type: string
          - type: 'null'
          title: Set Cache Response
        litellm_cache_params:
          anyOf:
          - type: string
          - type: 'null'
          title: Litellm Cache Params
        health_check_cache_params:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Health Check Cache Params
      type: object
      required:
      - status
      - cache_type
      title: CachePingResponse
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
