openapi: 3.2.0
info:
  title: LiteLLM Provider API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Provider
paths:
  /provider/budgets:
    get:
      summary: Provider Budgets
      description: "Provider Budget Routing - Get Budget, Spend Details https://docs.litellm.ai/docs/proxy/provider_budget_routing\n\nUse this endpoint to check current budget, spend and budget reset time for a provider\n\nExample Request\n\n```bash\ncurl -X GET http://localhost:4000/provider/budgets     -H \"Content-Type: application/json\"     -H \"Authorization: Bearer sk-1234\"\n```\n\nExample Response\n\n```json\n{\n    \"providers\": {\n        \"openai\": {\n            \"budget_limit\": 1e-12,\n            \"time_period\": \"1d\",\n            \"spend\": 0.0,\n            \"budget_reset_at\": null\n        },\n        \"azure\": {\n            \"budget_limit\": 100.0,\n            \"time_period\": \"1d\",\n            \"spend\": 0.0,\n            \"budget_reset_at\": null\n        },\n        \"anthropic\": {\n            \"budget_limit\": 100.0,\n            \"time_period\": \"10d\",\n            \"spend\": 0.0,\n            \"budget_reset_at\": null\n        },\n        \"vertex_ai\": {\n            \"budget_limit\": 100.0,\n            \"time_period\": \"12d\",\n            \"spend\": 0.0,\n            \"budget_reset_at\": null\n        }\n    }\n}\n```"
      operationId: provider_budgets_provider_budgets_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderBudgetResponse'
      security:
      - APIKeyHeader: []
      tags:
      - Provider
components:
  schemas:
    ProviderBudgetResponseObject:
      properties:
        budget_limit:
          anyOf:
          - type: number
          - type: 'null'
          title: Budget Limit
        time_period:
          anyOf:
          - type: string
          - type: 'null'
          title: Time Period
        spend:
          anyOf:
          - type: number
          - type: 'null'
          title: Spend
          default: 0.0
        budget_reset_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Budget Reset At
      type: object
      required:
      - budget_limit
      - time_period
      title: ProviderBudgetResponseObject
      description: Configuration for a single provider's budget settings
    ProviderBudgetResponse:
      properties:
        providers:
          additionalProperties:
            $ref: '#/components/schemas/ProviderBudgetResponseObject'
          type: object
          title: Providers
          default: {}
      type: object
      title: ProviderBudgetResponse
      description: 'Complete provider budget configuration and status.

        Maps provider names to their budget configs.'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
