openapi: 3.2.0
info:
  title: LiteLLM Toolset API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Toolset
paths:
  /toolset/{toolset_name}/mcp:
    put:
      summary: Toolset Mcp Route
      description: 'Namespace a toolset as its own MCP endpoint.


        Connecting to /toolset/<name>/mcp exposes exactly the tools defined in

        the toolset. Access is enforced: non-admin API keys must have the toolset

        listed in their object_permission.mcp_toolsets grant list, or the request

        will be rejected with a 403.'
      operationId: toolset_mcp_route_toolset__toolset_name__mcp_put
      parameters:
      - name: toolset_name
        in: path
        required: true
        schema:
          type: string
          title: Toolset Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Toolset
    post:
      summary: Toolset Mcp Route
      description: 'Namespace a toolset as its own MCP endpoint.


        Connecting to /toolset/<name>/mcp exposes exactly the tools defined in

        the toolset. Access is enforced: non-admin API keys must have the toolset

        listed in their object_permission.mcp_toolsets grant list, or the request

        will be rejected with a 403.'
      operationId: toolset_mcp_route_toolset__toolset_name__mcp_post
      parameters:
      - name: toolset_name
        in: path
        required: true
        schema:
          type: string
          title: Toolset Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Toolset
    patch:
      summary: Toolset Mcp Route
      description: 'Namespace a toolset as its own MCP endpoint.


        Connecting to /toolset/<name>/mcp exposes exactly the tools defined in

        the toolset. Access is enforced: non-admin API keys must have the toolset

        listed in their object_permission.mcp_toolsets grant list, or the request

        will be rejected with a 403.'
      operationId: toolset_mcp_route_toolset__toolset_name__mcp_patch
      parameters:
      - name: toolset_name
        in: path
        required: true
        schema:
          type: string
          title: Toolset Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Toolset
    delete:
      summary: Toolset Mcp Route
      description: 'Namespace a toolset as its own MCP endpoint.


        Connecting to /toolset/<name>/mcp exposes exactly the tools defined in

        the toolset. Access is enforced: non-admin API keys must have the toolset

        listed in their object_permission.mcp_toolsets grant list, or the request

        will be rejected with a 403.'
      operationId: toolset_mcp_route_toolset__toolset_name__mcp_delete
      parameters:
      - name: toolset_name
        in: path
        required: true
        schema:
          type: string
          title: Toolset Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Toolset
    head:
      summary: Toolset Mcp Route
      description: 'Namespace a toolset as its own MCP endpoint.


        Connecting to /toolset/<name>/mcp exposes exactly the tools defined in

        the toolset. Access is enforced: non-admin API keys must have the toolset

        listed in their object_permission.mcp_toolsets grant list, or the request

        will be rejected with a 403.'
      operationId: toolset_mcp_route_toolset__toolset_name__mcp_head
      parameters:
      - name: toolset_name
        in: path
        required: true
        schema:
          type: string
          title: Toolset Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Toolset
    options:
      summary: Toolset Mcp Route
      description: 'Namespace a toolset as its own MCP endpoint.


        Connecting to /toolset/<name>/mcp exposes exactly the tools defined in

        the toolset. Access is enforced: non-admin API keys must have the toolset

        listed in their object_permission.mcp_toolsets grant list, or the request

        will be rejected with a 403.'
      operationId: toolset_mcp_route_toolset__toolset_name__mcp_options
      parameters:
      - name: toolset_name
        in: path
        required: true
        schema:
          type: string
          title: Toolset Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Toolset
    get:
      summary: Toolset Mcp Route
      description: 'Namespace a toolset as its own MCP endpoint.


        Connecting to /toolset/<name>/mcp exposes exactly the tools defined in

        the toolset. Access is enforced: non-admin API keys must have the toolset

        listed in their object_permission.mcp_toolsets grant list, or the request

        will be rejected with a 403.'
      operationId: toolset_mcp_route_toolset__toolset_name__mcp_get
      parameters:
      - name: toolset_name
        in: path
        required: true
        schema:
          type: string
          title: Toolset Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Toolset
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
