openapi: 3.2.0
info:
  title: LiteLLM budget management API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: budget management
paths:
  /budget/new:
    post:
      tags:
      - budget management
      summary: New Budget
      description: 'Create a new budget object. Can apply this to teams, orgs, end-users, keys.


        Parameters:

        - budget_duration: Optional[str] - Budget reset period ("30d", "1h", etc.)

        - budget_id: Optional[str] - The id of the budget. If not provided, a new id will be generated.

        - max_budget: Optional[float] - The max budget for the budget.

        - soft_budget: Optional[float] - The soft budget for the budget.

        - max_parallel_requests: Optional[int] - The max number of parallel requests for the budget.

        - tpm_limit: Optional[int] - The tokens per minute limit for the budget.

        - rpm_limit: Optional[int] - The requests per minute limit for the budget.

        - model_max_budget: Optional[dict] - Specify max budget for a given model. Example: {"openai/gpt-4o-mini": {"max_budget": 100.0, "budget_duration": "1d", "tpm_limit": 100000, "rpm_limit": 100000}}

        - budget_reset_at: Optional[datetime] - Datetime when the initial budget is reset. Default is now.'
      operationId: new_budget_budget_new_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetNewRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /budget/update:
    post:
      tags:
      - budget management
      summary: Update Budget
      description: 'Update an existing budget object.


        Parameters:

        - budget_duration: Optional[str] - Budget reset period ("30d", "1h", etc.)

        - budget_id: Optional[str] - The id of the budget. If not provided, a new id will be generated.

        - max_budget: Optional[float] - The max budget for the budget.

        - soft_budget: Optional[float] - The soft budget for the budget.

        - max_parallel_requests: Optional[int] - The max number of parallel requests for the budget.

        - tpm_limit: Optional[int] - The tokens per minute limit for the budget.

        - rpm_limit: Optional[int] - The requests per minute limit for the budget.

        - model_max_budget: Optional[dict] - Specify max budget for a given model. Example: {"openai/gpt-4o-mini": {"max_budget": 100.0, "budget_duration": "1d", "tpm_limit": 100000, "rpm_limit": 100000}}

        - budget_reset_at: Optional[datetime] - Update the Datetime when the budget was last reset.'
      operationId: update_budget_budget_update_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetNewRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /budget/info:
    post:
      tags:
      - budget management
      summary: Info Budget
      description: 'Get the budget id specific information


        Parameters:

        - budgets: List[str] - The list of budget ids to get information for'
      operationId: info_budget_budget_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
  /budget/settings:
    get:
      tags:
      - budget management
      summary: Budget Settings
      description: 'Get list of configurable params + current value for a budget item + description of each field


        Used on Admin UI.


        Query Parameters:

        - budget_id: str - The budget id to get information for'
      operationId: budget_settings_budget_settings_get
      security:
      - APIKeyHeader: []
      parameters:
      - name: budget_id
        in: query
        required: true
        schema:
          type: string
          title: Budget Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /budget/list:
    get:
      tags:
      - budget management
      summary: List Budget
      description: List all the created budgets in proxy db. Used on Admin UI.
      operationId: list_budget_budget_list_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - APIKeyHeader: []
  /budget/delete:
    post:
      tags:
      - budget management
      summary: Delete Budget
      description: 'Delete budget


        Parameters:

        - id: str - The budget id to delete'
      operationId: delete_budget_budget_delete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetDeleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    BudgetRequest:
      properties:
        budgets:
          items:
            type: string
          type: array
          title: Budgets
      type: object
      required:
      - budgets
      title: BudgetRequest
    BudgetConfig:
      properties:
        max_budget:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Budget
        budget_duration:
          anyOf:
          - type: string
          - type: 'null'
          title: Budget Duration
        tpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tpm Limit
        rpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rpm Limit
      type: object
      title: BudgetConfig
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    BudgetNewRequest:
      properties:
        budget_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Budget Id
          description: The unique budget id.
        max_budget:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Budget
          description: Requests will fail if this budget (in USD) is exceeded.
        soft_budget:
          anyOf:
          - type: number
          - type: 'null'
          title: Soft Budget
          description: Requests will NOT fail if this is exceeded. Will fire alerting though.
        max_parallel_requests:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Parallel Requests
          description: Max concurrent requests allowed for this budget id.
        tpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tpm Limit
          description: Max tokens per minute, allowed for this budget id.
        rpm_limit:
          anyOf:
          - type: integer
          - type: 'null'
          title: Rpm Limit
          description: Max requests per minute, allowed for this budget id.
        budget_duration:
          anyOf:
          - type: string
          - type: 'null'
          title: Budget Duration
          description: Max duration budget should be set for (e.g. '1hr', '1d', '28d')
        model_max_budget:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/BudgetConfig'
            type: object
          - type: 'null'
          title: Model Max Budget
          description: 'Max budget for each model (e.g. {''gpt-4o'': {''max_budget'': ''0.0000001'', ''budget_duration'': ''1d'', ''tpm_limit'': 1000, ''rpm_limit'': 1000}})'
        budget_reset_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Budget Reset At
          description: Datetime when the budget is reset
      type: object
      title: BudgetNewRequest
    BudgetDeleteRequest:
      properties:
        id:
          type: string
          title: Id
      type: object
      required:
      - id
      title: BudgetDeleteRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
