openapi: 3.2.0
info:
  title: LiteLLM Coordination Redis Settings API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Coordination Redis Settings
paths:
  /coordination_redis/settings:
    get:
      tags:
      - Coordination Redis Settings
      summary: Get Coordination Redis Settings
      description: 'Get the coordination Redis configuration and available settings.


        Returns:

        - values: current coordination Redis settings, with password/sentinel_password/url redacted

        - fields: all configurable settings with their metadata (type, description, default, section)

        - source: "coordination_redis" | "cache_backend" | "environment" | null'
      operationId: get_coordination_redis_settings_coordination_redis_settings_get
      security:
      - APIKeyHeader: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoordinationRedisSettingsResponse'
    post:
      tags:
      - Coordination Redis Settings
      summary: Update Coordination Redis Settings
      description: 'Save coordination Redis settings under `general_settings.coordination_redis`.


        Parameters:

        - settings: dict - Redis connection params (host, port, username, password, url, ssl, startup_nodes, sentinel_nodes, sentinel_password, service_name). Values may be `os.environ/VAR` references, which are stored as written and resolved at startup


        The settings are written to the `general_settings` row of LiteLLM_Config,

        which startup merges over the yaml config; the proxy picks them up on its

        next restart.'
      operationId: update_coordination_redis_settings_coordination_redis_settings_post
      security:
      - APIKeyHeader: []
      parameters:
      - name: litellm-changed-by
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
          title: Litellm-Changed-By
        description: The litellm-changed-by header enables tracking of actions performed by authorized users on behalf of other users, providing an audit trail for accountability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoordinationRedisSettingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Update Coordination Redis Settings Coordination Redis Settings Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /coordination_redis/settings/test:
    post:
      tags:
      - Coordination Redis Settings
      summary: Check Coordination Redis Connection
      description: 'Test a coordination Redis connection with the provided credentials.


        Parameters:

        - settings: dict - Redis connection params to test. Credential fields sent back as `***REDACTED***` fall back to the saved value


        Builds a throwaway client (never touching global state) and pings it.'
      operationId: check_coordination_redis_connection_coordination_redis_settings_test_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoordinationRedisSettingsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoordinationRedisTestResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    CoordinationRedisSettingsField:
      properties:
        field_name:
          type: string
          title: Field Name
        field_type:
          type: string
          title: Field Type
        field_value:
          anyOf:
          - {}
          - type: 'null'
          title: Field Value
        field_description:
          type: string
          title: Field Description
        field_default:
          anyOf:
          - {}
          - type: 'null'
          title: Field Default
        ui_field_name:
          type: string
          title: Ui Field Name
        section:
          type: string
          enum:
          - connection
          - cluster
          - sentinel
          title: Section
      type: object
      required:
      - field_name
      - field_type
      - field_description
      - ui_field_name
      - section
      title: CoordinationRedisSettingsField
    CoordinationRedisSettingsResponse:
      properties:
        values:
          additionalProperties: true
          type: object
          title: Values
          description: Current coordination Redis settings, with credentials redacted
        fields:
          items:
            $ref: '#/components/schemas/CoordinationRedisSettingsField'
          type: array
          title: Fields
          description: List of all configurable coordination Redis settings with metadata
        source:
          anyOf:
          - type: string
            enum:
            - coordination_redis
            - cache_backend
            - environment
          - type: 'null'
          title: Source
          description: Where the proxy's coordination Redis comes from; null when it has none
      type: object
      required:
      - values
      - fields
      - source
      title: CoordinationRedisSettingsResponse
    CoordinationRedisTestResponse:
      properties:
        status:
          type: string
          title: Status
          description: 'Connection status: ''healthy'' or ''unhealthy'''
        error:
          anyOf:
          - type: string
          - type: 'null'
          title: Error
          description: Error message if the connection failed
      type: object
      required:
      - status
      title: CoordinationRedisTestResponse
    CoordinationRedisSettingsRequest:
      properties:
        settings:
          additionalProperties: true
          type: object
          title: Settings
          description: Coordination Redis connection params
      type: object
      required:
      - settings
      title: CoordinationRedisSettingsRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
