openapi: 3.2.0
info:
  title: LiteLLM Settings API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: Settings
paths:
  /get/mcp_semantic_filter_settings:
    get:
      tags:
      - Settings
      summary: Get Mcp Semantic Filter Settings
      description: 'Get MCP semantic filter configuration.

        Returns current settings for semantic tool filtering.'
      operationId: get_mcp_semantic_filter_settings_get_mcp_semantic_filter_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPSemanticFilterSettingsResponse'
      security:
      - APIKeyHeader: []
  /update/mcp_semantic_filter_settings:
    patch:
      tags:
      - Settings
      summary: Update Mcp Semantic Filter Settings
      description: 'Update MCP semantic filter settings in database.

        Settings will be picked up by all pods within approximately 10 seconds via background polling.'
      operationId: update_mcp_semantic_filter_settings_update_mcp_semantic_filter_settings_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPSemanticFilterSettings'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    MCPSemanticFilterSettings:
      properties:
        enabled:
          type: boolean
          title: Enabled
          description: Enable semantic filtering of MCP tools based on query relevance
          default: false
        embedding_model:
          type: string
          title: Embedding Model
          description: Embedding model to use for semantic similarity (e.g., 'text-embedding-3-small', 'text-embedding-ada-002')
          default: text-embedding-3-small
        top_k:
          type: integer
          maximum: 100.0
          minimum: 1.0
          title: Top K
          description: Number of most relevant tools to return
          default: 10
        similarity_threshold:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Similarity Threshold
          description: Minimum similarity score for tool inclusion (0.0 to 1.0, where 1.0 = exact match)
          default: 0.3
      type: object
      title: MCPSemanticFilterSettings
      description: Configuration for MCP Semantic Tool Filter
    MCPSemanticFilterSettingsResponse:
      properties:
        values:
          additionalProperties: true
          type: object
          title: Values
        field_schema:
          additionalProperties: true
          type: object
          title: Field Schema
      type: object
      required:
      - values
      - field_schema
      title: MCPSemanticFilterSettingsResponse
      description: Response model for MCP semantic filter settings
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
