openapi: 3.2.0
info:
  title: LiteLLM Providers API
  description: "Enterprise Edition \n\nProxy Server to call 100+ LLMs in the OpenAI format. [**Customize Swagger Docs**](https://docs.litellm.ai/docs/proxy/enterprise#swagger-docs---custom-routes--branding)\n\n\U0001F449 [```LiteLLM Admin Panel on /ui```](/ui). Create, Edit Keys with SSO. Having issues? Try [```Fallback Login```](/fallback/login)\n\n\U0001F4B8 [```LiteLLM Model Cost Map```](https://models.litellm.ai/).\n\n\U0001F50E [```LiteLLM Model Hub```](/ui/model_hub_table). See available models on the proxy. [**Docs**](https://docs.litellm.ai/docs/proxy/ai_hub)"
  version: 1.95.0
  x-operator: institution
  x-provenance:
    method: probed
    source: https://llmproxy.uva.nl/openapi.json
    retrieved: '2026-08-19'
    note: Document is generated by the LiteLLM proxy software the University of Amsterdam self-hosts; the deployment, the key issuance and the host (llmproxy.uva.nl, UvA Azure) are the institution's. servers[] added by API Evangelist because the served document omits it; nothing else altered.
servers:
- url: https://llmproxy.uva.nl
  description: University of Amsterdam / Amsterdam University of Applied Sciences shared AI gateway
tags:
- name: providers
paths:
  /public/providers:
    get:
      tags:
      - providers
      summary: Get Supported Providers
      description: Return a sorted list of all providers supported by LiteLLM.
      operationId: get_supported_providers_public_providers_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response Get Supported Providers Public Providers Get
  /public/providers/fields:
    get:
      tags:
      - providers
      summary: Get Provider Fields
      description: Return provider metadata required by the dashboard create-model flow.
      operationId: get_provider_fields_public_providers_fields_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProviderCreateInfo'
                type: array
                title: Response Get Provider Fields Public Providers Fields Get
components:
  schemas:
    ProviderCredentialField:
      properties:
        key:
          type: string
          title: Key
        label:
          type: string
          title: Label
        placeholder:
          anyOf:
          - type: string
          - type: 'null'
          title: Placeholder
        tooltip:
          anyOf:
          - type: string
          - type: 'null'
          title: Tooltip
        required:
          type: boolean
          title: Required
          default: false
        field_type:
          type: string
          enum:
          - text
          - password
          - select
          - upload
          - textarea
          title: Field Type
          default: text
        options:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Options
        default_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Value
      type: object
      required:
      - key
      - label
      title: ProviderCredentialField
    ProviderCreateInfo:
      properties:
        provider:
          type: string
          title: Provider
        provider_display_name:
          type: string
          title: Provider Display Name
        litellm_provider:
          type: string
          title: Litellm Provider
        credential_fields:
          items:
            $ref: '#/components/schemas/ProviderCredentialField'
          type: array
          title: Credential Fields
        default_model_placeholder:
          anyOf:
          - type: string
          - type: 'null'
          title: Default Model Placeholder
      type: object
      required:
      - provider
      - provider_display_name
      - litellm_provider
      - credential_fields
      title: ProviderCreateInfo
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: Bearer token
      in: header
      name: x-litellm-api-key
